<template>
    <div v-if="buffarray.length > 0">
        <span v-for="buffData in buffarray" class="d-inline-block position-relative">
            <img :src="buffData.buff.icon" :title="buffData.buff.name + ' - ' + buffData.buff.id" :alt="buffData.buff.name + ' - ' + buffData.buff.id" class="icon-s" />
            <span v-if="buffData.state > 1" class="buff-number">{{buffData.state}}</span>
        </span>
    </div>
</template>

<script>
    Vue.component("combat-replay-actor-buff", {
        props: ["buffarray"],
        template: `${template}`
    });
</script>