<template>
    <div v-if="hasBreakbarPercent" class="cr-breakbar-phase-display mb-1">
        <ul class="nav nav-pills d-flex flex-row flex-wrap justify-content-center">
            <li class="nav-item" v-for="(phase, id) in breakbarPhases"
                @click="updatePhaseTime(phase)"
                :data-original-title="getTooltip(phase)">
                <a class="nav-link">{{id + 1}} </a>
            </li>
        </ul>
    </div>
</template>

<script>
    Vue.component("combat-replay-actor-breakbars-component", {
        mixins: [encounterPhaseComponent, numberComponent],
        props: ["actorIndex", "isTarget"],
        template: `${template}`,
        methods: {
            updatePhaseTime: function (phase) {
                animationControlComponent.updatePhaseTime(phase);
            },
            getTooltip: function(phase) {
                var target = logData.targets[this.actorIndex];
                var phaseId = logData.phases.indexOf(phase);
                var breakbarTaken = target.details.dmgDistributionsTaken[phaseId].contributedBreakbarDamage;
                return this.numberFormater3(phase.durationS) + ' seconds <br /> Start: ' + this.numberFormater3(phase.start) + 's<br /> End: ' + this.numberFormater3(phase.end) +
                    's<br /> Breakbar Active at: ' + this.numberFormater3(phase.breakbarStart) +
                    '<br /> Breakbar Damage: ' + this.numberFormater1(breakbarTaken) +
                    '<br /> Breakbar Recovered (Regeneration + Soft CC): ' + this.numberFormater1(phase.breakbarRecovered);
            },
        },
        computed: {
            actorPhaseTargetIndex: function() {
                if (this.isTarget) {
                    return this.encounterPhase.targets.indexOf(this.actorIndex);
                }
                return -1;
            },
            breakbar: function () {
                if (this.isTarget) {
                    if (this.actorPhaseTargetIndex > -1) {
                        return graphData.phases[this.encounterPhase.id].targets[this.actorPhaseTargetIndex].breakbarPercentStates;
                    }
                    return graphData.phases[0].targetsBreakbarPercentStatesForCR[this.actorIndex];
                }

                return null;
            },
            breakbarPhases: function () {
                if (!this.hasBreakbarPercent) {
                    return [];
                }
                return logData.phases.filter(phase => phase.breakbarPhase && phase.targets.indexOf(this.actorIndex) > -1);
            },
            hasBreakbarPercent: function () {
                return !!this.breakbar;
            }
        }
    });
</script>