<template>
    <div class="text-white" @click="select">
        <div class="actor-status" :style="{'background': getActorGradient(time, status), 'height': getActorHeight()}">
            <p class="mb-0 scale65">
                {{percentageFormater(healths, time)}} %
            </p>

            <h6 class="text-center mb-0 ellipis align-self-center">
                <img v-for="(marker, _) in activeMarkers()" :src="marker.imageUrl" height="16" width="16">
                <img :src="actor.icon" :alt="actor.profession" height="16" width="16">
                {{actor.name}}
            </h6>

            <p class="mb-0 scale65 ml-auto">
                {{percentageFormater(barriers, time)}} %
            </p>
        </div>

        <div v-if="hasBreakbar" :style="{'background': getBreakbarGradient(time)}">
            <p class="text-center scale65 m-0">
                {{percentageFormater(breakbar, time)}} %
            </p>
        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-actor-status-component", {
        props: ["isTarget", "actorIndex", "time"],
        template: `${template}`,
        methods: {
            activeMarkers: function () {
                return animator.getActiveActorMarkers(this.actor.uniqueID);
            },
            select: function () {
                animator.selectActor(this.actor.uniqueID);
            },
            hasBarrier: function (time) {
                const barrierPercent = this.getPercent(this.barriers, time);
                return this.barriers && barrierPercent > 0;
            },
            getPercent: function (state, time) {
                if (!state) {
                    return 100;
                }
                return findState(state, time / 1000.0, 0, state.length - 1);
            },
            getActorGradient: function (time, status) {
                const color = status === 0 ? 'black' : status === 1 ? 'red' : status === 2 ? 'grey' : 'green';
                const healthPercent = this.getPercent(this.healths, time);
                const healthGradient = computeGradient(color, healthPercent, 'black');

                if (!this.hasBarrier(time)) {
                    return healthGradient;
                }

                const barrierPercent = this.getPercent(this.barriers, time);
                const barrierGradient = computeGradient('transparent', Math.min(100 - barrierPercent, healthPercent), 'rgb(115, 138, 49)');
                const remainingHealthGradient = computeGradient('transparent', Math.min(100, barrierPercent + healthPercent), 'black');
                return remainingHealthGradient + ',' + barrierGradient + ',' + healthGradient;
            },
            getBreakbarGradient: function (time) {
                var color = animator.getActorData(this.actor.uniqueID).isBreakbarActive() ? "#20B2AA" : "#888888";
                return computeGradient(color, this.getPercent(this.breakbar, time), 'black');
            },
            percentageFormater: function (healths, time) {
                const percent = this.getPercent(healths, time);
                return (Math.round(percent * 100) / 100).toFixed(2);
            },
            getActorHeight: function () {
                if (this.isTarget) {
                    return '35px';
                }

                return '28px';
            }
        },
        computed: {
            phase: function () {
                return logData.phases[0];
            },
            status: function () {
                var crPData = animator.getActorData(this.actor.uniqueID);
                var icon = crPData.getIcon(this.time);
                return icon === deadIcon ? 0 : icon === downAllyIcon || icon === downEnemyIcon ? 1 : icon === dcIcon ? 2 : 3;
            },
            actor: function () {
                if (this.isTarget) {
                    return logData.targets[this.actorIndex];
                }

                return logData.players[this.actorIndex];
            },
            healths: function () {
                if (this.isTarget) {
                    return graphData.phases[0].targetsHealthStatesForCR[this.actorIndex];
                }

                return graphData.phases[0].players[this.actorIndex].healthStates;
            },
            barriers: function () {
                if (this.isTarget) {
                    return graphData.phases[0].targetsBarrierStatesForCR[this.actorIndex];
                }

                return graphData.phases[0].players[this.actorIndex].barrierStates;
            },
            breakbar: function () {
                if (this.isTarget) {
                    return graphData.phases[0].targetsBreakbarPercentStatesForCR[this.actorIndex];
                }

                return null;
            },
            hasHealth: function () {
                return !!this.healths;
            },
            hasBreakbar: function () {
                return !!this.breakbar;
            },
            
        }
    });
</script>