<div>
    
        <h3 v-for="player in players" :key="player.id" v-if="!player.isConjure" v-show="player.id === activeplayer" class="text-center mt-2"><img :alt="player.profession" class="icon" :src="player.icon">{{player.name}}</h3>
        <ul class="nav nav-tabs" v-show="activeplayer > -1">
            <li>
                <a class="nav-link" :class="{active: tabmode === 0}" @click="tabmode = 0">
                    Damage
                    Distribution
                </a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tabmode === 1}" @click="tabmode = 1">
                    Damage
                    Taken
                </a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tabmode === 2}" @click="tabmode = 2">Graph</a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tabmode === 3}" @click="tabmode = 3">
                    Simple
                    Rotation
                </a>
            </li>
            <a class="nav-link" v-show="hasDeaths" :class="{active: tabmode === 4}" @click="tabmode = 4">
                Death
                Recap
            </a>
        </ul>
    <keep-alive>
        <player-tab-component v-for="player in players" :key="player.id" v-if="player.id === activeplayer && !player.isConjure"
            :playerindex="player.id" :tabmode="tabmode"
            :phaseindex="phaseindex" :activetargets="activetargets" :light="light"></player-tab-component>
    </keep-alive>
    <div v-if="activeplayer === -1">
        <h3 class="text-center">No player selected</h3>
    </div>
</div>