<div>
    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="id">
        <thead>
            <tr>
                <th>Sub</th>
                <th></th>
                <th class="text-left">Name</th>
                <th v-for="modifier in modifiers" :data-original-title="modifier.name">
                    <img :src="modifier.icon" :alt="modifier.name" class="icon icon-hover">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in (mode ? tableDataTarget.rows : tableData.rows)" :class="{active: row.player.id === playerindex}">
                <td>{{row.player.group}}</td>
                <td :data-original-title="row.player.profession">
                    <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span style="display:none">{{row.player.profession}}</span>
                </td>
                <td class="text-left">{{row.player.name}}</td>
                <td v-for="(modifier, index) in modifiers" :data-original-title="getTooltip(row.data[index])">
                    {{getCellValue(row.data[index])}}
                </td>
            </tr>
        </tbody>
        <tfoot v-if="sum">
            <tr v-for="row in (mode ? tableDataTarget.sums : tableData.sums)">
                <td></td>
                <td></td>
                <td class="text-left">{{row.name}}</td>
                <td v-for="(modifier, index) in modifiers" :data-original-title="getTooltip(row.data[index])">
                    {{getCellValue(row.data[index])}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>