<div>
    <table class="table composition">
        <tbody>
            <tr v-for="group in groups">
                <td v-for="player in group" class="player-cell" :class="{active: player.active}" @click="select(player,groups)">
                    <div>
                        <img :src="player.icon" :alt="player.profession" class="icon" :data-original-title="player.profession">
                        <img v-if="player.condi > 0" src="https://wiki.guildwars2.com/images/5/54/Condition_Damage.png"
                            alt="Condition Damage" class="icon" :data-original-title="'Condition Damage: ' + player.condi">
                        <img v-if="player.conc > 0" src="https://wiki.guildwars2.com/images/4/44/Boon_Duration.png" alt="Concentration"
                            class="icon" :data-original-title="'Concentration: ' + player.conc">
                        <img v-if="player.heal > 0" src="https://wiki.guildwars2.com/images/8/81/Healing_Power.png" alt="Healing Power"
                            class="icon" :data-original-title="'Healing Power: ' + player.heal">
                        <img v-if="player.tough > 0" src="https://wiki.guildwars2.com/images/1/12/Toughness.png" alt="Toughness"
                            class="icon" :data-original-title="'Toughness: ' + player.tough">
                    </div>
                    <div>
                        <img v-for="wep in player.firstSet" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                        <span v-if="player.firstSet.length > 0 && player.secondSet.length > 0">/</span>
                        <img v-for="wep in player.secondSet" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                    </div>
                    <div class="shorten" :data-original-title="player.acc">
                        {{ player.name }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>