<div>
    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="dps-table">
        <thead>
            <tr>
                <th>Sub</th>
                <th></th>
                <th class="text-left">Name</th>
                <th>Account</th>
                <th v-if="!wvw">Target DPS</th>
                <th v-else>Target Damage</th>
                <th>Power</th>
                <th>Condi</th>
                <th v-if="!wvw">All DPS</th>
                <th v-else>All Damage</th>
                <th>Power</th>
                <th>Condi</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in tableData.rows" :class="{active: row.player.id === playerindex}">
                <td>{{row.player.group}}</td>
                <td :data-original-title="row.player.profession">
                    <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span style="display:none">{{row.player.profession}}</span>
                </td>
                <td class="text-left">{{row.player.name}}</td>
                <td>{{row.player.acc}}</td>
                <td v-if="!wvw" :data-original-title="row.dps[0] + ' dmg'+ '<br>' + computeTotalContribution(0, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 0, row.dps,tableData.sums)">{{round(row.dps[0]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(row.dps[0]/phase.durationS) + ' dps'+ '<br>' + computeTotalContribution(0, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 0, row.dps,tableData.sums)">{{row.dps[0]}}</td>
                <td v-if="!wvw" :data-original-title="row.dps[1] + ' dmg'+ '<br>' + computeTotalContribution(1, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 1, row.dps,tableData.sums)">{{round(row.dps[1]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(row.dps[1]/phase.durationS) + ' dps'+ '<br>' + computeTotalContribution(1, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 1, row.dps,tableData.sums)">{{row.dps[1]}}</td>
                <td v-if="!wvw" :data-original-title="row.dps[2] + ' dmg'+ '<br>' + computeTotalContribution(2, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 2, row.dps,tableData.sums)">{{round(row.dps[2]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(row.dps[2]/phase.durationS) + ' dps'+ '<br>' + computeTotalContribution(2, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 2, row.dps,tableData.sums)">{{row.dps[2]}}</td>
                <td v-if="!wvw" :data-original-title="row.dps[3] + ' dmg'+ '<br>' + computeTotalContribution(3, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 3, row.dps,tableData.sums)">{{round(row.dps[3]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(row.dps[3]/phase.durationS) + ' dps'+ '<br>' + computeTotalContribution(3, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 3, row.dps,tableData.sums)">{{row.dps[3]}}</td>
                <td v-if="!wvw" :data-original-title="row.dps[4] + ' dmg'+ '<br>' + computeTotalContribution(4, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 4, row.dps,tableData.sums)">{{round(row.dps[4]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(row.dps[4]/phase.durationS) + ' dps'+ '<br>' + computeTotalContribution(4, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 4, row.dps,tableData.sums)">{{row.dps[4]}}</td>
                <td v-if="!wvw" :data-original-title="row.dps[5] + ' dmg'+ '<br>' + computeTotalContribution(5, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 5, row.dps,tableData.sums)">{{round(row.dps[5]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(row.dps[5]/phase.durationS) + ' dps'+ '<br>' + computeTotalContribution(5, row.dps,tableData.sums)+ '<br>'+ computeGroupContribution(row.player.group, 5, row.dps,tableData.sums)">{{row.dps[5]}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr v-for="sum in tableData.sums">
                <td></td>
                <td></td>
                <td class="text-left">{{sum.name}}</td>
                <td></td>
                <td v-if="!wvw" :data-original-title="sum.dps[0] + ' dmg'">{{round(sum.dps[0]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(sum.dps[0]/phase.durationS) + ' dps'">{{sum.dps[0]}}</td>
                <td v-if="!wvw" :data-original-title="sum.dps[1] + ' dmg'">{{round(sum.dps[1]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(sum.dps[1]/phase.durationS) + ' dps'">{{sum.dps[1]}}</td>
                <td v-if="!wvw" :data-original-title="sum.dps[2] + ' dmg'">{{round(sum.dps[2]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(sum.dps[2]/phase.durationS) + ' dps'">{{sum.dps[2]}}</td>
                <td v-if="!wvw" :data-original-title="sum.dps[3] + ' dmg'">{{round(sum.dps[3]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(sum.dps[3]/phase.durationS) + ' dps'">{{sum.dps[3]}}</td>
                <td v-if="!wvw" :data-original-title="sum.dps[4] + ' dmg'">{{round(sum.dps[4]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(sum.dps[4]/phase.durationS) + ' dps'">{{sum.dps[4]}}</td>
                <td v-if="!wvw" :data-original-title="sum.dps[5] + ' dmg'">{{round(sum.dps[5]/phase.durationS)}}</td>
                <td v-else :data-original-title="round(sum.dps[5]/phase.durationS) + ' dps'">{{sum.dps[5]}}</td>
            </tr>
        </tfoot>
    </table>
</div>