<div>
    <h3 class="card-header text-center">{{ encounter.name }}</h3>
    <div class="card-body container">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img class="mr-3 icon-xl" :src="encounter.icon" :alt="encounter.name">
            <div class="ml-3 d-flex flex-column justify-content-center">
                <div class="mb-2" v-for="target in encounter.targets">
                    <div v-if="encounter.targets.length > 1" class="small" style="text-align:center;">
                        {{target.name}}
                    </div>
                    <div :style="{'background': getGradient(target.hpLeft ? target.hpLeft : 0), 'height': '10px', 'width': '100%', 'border-radius': '5px'}" :data-original-title="(target.hpLeft ? target.hpLeft : 0) + '% left'">

                    </div>
                    <div class="small" style="text-align:center;">
                        {{ target.health }} Health
                    </div>
                </div>
                <div class="mb-2 text" :class="resultStatus.class">
                    Result: {{resultStatus.text}}
                </div>
                <div class="mb-2">Duration: {{ encounter.duration }}</div>
            </div>
        </div>
    </div>
</div>
