<div>
    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="sup-table">
        <thead>
            <tr>
                <th>Sub</th>
                <th></th>
                <th class="text-left">Name</th>
                <th>Account</th>
                <th>Condi Cleanse</th>
                <th>Condi Cleanse From Self</th>
                <th>Boon Strips</th>
                <th>Resurrects</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in tableData.rows" :class="{active: row.player.id === playerindex}">
                <td>{{row.player.group}}</td>
                <td :data-original-title="row.player.profession">
                    <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span style="display:none">{{row.player.profession}}</span>
                </td>
                <td class="text-left">{{row.player.name}}</td>
                <td>{{row.player.acc}}</td>
                <td :data-original-title="row.sup[1] + ' seconds'">{{row.sup[0]}}</td>
                <td :data-original-title="row.sup[3] + ' seconds'">{{row.sup[2]}}</td>
                <td :data-original-title="row.sup[5] + ' seconds'">{{row.sup[4]}}</td>
                <td :data-original-title="row.sup[7] + ' seconds'">{{row.sup[6]}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr v-for="sum in tableData.sums">
                <td></td>
                <td></td>
                <td class="text-left">{{sum.name}}</td>
                <td></td>
                <td :data-original-title="round3(sum.sup[1]) + ' seconds'">{{sum.sup[0]}}</td>
                <td :data-original-title="round3(sum.sup[3])  + ' seconds'">{{sum.sup[2]}}</td>
                <td :data-original-title="round3(sum.sup[5])  + ' seconds'">{{sum.sup[4]}}</td>
                <td :data-original-title="round3(sum.sup[7])  + ' seconds'">{{sum.sup[6]}}</td>
            </tr>
        </tfoot>
    </table>
</div>