<#@ template debug="false" hostspecific="false" language="C#" #>
using System.Reflection;

[assembly: AssemblyVersion("1.8.<#= this.BuildNumber #>.<#= this.RevisionNumber #>")]
[assembly: AssemblyFileVersion("1.8.<#= this.BuildNumber #>.<#= this.RevisionNumber #>")]
<#+
    int BuildNumber = (int)(DateTime.UtcNow - new DateTime(2018,9,25)).TotalDays;
#>
<#+
    int RevisionNumber = (int)(DateTime.Now - DateTime.Today).TotalSeconds / 2;
#>