<template>
    <div class="d-flex flex-column justify-content-center align-items-center" style="max-width: 500px;">           
        <h4>General Settings</h4>
        <div class="d-flex flex-row justify-content-center flex-wrap">
            <div class="form-check mb-2 mr-2" :data-original-title="'Viewpoint will follow selected actor, as long as selected actor is drawn'">
                <input type="checkbox" class="form-check-input" id="followCheck" 
                    :checked="getAnimator().displaySettings.followSelected" v-on:change="getAnimator().toggleFollowSelected()">
                <label class="form-check-label" for="followCheck">Follow Selected</label>
            </div>
            <div class="form-check mb-2 mr-2" :data-original-title="'Selected player in green, group in blue'">
                <input type="checkbox" class="form-check-input" id="subgroupCheck" 
                    :checked="getAnimator().displaySettings.highlightSelectedGroup" v-on:change="getAnimator().toggleHighlightSelectedGroup()">
                <label class="form-check-label" for="subgroupCheck">Highlight Selected Group</label>
            </div>
            <div v-if="showSecondaryNPCs" class="form-check mb-2 mr-2" :data-original-title="'Display not important NPCs in the arena'">
                <input type="checkbox" class="form-check-input" id="trashCheck" 
                    :checked="getAnimator().displaySettings.displayTrashMobs" v-on:change="getAnimator().toggleTrashMobs()">
                <label class="form-check-label" for="trashCheck">Secondary NPCs</label>
            </div> 
            <div v-if="showMechanics" class="form-check mb-2 mr-2" :data-original-title="'Encounter mechanics'">
                <input type="checkbox" class="form-check-input" id="mechanicsCheck" 
                    :checked="getAnimator().displaySettings.displayMechanics" v-on:change="getAnimator().toggleMechanics()">
                <label class="form-check-label" for="mechanicsCheck">Mechanics</label>
            </div>
            <div v-if="showSquadMarkers" class="form-check mb-2 mr-2" :data-original-title="'Squad markers, on the ground and on players'">
                <input type="checkbox" class="form-check-input" id="markersCheck" 
                    :checked="getAnimator().displaySettings.displaySquadMarkers" v-on:change="getAnimator().toggleSquadMarkers()">
                <label class="form-check-label" for="markersCheck">Markers</label>
            </div>
            <div v-if="showSkills" class="form-check mb-2 mr-2" :data-original-title="'Player skills'">
                <input type="checkbox" class="form-check-input" id="skillsCheck" 
                    :checked="getAnimator().displaySettings.displaySkillMechanics" v-on:change="getAnimator().toggleSkills()">
                <label class="form-check-label" for="skillsCheck">Skills</label>
            </div>
            <div class="form-check mb-2 mr-2" :data-original-title="'Use the in game hitbox size'">
                <input type="checkbox" class="form-check-input" id="actorHitboxCheck" 
                    :checked="getAnimator().displaySettings.useActorHitboxWidth" v-on:change="getAnimator().toggleUseActorHitboxWidth()">
                <label class="form-check-label" for="actorHitboxCheck">Use Hitbox Size</label>
            </div> 
            <div class="form-check mb-2 mr-2" :data-original-title="'Display all minions'">
                <input type="checkbox" class="form-check-input" id="allMinionsCheck" 
                    :checked="getAnimator().displaySettings.displayAllMinions" v-on:change="getAnimator().toggleDisplayAllMinions()">
                <label class="form-check-label" for="allMinionsCheck">All Minions</label>
            </div>     
            <div class="form-check mb-2 mr-2" :data-original-title="'Display current selection minions'">
                <input type="checkbox" class="form-check-input" id="selectedMinionsCheck" 
                    :checked="getAnimator().displaySettings.displaySelectedMinions" v-on:change="getAnimator().toggleDisplaySelectedMinions()">
                <label class="form-check-label" for="selectedMinionsCheck">Selected's Minions</label>
            </div>
        </div>
        <div v-if="showSkills" class="d-flex flex-column justify-content-center align-items-center" style="max-width: 500px;">
            <h4>Global Skill Settings</h4>
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="form-check mb-2 mr-2" v-for="skillCategory in skillCategories">
                    <input type="checkbox" class="form-check-input" :id="skillCategory.key" 
                        :checked="(getAnimator().displaySettings.skillMechanicsMask & skillCategory.mask) > 0" v-on:change="getAnimator().toggleSkillCategoryMask(skillCategory.mask)">
                    <label class="form-check-label" :for="skillCategory.key">{{skillCategory.key}}</label>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="mr-3">
                <h4>Range Selectors</h4>
                <div class="form-check mt-1 mb-2">
                    <input type="checkbox" class="form-check-input" id="circle1Check" 
                        :checked=" getAnimator().rangeControl[0].enabled" v-on:change="getAnimator().toggleRange(0)">
                    <label class="form-check-label" for="circle1Check">Circle 1</label>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <span>Radius: </span>
                    <custom-numberform-component style="width: 100px;" :minValue="1" :id="'circle1Text'"
                                                        :placeholderValue="getAnimator().rangeControl[0].radius"></custom-numberform-component>
                </div>
                <div class="form-check mt-1 mb-2">
                    <input type="checkbox" class="form-check-input" id="circle2Check" 
                        :checked=" getAnimator().rangeControl[1].enabled" v-on:change="getAnimator().toggleRange(1)">
                    <label class="form-check-label" for="circle2Check">Circle 2</label>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <span>Radius: </span>
                    <custom-numberform-component style="width: 100px;" :minValue="1" :id="'circle2Text'"
                                                        :placeholderValue="getAnimator().rangeControl[1].radius"></custom-numberform-component>
                </div>
                <div class="form-check mt-1 mb-2">
                    <input type="checkbox" class="form-check-input" id="circle3Check" 
                        :checked=" getAnimator().rangeControl[2].enabled" v-on:change="getAnimator().toggleRange(2)">
                    <label class="form-check-label" for="circle3Check">Circle 3</label>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <span>Radius: </span>
                    <custom-numberform-component style="width: 100px;" :minValue="1" :id="'circle3Text'"
                                                        :placeholderValue="getAnimator().rangeControl[2].radius"></custom-numberform-component>
                </div>
            </div>
            <div class="ml-3">
                <h4 data-original-title="Has an effect only when facing arrow are present">Cone Indicator</h4>
                <div class="form-check mt-1 mb-2">
                    <input type="checkbox" class="form-check-input" id="coneCheck" 
                        :checked=" getAnimator().coneControl.enabled" v-on:change="getAnimator().toggleConeDisplay()">
                    <label class="form-check-label" for="coneCheck">Display Cone</label>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center mb-1">
                    <span>Radius: </span>
                    <custom-numberform-component style="width: 100px;" :minValue="1" :id="'coneRadiusText'"
                                                        :placeholderValue="getAnimator().coneControl.radius"></custom-numberform-component>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center mt-1">
                    <span>Opening: </span>
                    <custom-numberform-component style="width: 100px;" :minValue="1" :maxValue="360" :id="'coneAngleText'"
                                                        :placeholderValue="getAnimator().coneControl.openingAngle"></custom-numberform-component>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    Vue.component("combat-replay-extra-decorations-component", {
        props: ["light"],
        template: `${template}`,
        data: function() {
            return {
                showSkills: animator.skillMechanicActorData.length > 0,
                showMechanics: animator.overheadActorData.length + animator.mechanicActorData.length > 0,
                showSquadMarkers: animator.squadMarkerData.length + animator.overheadSquadMarkerData.length > 0,
                showSecondaryNPCs: animator.trashMobData.size > 0,
            };
        },
        methods: {
            getAnimator: function () {
                return animator;
            }
        },
        computed: {
            skillCategories: function() {
                var res = [];
                for (var key in SkillDecorationCategory) {
                    res.push({key: key, mask: SkillDecorationCategory[key]});
                }
                return res;
            }
        },
        mounted() {
            $('#circle1Text').on("input ", function () {
                animator.setRangeRadius(0, $(this).val());
            });
            $('#circle2Text').on("input ", function () {
                animator.setRangeRadius(1, $(this).val());
            });
            $('#circle3Text').on("input ", function () {
                animator.setRangeRadius(2, $(this).val());
            });
            $('#coneRadiusText').on("input ", function () {
                animator.setConeRadius($(this).val());
            });
            $('#coneAngleText').on("input ", function () {
                animator.setConeAngle($(this).val());
            });
        }
    });
</script>