<template>
    <div class="player-status" :style="{'background': getHPGradient(time, status)}" @click="select">
        <h6 class="actor-shorten text-center" :title="player.name">
            <img v-if="player.isCommander"
                            src="https://wiki.guildwars2.com/images/5/54/Commander_tag_%28blue%29.png" alt="Commander"
                            height="18" width="18" data-original-title="Commander">
            <img :src="player.icon" :alt="player.profession" height="18" width="18">
            {{player.name}}
        </h6>
        <p v-if="hasHealth" class="text-right cr-hp-display cr-hp-display-player">
            {{(Math.round(100*getHPPercent(time))/100).toFixed(2)}} %
        </p>
        <p v-if="hasBarrier" class="text-right cr-barrier-display cr-barrier-display-player">
            {{(Math.round(100*getBarrierPercent(time))/100).toFixed(2)}} %
        </p>      
        <div v-if="hasBarrier" class="cr-barrier" :style="{'background': getBarrierGradient(time)}">

        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-player-status-component", {
        props: ["playerindex", "time"],
        template: `${template}`,
        methods: {
            getHPPercent: function (time) {
                if (!this.hasHealth) {
                    return 100;
                }
                return findState(this.healths, time/1000.0, 0, this.healths.length - 1);
            },
            getBarrierPercent: function (time) {
                if (!this.hasBarrier) {
                    return 0;
                }
                return findState(this.barriers, time/1000.0, 0, this.barriers.length - 1);
            },
            getHPGradient: function (time, status) {
                var color = status === 0 ? 'black' : status === 1 ? 'red' : status === 2 ? 'grey' : 'green';
                return computeGradient(color, this.getHPPercent(time), 'black');
            },
            getBarrierGradient: function (time) {
                return computeGradient('rgba(0,0,0,0)', 100 - this.getBarrierPercent(time), 'rgba(228,148,97, 0.5)' );
            },
            select() {
                animator.selectActor(this.player.uniqueID);
            }
        },
        computed: {
            phase: function () {
                return logData.phases[0];
            },
            player: function () {
                return logData.players[this.playerindex];
            },
            healths: function () {
                return graphData.phases[0].players[this.playerindex].healthStates;
            },
            barriers: function () {
                return graphData.phases[0].players[this.playerindex].barrierStates;
            },
            status: function () {
                var crPData = animator.getActorData(this.player.uniqueID);
                var icon = crPData.getIcon(this.time);
                return icon === deadIcon ? 0 : icon === downIcon ? 1 : icon === dcIcon ? 2 : 3;
            },
            hasHealth: function () {
                return !!this.healths;
            },
            hasBarrier: function () {
                return !!this.barriers;
            }
        }
    });
</script>
