<template>
    <div>
        <div class="d-flex flex-row justify-content-center">
            <div v-if="rowPageCount > 0" style="width:25px;">
                <table-scroll-component :min="0" :max="rowPageCount" :width="'230px'" :height="'10px'" :transform="colPageCount > 0 ? 'translate(-100px, 210px) rotate(90deg)' : 'translate(-100px, 185px) rotate(90deg)' " :pagestructure="rowStructure"></table-scroll-component>
            </div>
            <div>
                <div v-if="colPageCount > 0">
                    <table-scroll-component :min="0" :max="colPageCount" :width="'200px'" :height="'10px'" :transform="'translate(350px, 5px)'" :pagestructure="colStructure"></table-scroll-component>
                </div>
                <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="tableid">
                    <thead>
                        <tr>
                            <th class="prof-cell" :class="getHeaderClass('Prof')" @click="sortBy('Prof')"></th>
                            <th class="name-cr-cell text-left" :class="getHeaderClass('Name')" @click="sortBy('Name')">
                                Name
                            </th>
                            <th class="damage-cr-cell-small" :class="getHeaderClass('All')" @click="sortBy('All')">
                                All
                            </th>
                            <th class="damage-cr-cell-small" :class="getHeaderClass('Taken')" @click="sortBy('Taken')">
                                Taken
                            </th>
                            <th v-if="!targetless" v-for="(col, colIndex) in tableData.cols" v-show="isInColPage(colIndex)"
                                class="damage-cr-cell" :class="getHeaderClass('Target', colIndex)" @click="sortBy('Target', colIndex)">
                                <span class="cr-ellipsis" :data-original-title="col.name">
                                    {{col.name}}
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, rowIndex) in sortData(tableData.rows)" 
                            :class="{active: row.player.uniqueID === playerid}" 
                            v-show="isInRowPage(rowIndex)" @click="select(row.player)"
                            @mousedown="startSelect"
                            style="cursor: pointer;">
                            <td :class="getBodyClass('Prof')" :title="row.player.profession">
                                <img :src="row.player.icon" :alt="row.player.profession" class="icon">
                                <span style="display:none">
                                    {{row.player.profession}}
                                </span>
                            </td>
                            <td class="text-left" :class="getBodyClass('Name')">
                                <span class="cr-ellipsis" :title="row.player.name + ' - ' + row.player.acc">
                                    {{row.player.name}}
                                </span>
                            </td>
                            <td :class="getBodyClass('All')">
                                {{tableRound(row.dps[row.dps.length - 1])}}
                            </td>
                            <td :class="getBodyClass('Taken')">
                                {{tableRound(row.dps[row.dps.length - 2])}}
                            </td>
                            <td v-if="!targetless" v-for="(col, colIndex) in tableData.cols" v-show="isInColPage(colIndex)"
                                :class="getBodyClass('Target', colIndex)">
                                {{tableRound(row.dps[colIndex])}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr v-for="sum in tableData.sums">
                            <td></td>
                            <td>
                                {{sum.name}}
                            </td>
                            <td>
                                {{tableRound(sum.dps[sum.dps.length - 1])}}
                            </td>
                            <td>
                                {{tableRound(sum.dps[sum.dps.length - 2])}}
                            </td>
                            <td v-if="!targetless" v-for="(col, colIndex) in tableData.cols" v-show="isInColPage(colIndex)">
                                {{tableRound(sum.dps[colIndex])}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-damage-stats-component", {
        mixins: [timeRefreshComponent, numberComponent, sortedTableComponent, colSliderComponent(2), rowSliderComponent(10)],
        props: ["playerid", "graphdata"],
        template: `${template}`,
        data: function () {
            return {
                targetless: logData.targetless,
                sortdata: {
                    order: "desc",
                    index: -1,
                    key: "All"
                },
                mouseDownStart: 0,
            };
        },
        methods: {
            tableRound: function (value) {
                return this.graphdata.damagemode == GraphType.Breakbar ? this.round1(value) : this.round(value)
            },
            sortBy: function (key, index) {
                this.sortByBase(this.sortdata, key, index);
            },
            getHeaderClass: function (key, index) {
                return this.getHeaderClassBase(this.sortdata, key, index);
            },
            getBodyClass: function (key, index) {
                const classes = this.getBodyClassBase(this.sortdata, key, index);
                return classes;
            },
            sortData: function (rows) {
                const order = this.sortdata.order === "asc" ? 1 : -1;
                switch (this.sortdata.key) {
                    case "Prof":
                        rows.sort((x, y) => order * this.sortByPlayerProfession(x, y) || this.sortByPlayerName(x, y));
                        break;
                    case "Name":
                        rows.sort((x, y) => order * this.sortByPlayerName(x, y));
                        break;
                    case "All":
                        rows.sort((x, y) => order * (x.dps[x.dps.length - 1] - y.dps[y.dps.length - 1]) || this.sortByPlayerName(x, y));
                        break;
                    case "Taken":
                        rows.sort((x, y) => order * (x.dps[x.dps.length - 2] - y.dps[y.dps.length - 2])) || this.sortByPlayerName(x, y);
                        break;
                    case "Target":
                        const index = this.sortdata.index;
                        rows.sort((x, y) => order * (x.dps[index] - y.dps[index]) || this.sortByPlayerName(x, y));
                        break;
                    default:
                        return null;
                        break;
                }
                return rows;
            },
            startSelect() {
                this.mouseDownStart = Date.now();
            },
            select(player) {
                const mouseUp = Date.now();
                if (mouseUp - this.mouseDownStart < 150) {
                    animator.selectActor(player.uniqueID);
                }
            }
        },
        created() {
            const allTargets = [];
            for (let j = 0; j < this.targets.length; j++) {
                const activeTargets = [j];
                allTargets.push(j);
                const cacheID = getDPSGraphCacheID(this.graphdata.dpsmode, this.graphdata.damagemode, this.graphdata.graphmode, activeTargets, 0, null);
                // compute dps for all players
                for (let i = 0; i < logData.players.length; i++) {
                    computePlayerDPS(logData.players[i], this.graph[i].damage, this.graphdata.dpsmode, null, activeTargets, cacheID, this.phase.times, this.graphdata.graphmode, this.graphdata.damagemode);
                }
            }
            const cacheID = getDPSGraphCacheID(this.graphdata.dpsmode, this.graphdata.damagemode, this.graphdata.graphmode, allTargets, 0, null);
            // compute dps for all players
            for (let i = 0; i < logData.players.length; i++) {
                computePlayerDPS(logData.players[i], this.graph[i].damage, this.graphdata.dpsmode, null, allTargets, cacheID, this.phase.times, this.graphdata.graphmode, this.graphdata.damagemode);
            }
        },
        computed: {
            colPageCount: function() {
                return this.tableData.cols.length - this.colStructure.perpage;
            },
            rowPageCount: function() {
                return this.tableData.rows.length - this.rowStructure.perpage;
            },
            tableid: function () {
                return "combat-replay-dps-table";
            },
            phase: function () {
                return logData.phases[0];
            },
            targets: function () {
                return this.phase.targets;
            },
            graph: function () {
                return graphData.phases[0].players;
            },
            graphModeEnum: function () {
                return GraphType;
            },
            hasBreakbarDamage: function () {
                return logData.hasBreakbarDamage;
            },
            damageGraphName: function () {
                switch (this.graphdata.damagemode) {
                    case DamageType.All:
                        return "damage";
                    case DamageType.Power:
                        return "powerDamage";
                    case DamageType.Condition:
                        return "conditionDamage";
                    case DamageType.Breakbar:
                        return "breakbarDamage";
                    default:
                        throw new Error("unknown enum in damage graph name");
                }
            },
            tableData: function () {
                const rows = [];
                const cols = [];
                const sums = [];
                const total = [];
                const tS = this.timeToUse / 1000.0;
                const curTime = Math.floor(tS);
                let nextTime = curTime + 1;
                const dur = Math.floor(this.phase.end - this.phase.start);
                if (nextTime == dur + 1 && this.phase.needsLastPoint) {
                    nextTime = this.phase.end - this.phase.start;
                }
                const allTargets = [];
                for (let j = 0; j < this.targets.length; j++) {
                    const target = logData.targets[this.targets[j]];
                    allTargets.push(j);
                    cols.push(target);
                }
                const damageArrayToUse = this.damageGraphName;
                for (let i = 0; i < this.graph.length; i++) {
                    const player = logData.players[i];
                    const graphData = this.graph[i];
                    const dps = [];
                    function doCell(data, index) {
                        const cur = data[curTime];
                        const next = data[curTime + 1];
                        if (typeof next !== "undefined") {
                            dps[index] = cur + (tS - curTime) * (next - cur) / (nextTime - curTime);
                        } else {
                            dps[index] = cur;
                        }
                    }
                    // targets
                    for (let j = 0; j < this.targets.length; j++) {
                        const activeTargets = [j];
                        const cacheID = getDPSGraphCacheID(this.graphdata.dpsmode, this.graphdata.damagemode, this.graphdata.graphmode, activeTargets, 0, null);
                        const targetData = computePlayerDPS(player, graphData[damageArrayToUse], this.graphdata.dpsmode, null, activeTargets, cacheID, this.phase.times, this.graphdata.graphmode, this.graphdata.damagemode).dps.target;
                        doCell(targetData, j);
                    }
                    const cacheID = getDPSGraphCacheID(this.graphdata.dpsmode, this.graphdata.damagemode, this.graphdata.graphmode, allTargets, 0, null);
                    const allData = computePlayerDPS(player, graphData[damageArrayToUse], this.graphdata.dpsmode, null, allTargets, cacheID, this.phase.times, this.graphdata.graphmode, this.graphdata.damagemode).dps;
                    doCell(allData.taken, this.targets.length);
                    doCell(allData.total, this.targets.length + 1);
                    for (let j = 0; j < dps.length; j++) {
                        total[j] = (total[j] || 0) + dps[j];
                    }
                    rows.push({
                        player: player,
                        dps: dps
                    });
                    
                }
                sums.push({
                    name: "Total",
                    dps: total
                });
                const res = {
                    cols: cols,
                    rows: rows,
                    sums: sums
                };
                return res;
            }
        }
    });
</script>