<template>
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
        <div class="combat-replay-mechanics-list-container d-flex d-flex-row justify-content-center w-100 scrollable-y" style="max-width:450px">
            <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="min-width:80px">Time</th>
                        <th style="min-width:120px" class="text-left combat-replay-mechanics-list-header position-relative">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Filter Mechanics">
                                Mechanic <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu p-2 font-weight-normal">
                                <li v-for="(mechanic, index) in mechanicsList" :key="index">
                                    <input :id="'crml-mechanic-' + index" type="checkbox" v-model="mechanic.included"
                                           @click.stop="stopClickEvent" />
                                    <label :for="'crml-mechanic-' + index" @click.stop="stopClickEvent">
                                        {{mechanic.shortName}}
                                    </label>
                                </li>
                            </ul>
                        </th>
                        <th style="min-width:120px" class="text-left combat-replay-mechanics-list-header position-relative">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Filter Actors">
                                Actor <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu p-2 font-weight-normal">
                                <li v-for="(actor, index) in actorsList" :key="index">
                                    <input :id="'crml-actor-' + index" type="checkbox" v-model="actor.included"
                                           @click.stop="stopClickEvent" />
                                    <label :for="'crml-actor-' + index" @click.stop="stopClickEvent">
                                        {{actor.name}}
                                    </label>
                                </li>
                            </ul>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="event in filteredMechanicEvents" class="combat-replay-mechanics-list-row" :class="{active: event.actor.id === selectedplayerid}" @click="selectMechanic(event)">
                        <td>{{(event.time / 1000).toFixed(2)}}s</td>
                        <td class="text-left" :title="event.mechanic.name">{{event.mechanic.shortName}}</td>
                        <td class="text-left">{{event.actor.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-mechanics-list-component", {
        props: ['selectedplayerid'],
        template: `${template}`,
        data: function () {
            var mechanicEvents = [];
            var phase = logData.phases[0];
            var phaseTargets = phase.targets;
            for (var mechI = 0; mechI < graphData.mechanics.length; mechI++) {
                var graphMechData = graphData.mechanics[mechI];
                var logMechData = logData.mechanicMap[mechI];
                var mechData = { name: logMechData.name, shortName: logMechData.shortName };
                var pointsArray = graphMechData.points[0];
                var icd = logMechData.icd;
                // players
                if (!logMechData.enemyMech) {
                    for (var playerI = 0; playerI < pointsArray.length; playerI++) {
                        var lastTime = -1000000;
                        var points = pointsArray[playerI];
                        var player = logData.players[playerI];
                        for (var i = 0; i < points.length; i++) {
                            var time = points[i] * 1000; // when mechanic occured in seconds
                            if (icd === 0 || (time - lastTime > icd)) {
                                mechanicEvents.push({
                                    time: time,
                                    actor: { name: player.name, enemy: false, id: player.combatReplayID },
                                    mechanic: mechData,
                                });
                            }
                            lastTime = time;
                        }
                    }
                } else {
                    // enemy
                    for (var targetI = 0; targetI < pointsArray.length; targetI++) {
                        var points = pointsArray[targetI];
                        var tarId = phaseTargets[targetI];
                        // target tracked in phase
                        if (tarId >= 0) {
                            var target = logData.targets[tarId];
                            for (var i = 0; i < points.length; i++) {
                                var time = points[i]; // when mechanic occured in seconds
                                mechanicEvents.push({
                                    time: time * 1000,
                                    actor: { name: target.name, enemy: true, id: -1 }, // target selection not supported
                                    mechanic: mechData,
                                });
                            }
                        } else {
                            // target not tracked in phase
                            for (var i = 0; i < points.length; i++) {
                                var time = points[i][0]; // when mechanic occured in seconds
                                mechanicEvents.push({
                                    time: time * 1000,
                                    actor: { name: points[i][1], enemy: true, id: -1 },
                                    mechanic: mechData,
                                });
                            }
                        }
                    }
                }
            }

            mechanicEvents.sort(function (a, b) {
                return a.time - b.time;
            });

            var actors = {};
            var mechanics = {};
            for (var i = 0; i < mechanicEvents.length; i++) {
                var event = mechanicEvents[i];
                var mechName = event.mechanic.name;
                var actorName = event.actor.name;
                if (!mechanics[mechName]) {
                    mechanics[mechName] = Object.assign({}, event.mechanic, { included: true });
                }
                if (!actors[actorName]) {
                    actors[actorName] = Object.assign({}, event.actor, { included: true });
                }
            }

            var actorsList = Object.values(actors); // could be sorted for more clarity
            actorsList.sort(function (a, b) {
                if (a.enemy !== b.enemy) {
                    // Sort enemies before players
                    return a.enemy ? -1 : 1;
                }
                return a.name.localeCompare(b.name);
            });

            var mechanicsList = Object.values(mechanics);
            mechanicsList.sort(function (a, b) {
                return a.shortName.localeCompare(b.shortName);
            });

            return {
                mechanicEvents: mechanicEvents,
                actors: actors,
                actorsList: actorsList,
                mechanics: mechanics,
                mechanicsList: mechanicsList,
            };
        },
        methods: {
            selectMechanic: function (mechanic) {
                animator.updateTime(mechanic.time);
            },
            stopClickEvent: function (event) {
                event.stopPropagation();
            },
        },
        computed: {
            filteredMechanicEvents: function () {
                return this.mechanicEvents.filter(function (event) {
                    var actor = this.actors[event.actor.name];
                    var mechanic = this.mechanics[event.mechanic.name];
                    if (actor && !actor.included) {
                        return false;
                    }
                    if (mechanic && !mechanic.included) {
                        return false;
                    }
                    return true;
                }.bind(this))
            },
        },
    });
</script>
