<template>
    <div class="d-flex flex-column justify-content-center">
        <ul v-if="showTabs" class="nav nav-pills d-flex flex-row justify-content-center mb-1">
            <li class="nav-item">
                <a class="nav-link" :class="{active: mode === 0}" @click="mode = 0">Actors</a>
            </li>
            <li v-if="hasMechanics" class="nav-item">
                <a class="nav-link" :class="{active: mode === 1}" @click="mode = 1">Mechanics</a>
            </li>
        </ul>
        <div class="squad-details">
            <keep-alive>
                <combat-replay-actors-stats-component v-if="mode === 0" :key="'actors-cr-details'" :time="time" :selectedactorid="selectedactorid"></combat-replay-actors-stats-component>
                <combat-replay-mechanics-list-component v-if="mode === 1" :key="'mechanics-cr-details'" :time="time" :selectedplayerid="selectedactorid"></combat-replay-mechanics-list-component>
            </keep-alive>
        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-status-data-component", {
        template: `${template}`,
        props: ["time", "selectedactorid"],
        data: function() {
            return {
                mode: 0,
                showTabs: graphData.mechanics.length > 0,
                hasMechanics: graphData.mechanics.length > 0,
            };
        }
    });
</script>

