<template>
    <div class="d-flex align-items-center actor-rotation">
        <div v-if="rotation.current">
            <img class="icon-ll" :class="getIconClass(rotation.current)" :src="rotation.current.skill.icon" :data-original-title="getTooltip(rotation.current)"/>
        </div>
        <div v-else class="empty-icon-ll">

        </div>
        <div v-for="next in rotation.nexts">
            <img class="icon-l" :class="getIconClass(next)" :src="next.skill.icon" :data-original-title="getTooltip(next)"/>
        </div>
    </div>
</template>

<script>
    
    Vue.component("combat-replay-actor-rotation-component", {
        mixins: [timeRefreshComponent],
        props: ["actorindex", "enemy"],
        template: `${template}`,
        methods: {
            getSkillDuration: function(item) {
                return Math.max(item[2], 1) * 1e-3;
            },
            findRotationIndex: function (rotation, timeS, start, end) {
                if (end === 0) {
                    return 0;
                }
                if (timeS < rotation[start][0]) {
                    return start;
                } else if (timeS > rotation[end][0] + this.getSkillDuration(rotation[end])) {
                    return end;
                }
                var id = Math.floor((end + start) / 2);
                if (id === start || id === end) {
                    var item = rotation[start];
                    var x = item[0];
                    var duration = this.getSkillDuration(item);
                    if (timeS >= x && x + duration >= timeS) {
                        return start;
                    }
                    return end;
                }
                var item = rotation[id];
                var x = item[0];
                var duration = this.getSkillDuration(item);
                if (timeS < x) {
                    return this.findRotationIndex(rotation, timeS, start, id);
                } else if (timeS > x + duration) {
                    return this.findRotationIndex(rotation, timeS, id, end);
                } else {
                    return id;
                }
            },
            getIconClass(cast) {
                return {
                    'rot-cancelled': cast.type === RotationStatus.CANCEL,
                    'rot-unknown': cast.type === RotationStatus.UNKNOWN,
                    'rot-animfull': cast.type === RotationStatus.FULL,
                    'rot-instant': cast.type === RotationStatus.INSTANT
                };
            },
            getTooltip(cast) {
                var tooltip = `${cast.skill.name} at ${cast.time}s`;
                if (cast.type === RotationStatus.INSTANT) {
                    return tooltip;
                } else {
                    return tooltip + ` for ${cast.duration}ms`;
                }
            }
        },
        computed: {
            actor: function () {
                return this.enemy ? logData.targets[this.actorindex] : logData.players[this.actorindex];
            },
            actorRotation: function () {
                return this.actor.details.rotation[0];
            },
            rotation: function () {
                var res = {
                    current: null,
                    nexts: []
                };
                if (this.actorRotation.length === 0) {
                    return res;
                }
                var time = this.timeToUse / 1000.0;
                var id = this.findRotationIndex(this.actorRotation, time, 0, this.actorRotation.length - 1);
                var item = this.actorRotation[id];
                var x = item[0];
                var duration = this.getSkillDuration(item);
                if (x <= time && time <= x + duration) {
                    res.current = {
                        time: item[0],
                        skill: findSkill(false, item[1]),
                        duration: item[2],
                        type: item[3]
                    };
                    id++;
                }
                for (var j = id; j < this.actorRotation.length; j++) {
                    var next = this.actorRotation[j];
                    if (next[0] >= time) {
                        res.nexts.push({
                            time: next[0],
                            skill: findSkill(false, next[1]),
                            duration: next[2],
                            type: next[3]
                        });
                    }
                    if (res.nexts.length == 3) {
                        break;
                    }
                }
                return res;
            },
        }
    });
</script>
