<template>
    <div>
        <ul class="nav nav-pills d-flex flex-row justify-content-center">
            <li class="nav-item">
                <a class="nav-link" @click="damageMode = graphModeEnum.Damage" :class="{active: damageMode === graphModeEnum.Damage}">Damage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" @click="damageMode = graphModeEnum.DPS" :class="{active: damageMode === graphModeEnum.DPS}">DPS</a>
            </li>
            <li v-if="hasBreakbarDamage" class="nav-item">
                <a class="nav-link" @click="damageMode = graphModeEnum.BreakbarDamage" :class="{active: damageMode === graphModeEnum.BreakbarDamage}">Breakbar Damage</a>
            </li>
        </ul>
        <div class="scrollable-cr-dps-table">
            <table class="table table-sm table-striped table-hover"  cellspacing="0" width="100%" id="combat-replay-dps-table">
                <thead>
                    <tr>
                        <th class="cr-dps-table-icon-col"></th>
                        <th class="text-left cr-dps-table-name">
                            Name
                        </th>
                        <th class="cr-dps-table-dps">
                            All
                        </th>
                        <th class="cr-dps-table-dps" v-if="!targetless" v-for="col in tableData.cols">
                            <span :title="col.name">
                                {{col.name}}
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody class="scrollable-y" style="max-height: 331px !important;">
                    <tr v-for="row in tableData.rows" :class="{active: row.player.id === playerindex}">
                        <td class="cr-dps-table-icon-col" :data-original-title="row.player.profession">
                            <img :src="row.player.icon" :alt="row.player.profession" class="icon">
                            <span style="display:none">
                                {{row.player.profession}}
                            </span>
                        </td>
                        <td class="text-left cr-dps-table-name">
                            <span :title="row.player.name">
                                {{row.player.name}}
                            </span>
                        </td>
                        <td class="cr-dps-table-dps">
                            {{tableRound(row.dps[row.dps.length - 1])}}
                        </td>
                        <td class="cr-dps-table-dps" v-if="!targetless" v-for="(col, id) in tableData.cols">
                            {{tableRound(row.dps[id])}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr v-for="sum in tableData.sums">
                        <td class="cr-dps-table-icon-col"></td>
                        <td class="text-left cr-dps-table-name">
                            {{sum.name}}
                        </td>
                        <td class="cr-dps-table-dps">
                            {{tableRound(sum.dps[sum.dps.length - 1])}}
                        </td>
                        <td class="cr-dps-table-dps" v-if="!targetless" v-for="(col, id) in tableData.cols">
                            {{tableRound(sum.dps[id])}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>     
    </div>
    
</template>

<script>
    Vue.component("combat-replay-damage-stats-component", {
        mixins: [timeRefreshComponent, roundingComponent],
        props: ["playerindex"],
        template: `${template}`,
        data: function () {
            return {
                targetless: logData.targetless,
                damageMode: GraphType.DPS
            };
        },
        methods: {
            tableRound: function(value) {
                return this.damageMode == GraphType.BreakbarDamage ? this.round1(value) : this.round(value)
            }
        },
        created() {
            var i, cacheID;
            for (var j = 0; j < this.targets.length; j++) {
                var activeTargets = [j];
                cacheID = getDPSGraphCacheID(0, this.damageMode, activeTargets, 0, null);
                // compute dps for all players
                for (i = 0; i < logData.players.length; i++) {
                    computePlayerDPS(logData.players[i], this.graph[i].damage, 0, null, activeTargets, cacheID, this.phase.times, this.damageMode);
                }
            }
            cacheID = getDPSGraphCacheID(0, this.damageMode, this.targets, 0, null);
            // compute dps for all players
            for (i = 0; i < logData.players.length; i++) {
                computePlayerDPS(logData.players[i], this.graph[i].damage, 0, null, this.targets, cacheID, this.phase.times, this.damageMode);
            }
        },
        mounted() {
            initTable("#combat-replay-dps-table", 2, "desc", null);
        },
        updated() {
            updateTable("#combat-replay-dps-table");
        },
        computed: {
            phase: function () {
                return logData.phases[0];
            },
            targets: function () {
                return this.phase.targets;
            },
            graph: function () {
                return graphData.phases[0].players;
            },
            graphModeEnum: function() {
                return GraphType;
            },
            hasBreakbarDamage: function() {
                return logData.hasBreakbarDamage;
            },
            tableData: function () {
                var rows = [];
                var cols = [];
                var sums = [];
                var total = [];
                var tS = this.timeToUse / 1000.0;
                var curTime = Math.floor(tS);
                var nextTime = curTime + 1;
                var dur = Math.floor(this.phase.end - this.phase.start);
                if (nextTime == dur + 1 && this.phase.needsLastPoint) {
                    nextTime = this.phase.end - this.phase.start;
                }
                var i, j;
                for (j = 0; j < this.targets.length; j++) {
                    var target = logData.targets[this.targets[j]];
                    cols.push(target);
                }
                var damageArrayToUse = this.damageMode === GraphType.BreakbarDamage ? "breakbarDamage" : "damage";
                for (i = 0; i < this.graph.length; i++) {
                    var cacheID, data, cur, next;
                    var player = logData.players[i];
                    var graphData = this.graph[i];
                    var dps = [];
                    // targets
                    for (j = 0; j < this.targets.length; j++) {
                        var activeTargets = [j];
                        cacheID = getDPSGraphCacheID(0, this.damageMode, activeTargets, 0, null);
                        data = computePlayerDPS(player, graphData[damageArrayToUse], 0, null, activeTargets, cacheID, this.phase.times, this.damageMode).dps.target;
                        cur = data[curTime];
                        next = data[curTime + 1];
                        if (typeof next !== "undefined") {
                            dps[j] = cur + (tS - curTime) * (next - cur)/(nextTime - curTime);
                        } else {
                            dps[j] = cur;
                        }
                    }
                    cacheID = getDPSGraphCacheID(0, this.damageMode, this.targets, 0, null);
                    data = computePlayerDPS(player, graphData[damageArrayToUse], 0, null, this.targets, cacheID, this.phase.times, this.damageMode).dps.total;
                    cur = data[curTime];
                    next = data[curTime + 1];
                    if (typeof next !== "undefined") {
                        dps[j] = cur + (tS - curTime) * (next - cur)/(nextTime - curTime);
                    } else {
                        dps[j] = cur;
                    }
                    for (j = 0; j < dps.length; j++) {
                        total[j] = (total[j] || 0) + dps[j];
                    }
                    rows.push({
                        player: player,
                        dps: dps
                    });
                }
                sums.push({
                    name: "Total",
                    dps: total
                });
                var res = {
                    cols: cols,
                    rows: rows,
                    sums: sums
                };
                return res;
            }
        }
    });
</script>