<template>
    <div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="tableid">
            <thead>
                <tr>
                    <th class="sub-cell" :class="getHeaderClass('Sub')" @click="sortBy('Sub')">
                        Sub
                    </th>
                    <th class="prof-cell" :class="getHeaderClass('Prof')" @click="sortBy('Prof')">

                    </th>
                    <th class="text-left" :class="getHeaderClass('Name')" @click="sortBy('Name')">
                        Name
                    </th>
                    <th class="text-left" :class="getHeaderClass('Account')" @click="sortBy('Account')">
                        Account
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 0)" @click="sortBy('Data', 0)"
                        data-original-title="Time wasted(in seconds) interupting skill casts">
                        <img src="https://wiki.guildwars2.com/images/b/b3/Out_Of_Health_Potions.png" alt="Wasted"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 2)" @click="sortBy('Data', 2)"
                        data-original-title="Time saved(in seconds) interupting skill casts">
                        <img src="https://wiki.guildwars2.com/images/e/eb/Ready.png" alt="Saved"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 4)" @click="sortBy('Data', 4)"
                        data-original-title="Times weapon swapped">
                        <img src="https://wiki.guildwars2.com/images/c/ce/Weapon_Swap_Button.png" alt="Swap"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 7)" @click="sortBy('Data', 7)"
                        data-original-title="% of time in combat spent in animation">
                        <img src="https://wiki.guildwars2.com/images/6/6e/Activation.png" alt="Animation" class="icon">
                        /
                        <img src="https://wiki.guildwars2.com/images/9/92/Arena_Proprietor.png" alt="Combat"
                            class="icon">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 8)" @click="sortBy('Data', 8)"
                        data-original-title="% of time in combat spent in animation, excluding auto attack skills">
                        (<img src="https://wiki.guildwars2.com/images/6/6e/Activation.png" alt="Animation" class="icon">
                        - <img src="https://wiki.guildwars2.com/images/a/a1/Hammer_Marker_Yellow.png" alt="Auto attack"
                            class="icon">)
                        /
                        <img src="https://wiki.guildwars2.com/images/9/92/Arena_Proprietor.png" alt="Combat"
                            class="icon">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 5)" @click="sortBy('Data', 5)"
                        data-original-title="Average Distance to the center of the squad">
                        <img src="https://wiki.guildwars2.com/images/e/ef/Commander_arrow_marker.png" alt="Stack Center"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" v-if="hasCommander" :class="getHeaderClass('Data', 6)"
                        @click="sortBy('Data', 6)" data-original-title="Average Distance to the commander">
                        <img src="https://wiki.guildwars2.com/images/5/54/Commander_tag_%28blue%29.png"
                            alt="Stack Commander" class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in sortData(tableData.rows)" :class="{active: row.player.id === playerindex}">
                    <td :class="getBodyClass('Sub')">
                        {{row.player.group}}
                    </td>
                    <td :class="getBodyClass('Prof')" :data-original-title="row.player.profession">
                        <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span
                            style="display:none">{{row.player.profession}}</span>
                    </td>
                    <td :class="getBodyClass('Name')" class="text-left">
                        {{row.player.name}}
                    </td>
                    <td :class="getBodyClass('Account')" class="text-left">
                        {{row.player.acc}}
                    </td>
                    <td :class="getBodyClass('Data', 0)"
                        :data-original-title="row.commons[1] + ' cancels <br>' + round2(100.0 * row.commons[0] / phase.durationS) + '% of the phase'">
                        {{row.commons[0]}}
                    </td>
                    <td :class="getBodyClass('Data', 2)"
                        :data-original-title="row.commons[3] + ' cancels <br>' + round2(100.0 * row.commons[2] / phase.durationS) + '% of the phase'">
                        {{row.commons[2]}}
                    </td>
                    <td :class="getBodyClass('Data', 4)">
                        {{row.commons[4]}}
                    </td>
                    <td :class="getBodyClass('Data', 7)">
                        {{row.commons[7]}}%
                    </td>
                    <td :class="getBodyClass('Data', 8)">
                        {{row.commons[8]}}%
                    </td>
                    <td :class="getBodyClass('Data', 5)">
                        {{row.commons[5]}}
                    </td>
                    <td :class="getBodyClass('Data', 6)" v-if="hasCommander">
                        {{row.commons[6]}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-for="row in tableData.sums">
                    <td></td>
                    <td></td>
                    <td class="text-left">{{row.name}}</td>
                    <td></td>
                    <td :data-original-title="row.commons[1] + ' cancels'">{{round3(row.commons[0])}}</td>
                    <td :data-original-title="row.commons[3] + ' cancels'">{{round3(row.commons[2])}}</td>
                    <td>{{row.commons[4]}}</td>
                    <td></td>
                    <td></td>
                    <td>{{round2(row.commons[5] / row.count)}}</td>
                    <td v-if="hasCommander">{{round2(row.commons[6] / row.count)}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("gameplay-stats-component", {
        props: ["playerindex", "phaseindex"],
        template: `${template}`,
        mixins: [numberComponent, sortedTableComponent],
        data: function () {
            return {
                hasCommander: logData.hasCommander,
                cache: new Map(),
                sortdata: {
                    order: "desc",
                    index: -1,
                    key: "Prof"
                }
            };
        },
        methods: {
            sortBy: function (key, index) {
                this.sortByBase(this.sortdata, key, index);
            },
            getHeaderClass: function (key, index) {
                return this.getHeaderClassBase(this.sortdata, key, index);
            },
            getBodyClass: function (key, index) {
                var classes = this.getBodyClassBase(this.sortdata, key, index);
                return classes;
            },
            sortData: function (rows) {
                var order = this.sortdata.order === "asc" ? 1 : -1;
                switch (this.sortdata.key) {
                    case "Sub":
                        rows.sort((x, y) => order * (x.player.group - y.player.group) || this.sortByPlayerName(x, y));
                        break;
                    case "Prof":
                        rows.sort((x, y) => order * this.sortByPlayerProfession(x, y) || this.sortByPlayerName(x, y));
                        break;
                    case "Name":
                        rows.sort((x, y) => order * this.sortByPlayerName(x, y));
                        break;
                    case "Account":
                        rows.sort((x, y) => order * this.sortByPlayerAccount(x, y));
                        break;
                    case "Data":
                        var index = this.sortdata.index;
                        rows.sort((x, y) => order * (x.commons[index] - y.commons[index]) || this.sortByPlayerName(x, y));
                        break;
                    default:
                        return null;
                        break;
                }
                return rows;
            },
        },
        computed: {
            tableid: function () {
                return "gameplay-table";
            },
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            tableData: function () {
                if (this.cache.has(this.phaseindex)) {
                    return this.cache.get(this.phaseindex);
                }
                var rows = [];
                var sums = [];
                var groups = [];
                var total = {
                    name: "Total",
                    commons: [],
                    count: 0
                };
                for (var i = 0; i < this.phase.gameplayStats.length; i++) {
                    var commons = [];
                    var player = logData.players[i];
                    if (player.isFake) {
                        continue;
                    }
                    if (!groups[player.group]) {
                        groups[player.group] = {
                            name: "Group " + player.group,
                            commons: [],
                            count: 0
                        };
                    }
                    groups[player.group].count++;
                    total.count++;
                    var stats = this.phase.gameplayStats[i];
                    for (var j = 0; j < stats.length; j++) {
                        commons[j] = stats[j];
                        groups[player.group].commons[j] = (groups[player.group].commons[j] || 0) + commons[j];
                        total.commons[j] = (total.commons[j] || 0) + commons[j];
                    }
                    rows.push({
                        player: player,
                        commons: commons
                    });
                }
                for (var i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push(groups[i]);
                    }
                }
                sums.push(total);
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cache.set(this.phaseindex, res);
                return res;
            }
        }
    });
</script>