<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LuckParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LuckParser.Properties.Settings>
            <setting name="DPSGraphTotals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClDPSGraphTotals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerBoonsUniversal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerBoonsImpProf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerBoonsAllProf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerRot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerRotIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveAtOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="EventList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BossSummary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimpleRotation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAutos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeRotIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOutHTML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveOutCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEstimates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParseOneAtATime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParsePhases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show10s" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show30s" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParseCombatReplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadToDPSReports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadToDPSReportsRH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadToRaidar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOutJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndentJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewHtmlMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewHtmlExternalScripts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipFailedTries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoAdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoParse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoAddPath" serializeAs="String">
                <value />
            </setting>
        </LuckParser.Properties.Settings>
    </userSettings>
</configuration>