<template>
    <div class="d-flex flex-row justify-content-center mt-1 mb-1">
        <ul class="nav nav-pills d-flex flex-row justify-content-center mr-3 scale85">
            <li class="nav-item">
                <a class="nav-link" @click="data.dpsmode = 0" :class="{active: data.dpsmode === 0}">Full</a>
            </li>            
            <li v-if="phaseduration > 4" class="nav-item">
                <a class="nav-link" @click="data.dpsmode = 4" :class="{active: data.dpsmode === 4}">4s</a>
            </li>
            <li v-if="phaseduration > 10" class="nav-item">
                <a class="nav-link" @click="data.dpsmode = 10" :class="{active: data.dpsmode === 10}">10s</a>
            </li>    
            <li v-if="phaseduration > 20" class="nav-item">
                <a class="nav-link" @click="data.dpsmode = 20" :class="{active: data.dpsmode === 20}">20s</a>
            </li>
            <li v-if="phaseduration > 30" class="nav-item">
                <a class="nav-link" @click="data.dpsmode = 30" :class="{active: data.dpsmode === 30}">30s</a>
            </li>
            <li v-if="phasehassubphases" class="nav-item">
                <a class="nav-link" @click="data.dpsmode = -1" :class="{active: data.dpsmode === -1}">Phase</a>
            </li>
        </ul>
        <ul class="nav nav-pills d-flex flex-row justify-content-center ml-3 scale85">
            <li class="nav-item">
                <a class="nav-link" @click="data.graphmode = graphModeEnum.DPS" :class="{active: data.graphmode === graphModeEnum.DPS}">DPS</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" @click="data.graphmode = graphModeEnum.CenteredDPS" :class="{active: data.graphmode === graphModeEnum.CenteredDPS}">Centered DPS</a>
            </li>                     
            <li class="nav-item">
                <a class="nav-link" @click="data.graphmode = graphModeEnum.Damage" :class="{active: data.graphmode === graphModeEnum.Damage}">Damage</a>
            </li>
            <li class="nav-item" v-if="hasBreakbarDamage">
                <a class="nav-link" @click="data.graphmode = graphModeEnum.BreakbarDamage" :class="{active: data.graphmode === graphModeEnum.BreakbarDamage}">Breakbar Damage</a>
            </li>
        </ul>
    </div>
</template>

<script>
    Vue.component("dps-graph-mode-selector-component", {
        props: ['data', 'phaseduration', 'phasehassubphases', 'ignorebreakbar'],
        template: `${template}`,
        computed: {
            graphModeEnum: function() {
                return GraphType;
            },
            hasBreakbarDamage: function() {
                return !this.ignorebreakbar && logData.hasBreakbarDamage;
            }
        }
    });
</script>