<template>
    <div class="d-flex flex-row justify-content-center align-items-center mb-2">
        <img v-if="target.health > 0" src="https://wiki.guildwars2.com/images/b/be/Vitality.png" alt="Health"
            class="icon" :data-original-title="'Health: ' + target.health">
        <img v-if="target.tough > 0" src="https://wiki.guildwars2.com/images/1/12/Toughness.png" alt="Toughness"
            class="icon" hbHeight :data-original-title="'Toughness: ' + target.tough">
        <span style="height:18px; font-size: 1.45rem; margin-bottom: 22px;" v-if="target.hbWidth > 0" :data-original-title="'Hitbox Width: ' + target.hbWidth">
            &#8596;
        </span>
        <span style="height:18px; font-size: 1.3rem; margin-bottom: 18px;" v-if="target.hbHeight > 0" :data-original-title="'Hitbox Half-Height: ' + 0.5 * target.hbHeight">
            &#8597;
        </span>
    </div>
</template>

<script>
    Vue.component('target-data-component', {
        props: ['targetid'],
        template: `${template}`,
        computed: {
            target: function () {
                return logData.targets[this.targetid];
            }
        }
    });
</script>