<template>
    <div>
        <div v-if="!targetless" class="d-flex flex-row justify-content-center mt-1 mb-1">
            <ul class="nav nav-pills scale85">
                <li class="nav-item">
                    <a class="nav-link" @click="mode = 1" :class="{active: mode}">Target</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="mode = 0" :class="{active: !mode }">All</a>
                </li>
            </ul>
        </div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="tableid">
            <thead>
                <tr>
                    <th class="sub-cell" :class="getHeaderClass('Sub')" @click="sortBy('Sub')">
                        Sub
                    </th>
                    <th class="prof-cell" :class="getHeaderClass('Prof')" @click="sortBy('Prof')">

                    </th>
                    <th class="text-left" :class="getHeaderClass('Name')" @click="sortBy('Name')">
                        Name
                    </th>
                    <th class="text-left" :class="getHeaderClass('Account')" @click="sortBy('Account')">
                        Account
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 2)" @click="sortBy('Data', 2, 1)"
                        data-original-title="Percent time hits critical">
                        <img src="https://wiki.guildwars2.com/images/9/95/Critical_Chance.png" alt="Crits"
                             class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 4)" @click="sortBy('Data', 4, 11)"
                        data-original-title="Percent time hits while flanking">
                        <img src="https://wiki.guildwars2.com/images/b/bb/Hunter%27s_Tactics.png" alt="Flank"
                             class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 21)" @click="sortBy('Data', 21, 20)"
                        data-original-title="Percent time power hits while self above 90% hp">
                        <img src="https://wiki.guildwars2.com/images/2/23/Power.png" alt="Power"
                             class="icon"> > 90%
                    </th>    
                    <th class="stat-cell" :class="getHeaderClass('Data', 23)" @click="sortBy('Data', 23, 22)"
                        data-original-title="Percent time condition ticks while self above 90% hp">
                        <img src="https://wiki.guildwars2.com/images/5/54/Condition_Damage.png" alt="Condition"
                             class="icon"> > 90%
                    </th>    
                    <th class="stat-cell" :class="getHeaderClass('Data', 5)" @click="sortBy('Data', 5, 11)"
                        data-original-title="Percent time hits while glancing">
                        <img src="https://wiki.guildwars2.com/images/f/f9/Weakness.png" alt="Glance"
                             class="icon icon-hover">
                    </th>    
                    <th class="stat-cell" :class="getHeaderClass('Data', 14)" @click="sortBy('Data', 14, 15)"
                        data-original-title="Times the target got hit while moving">
                        <img src="https://i.imgur.com/11uAbd4.png" alt="Against Moving"
                             class="icon icon-hover">
                    </th>  
                    <th class="stat-cell" :class="getHeaderClass('Data', 6)" @click="sortBy('Data', 6)"
                        data-original-title="Number of hits while blinded">
                        <img src="https://wiki.guildwars2.com/images/3/33/Blinded.png" alt="Miss"
                             class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 7)" @click="sortBy('Data', 7)"
                        data-original-title="Number of hits used to interupt">
                        <img src="https://wiki.guildwars2.com/images/7/79/Daze.png" alt="Interupts"
                            
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 8)" @click="sortBy('Data', 8)"
                        data-original-title="Times the enemy was invulnerable to attacks">
                        <img src="https://wiki.guildwars2.com/images/e/eb/Determined.png" alt="Ivuln"
                             class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 9)" @click="sortBy('Data', 9)"
                        data-original-title="Times the enemy evaded an attack">
                        <img src="https://wiki.guildwars2.com/images/e/e2/Evade.png" alt="Evaded"
                             class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 10)" @click="sortBy('Data', 10)"
                        data-original-title="Times the enemy blocked an attack">
                        <img src="https://wiki.guildwars2.com/images/e/e5/Aegis.png" alt="Blocked"
                             class="icon icon-hover">
                    </th>   
                    <th class="stat-cell" v-if="wvw" :class="getHeaderClass('Data', 17)" @click="sortBy('Data', 17)"
                        data-original-title="Down Contribution">
                         <img src="https://wiki.guildwars2.com/images/thumb/6/6a/Damage.png/30px-Damage.png" alt="Damage"
                            class="icon">
                        /
                        <img src="https://wiki.guildwars2.com/images/c/c6/Downed_enemy.png" alt="Down"
                            class="icon">
                    </th>          
                    <th class="stat-cell" v-if="wvw" :class="getHeaderClass('Data', 13)" @click="sortBy('Data', 13)"
                        data-original-title="Number of times downed target">
                        <img src="https://wiki.guildwars2.com/images/c/c6/Downed_enemy.png"
                            alt="Downed" 
                            class="icon icon-hover">
                    </th>   
                    <th class="stat-cell" v-if="wvw" :class="getHeaderClass('Data', 25)" @click="sortBy('Data', 25)"
                        data-original-title="Damage against downed target">
                        <img src="https://wiki.guildwars2.com/images/thumb/6/6a/Damage.png/30px-Damage.png" alt="Damage"
                            class="icon">
                            &#8658
                        <img src="https://wiki.guildwars2.com/images/c/c6/Downed_enemy.png"
                            alt="Downed" 
                            class="icon">
                    </th>           
                    <th class="stat-cell" v-if="wvw" :class="getHeaderClass('Data', 12)" @click="sortBy('Data', 12)"
                        data-original-title="Number of times killed target">
                        <img src="https://wiki.guildwars2.com/images/4/4a/Ally_death_%28interface%29.png"
                            alt="Killed" 
                            class="icon icon-hover">
                    </th>      
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in sortData(mode ? tableDataTarget.rows : tableData.rows)"
                    :class="{active: row.player.id === playerindex}">
                    <td :class="getBodyClass('Sub')">
                        {{row.player.group}}
                    </td>
                    <td :class="getBodyClass('Prof')"
                        :data-original-title="row.player.profession">
                        <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span
                            style="display:none">{{row.player.profession}}</span>
                    </td>
                    <td :class="getBodyClass('Name')" class="text-left">
                        {{row.player.name}}
                    </td>
                    <td :class="getBodyClass('Account')" class="text-left" >
                        {{row.player.acc}}
                    </td>
                    <td :class="getBodyClass('Data', 2)"
                        :data-original-title="row.data[2] + ' out of ' + row.data[1] + ' critable hit(s)' +
                                    '<br>Total Critical Damage: ' + row.data[3] +
                                    '<br>' + round2(100*row.data[3]/ row.data[18]) +'% of total damage' +
                                    '<br>' + round2(100*row.data[3]/ row.data[19]) +'% of total direct damage'">
                        {{round2(100*row.data[2] / row.data[1])}}%
                    </td>
                    <td :class="getBodyClass('Data', 4)"
                        :data-original-title="row.data[4] + ' out of ' + row.data[11] + ' connected direct hit(s)'">
                        {{round2(100*row.data[4]/ row.data[11])}}%
                    </td>
                    <td :class="getBodyClass('Data', 21)"
                        :data-original-title="row.data[21] + ' out of ' + row.data[20] + ' connected power hit(s)'">
                        {{round2(100*row.data[21]/ row.data[20])}}%
                    </td>
                    <td :class="getBodyClass('Data', 23)"
                        :data-original-title="row.data[23] + ' out of ' + row.data[22] + ' connected condition tick(s)'">
                        {{round2(100*row.data[23]/ row.data[22])}}%
                    </td>
                    <td :class="getBodyClass('Data', 5)"
                        :data-original-title="row.data[5] + ' out of ' + row.data[11] + ' connected direct hit(s)'">
                        {{round2(100*row.data[5]/ row.data[11])}}%
                    </td>
                    <td :class="getBodyClass('Data', 14)"
                        :data-original-title="row.data[14] + ' out of ' + row.data[15] + ' connected hit(s)'">
                        {{round2(100*row.data[14]/ row.data[15]) + '%' }}
                    </td>
                    <td :class="getBodyClass('Data', 6)"
                        :data-original-title="round2(100*row.data[6]/ row.data[0]) + '% of '+ row.data[0] + ' direct hit(s)'">
                        {{row.data[6]}}
                    </td>
                    <td :class="getBodyClass('Data', 7)">
                        {{row.data[7]}}
                    </td>
                    <td :class="getBodyClass('Data', 8)"
                        :data-original-title="round2(100*row.data[8]/ row.data[0]) + '% of '+ row.data[16] + ' hit(s)'">
                        {{row.data[8]}}
                    </td>
                    <td :class="getBodyClass('Data', 9)"
                        :data-original-title="round2(100*row.data[9]/ row.data[0]) + '% of '+ row.data[0] + ' direct hit(s)'">
                        {{row.data[9]}}
                    </td>
                    <td :class="getBodyClass('Data', 10)"
                        :data-original-title="round2(100*row.data[10]/ row.data[0]) + '% of '+ row.data[0] + ' direct hit(s)'">
                        {{row.data[10]}}
                    </td>
                    <td v-if="wvw" :class="getBodyClass('Data', 17)"
                        :data-original-title="round2(100*row.data[17]/ row.data[26]) +'% of total damage'">
                        {{row.data[17]}}
                    </td>
                    <td v-if="wvw" :class="getBodyClass('Data', 13)">
                        {{row.data[13]}}
                    </td>
                    <td v-if="wvw" :class="getBodyClass('Data', 25)"
                    :data-original-title="row.data[24] + ' hits<br>' + round2(100*row.data[25]/ row.data[26]) +'% of total damage'">
                        {{row.data[25]}}
                    </td>
                    <td v-if="wvw" :class="getBodyClass('Data', 12)">
                        {{row.data[12]}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-for="row in (mode ? tableDataTarget.sums : tableData.sums)">
                    <td></td>
                    <td></td>
                    <td class="text-left">{{row.name}}</td>
                    <td></td>
                    <td
                        :data-original-title="row.data[2] + ' out of ' + row.data[1] + ' critable hit(s)' +
                                    '<br>Total Critical Damage: ' + row.data[3] +
                                    '<br>' + round2(100*row.data[3]/ row.data[18]) +'% of total damage' +
                                    '<br>' + round2(100*row.data[3]/ row.data[19]) +'% of total direct damage'">
                        {{round2(100*row.data[2] / row.data[1])}}%
                    </td>
                    <td :data-original-title="row.data[4] + ' out of ' + row.data[11] + ' connected direct hit(s)'">
                        {{round2(100*row.data[4]/ row.data[11])}}%
                    </td>
                    <td :data-original-title="row.data[21] + ' out of ' + row.data[20] + ' connected power hit(s)'">
                        {{round2(100*row.data[21]/ row.data[20])}}%
                    </td>
                    <td :data-original-title="row.data[23] + ' out of ' + row.data[22] + ' connected condition tick(s)'">
                        {{round2(100*row.data[23]/ row.data[22])}}%
                    </td>
                    <td :data-original-title="row.data[5] + ' out of ' + row.data[11] + ' connected direct hit(s)'">
                        {{round2(100*row.data[5]/ row.data[11])}}%
                    </td>
                    <td :data-original-title="row.data[14] + ' out of ' + row.data[15] + ' connected hit(s)'">
                        {{round2(100*row.data[14]/ row.data[15]) + '%' }}
                    </td>
                    <td :data-original-title="round2(100*row.data[6]/ row.data[0])+ '% of '+ row.data[0] + ' direct hit(s)'">
                        {{row.data[6]}}
                    </td>
                    <td>
                        {{row.data[7]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[8]/ row.data[0])+ '% of '+ row.data[16] + ' hit(s)'">
                        {{row.data[8]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[9]/ row.data[0])+ '% of '+ row.data[0] + ' direct hit(s)'">
                        {{row.data[9]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[10]/ row.data[0]) + '% of '+ row.data[0] + ' direct hit(s)'">
                        {{row.data[10]}}
                    </td>
                    <td v-if="wvw" :data-original-title="round2(100*row.data[17]/ row.data[26]) +'% of total damage'">
                        {{row.data[17]}}
                    </td>
                    <td v-if="wvw">
                        {{row.data[13]}}
                    </td>
                    <td v-if="wvw" :data-original-title="row.data[24] + ' hits<br>' + round2(100*row.data[25]/ row.data[26]) +'% of total damage'">
                        {{row.data[25]}}
                    </td>
                    <td v-if="wvw">
                        {{row.data[12]}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("offensive-stats-component", {
        props: ["activetargets", "playerindex", "phaseindex"],
        template: `${template}`,
        mixins: [numberComponent, sortedTableComponent],
        data: function () {
            return {
                targetless: logData.targetless,
                wvw: logData.wvw,
                mode: logData.targetless ? 0 : 1,
                cache: new Map(),
                cacheTarget: new Map(),
                sortdata: {
                    order: "desc",
                    index: -1,
                    divideIndex: -1,
                    key: "Prof"
                }
            };
        },
        methods: {
            sortBy: function (key, index, divideIndex) {
                this.sortByBase(this.sortdata, key, index);
                this.sortdata.divideIndex = divideIndex >= 0 ? divideIndex : -1;
            },
            getHeaderClass: function (key, index) {
                return this.getHeaderClassBase(this.sortdata, key, index);
            },
            getBodyClass: function (key, index) {
                var classes = this.getBodyClassBase(this.sortdata, key, index);
                return classes;
            },
            sortData: function (rows) {
                var order = this.sortdata.order === "asc" ? 1 : -1;
                switch (this.sortdata.key) {
                    case "Sub":
                        rows.sort((x, y) => order * (x.player.group - y.player.group));
                        break;
                    case "Prof":
                        rows.sort((x, y) => order * x.player.profession.localeCompare(y.player.profession));
                        break;
                    case "Name":
                        rows.sort((x, y) => order * x.player.name.localeCompare(y.player.name));
                        break;
                    case "Account":
                        rows.sort((x, y) => order * x.player.acc.localeCompare(y.player.acc));
                        break;
                    case "Data":
                        var index = this.sortdata.index;
                        var divideIndex = this.sortdata.divideIndex;
                        if (divideIndex !== -1) {
                            rows.sort((x, y) => order * (x.data[index]/x.data[divideIndex] - y.data[index]/y.data[divideIndex]));
                        } else {
                            rows.sort((x, y) => order * (x.data[index] - y.data[index]));
                        }
                        break;
                    default:
                        return null;
                        break;
                }
                return rows;
            },
        },
        computed: {
            tableid: function() {
                return "off-table";
            },
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            tableData: function () {
                if (this.cache.has(this.phaseindex)) {
                    return this.cache.get(this.phaseindex);
                }
                var rows = [];
                var sums = [];
                var groups = [];
                var total = {
                    name: "Total",
                    data: [],
                    count: 0
                };
                for (var i = 0; i < this.phase.offensiveStats.length; i++) {
                    var data = [];
                    var player = logData.players[i];
                    if (player.isFake) {
                        continue;
                    }
                    if (!groups[player.group]) {
                        groups[player.group] = {
                            name: "Group " + player.group,
                            data: [],
                            count: 0
                        };
                    }
                    groups[player.group].count++;
                    total.count++;
                    var stats = this.phase.offensiveStats[i];
                    for (var j = 0; j < stats.length; j++) {
                        data[j] = stats[j];
                        groups[player.group].data[j] = (groups[player.group].data[j] || 0) + data[j];
                        total.data[j] = (total.data[j] || 0) + data[j];
                    }
                    rows.push({
                        player: player,
                        data: data
                    });
                }
                for (var i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push(groups[i]);
                    }
                }
                sums.push(total);
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cache.set(this.phaseindex, res);
                return res;
            },
            tableDataTarget: function () {
                var cacheID = this.phaseindex + '-';
                cacheID += getTargetCacheID(this.activetargets);
                if (this.cacheTarget.has(cacheID)) {
                    return this.cacheTarget.get(cacheID);
                }
                var rows = [];
                var sums = [];
                var groups = [];
                var total = {
                    name: "Total",
                    data: [],
                    count: 0
                };
                for (var i = 0; i < this.phase.offensiveStats.length; i++) {
                    var data = [];
                    var player = logData.players[i];
                    if (player.isFake) {
                        continue;
                    }
                    if (!groups[player.group]) {
                        groups[player.group] = {
                            name: "Group " + player.group,
                            data: [],
                            count: 0
                        };
                    }
                    groups[player.group].count++;
                    total.count++;
                    var stats = this.phase.offensiveStats[i];
                    for (var j = 0; j < stats.length; j++) {
                        if (this.activetargets.length > 0) {
                            for (var k = 0; k < this.activetargets.length; k++) {
                                var tar = this.phase.offensiveStatsTargets[i][this.activetargets[k]];
                                data[j] = (data[j] || 0) + tar[j];
                            }
                        } else {
                            data[j] = (data[j] || 0);
                        }
                        groups[player.group].data[j] = (groups[player.group].data[j] || 0) + data[j];
                        total.data[j] = (total.data[j] || 0) + data[j];
                    }
                    rows.push({
                        player: player,
                        data: data
                    });
                }
                for (var i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push(groups[i]);
                    }
                }
                sums.push(total);
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cacheTarget.set(cacheID, res);
                return res;
            }
        }
    });
</script>