<template>
    <div>
        <div style="position:absolute; margin-top: 60px;  margin-left: 145px; z-index: 1;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Filter Skills" style="font-size: 1.1em;">
                Skills <span class="caret"></span>
            </a>
            <ul class="dropdown-menu p-2 font-weight-normal scrollabledropdown" style="min-width: 165px; max-width: 165px;">
                <div class="d-flex flex-column justify-content-center align-items-center mb-1"
                    style="border-bottom: 2px solid #bbb;">
                    <li>
                        <button style="width:130px; padding: 0.4rem 0.4rem;" type="button" class="btn btn-primary btn-sm"
                            @click="for (var i = 0; i < skillList.length; i++) {selectedSkills['s' + skillList[i].id] = true;}" @click.stop="stopClickEvent">Select all</button>
                    </li>
                    <li class="mb-1">
                        <button style="width:130px; padding: 0.4rem 0.4rem;" type="button" class="btn btn-primary btn-sm"
                            @click="for (var i = 0; i < skillList.length; i++) {selectedSkills['s' + skillList[i].id] = false;}" @click.stop="stopClickEvent">Deselect all</button>
                    </li>
                </div>
                <li v-for="(skill, index) in skillList" :key="index">
                    <input :id="'advanced-rotation-player-' + index  + '-' + phaseindex" type="checkbox"
                        v-model="selectedSkills['s' + skill.id]" @click.stop="stopClickEvent" />
                    <label :for="'advanced-rotation-player-' + index + '-' + phaseindex" @click.stop="stopClickEvent"
                        style="font-size: 1.0em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 130px; margin-top: 2px; margin-left: 5px; position: absolute;">                                     
                        <img class="icon" 
                                :src="getSkill(skill.id).icon">
                        {{skill.name}}
                    </label>          
                </li>
            </ul>
        </div>
        <graph-component :id="graphid" :layout="layout" :data="data"></graph-component>
        <rotation-legend-component></rotation-legend-component>
    </div>
</template>

<script>

    function getAdvancedRotationLayout(images, color, nbLines) {
        var layout = {
            barmode: 'stack',
            legend: {
                traceorder: 'reversed'
            },
            hovermode: "closest",
            hoverdistance: 50,
            images: images,
            font: {
                color: color
            },
            xaxis: {
                title: 'Time(sec)',
                color: color,
                gridcolor: color,
                rangemode: 'nonnegative',
                xrangeslider: {},
                tickmode: 'auto',
                nticks: 8
            },
            yaxis: {
                tickmode: 'auto',
                color: color,
                tickformat: ",d",
                range: [-nbLines, 1]
            },
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            shapes: [],
            annotations: [],
            margin: {
                l: 150,
            },
            width: 1300,
            height: 850,
            datarevision: new Date().getTime(),
        };
        return layout;
    };

    function computeAdvancedRotationData(rotationData, images, data, phase, actor, selectedSkills) {
    if (rotationData) {
        var rotaTrace = {
            x: [],
            base: [],
            y: [],
            name: actor.name,
            text: [],
            orientation: 'h',
            mode: 'markers',
            textposition: "none",
            type: 'bar',
            width: [],
            hoverinfo: 'text',
            hoverlabel: {
                namelength: '-1'
            },
            yaxis: 'y',
            marker: {
                color: [],
                width: '2.5',
                line: {
                    color: [],
                    width: '1.0'
                }
            },
            showlegend: false
        };
        var timeOffset = 0;
        var yOffset = 0;
        for (var i = 0; i < rotationData.length; i++) {
            var item = rotationData[i];
            var x = item[0];
            var skillId = item[1];
            var duration = item[2];
            var endType = item[3];
            var quick = item[4];
            var skill = findSkill(false, skillId);
            var aa = false;
            var icon;
            var name = '???';
            var swap = false;
            if (skill) {
                aa = skill.aa;
                icon = skill.icon;
                name = skill.name;
                swap = skill.isSwap;
            }
            if (!swap && !selectedSkills['s'+skillId]) {
                continue;
            }

            if (!icon.includes("render") && !icon.includes("darthmaim")) {
                icon = null;
            }

            var fillColor;
            var originalDuration = duration;
            if (endType == 1) { 
                fillColor = 'rgb(0,0,255)'; 
            }
            else if (endType == 2) { 
                fillColor = 'rgb(255,0,0)'; 
            }
            else if (endType == 3) { 
                fillColor = 'rgb(0,255,0)'; 
            }
            else if (endType == 4) { 
                fillColor = 'rgb(0,255,255)'; 
                duration = 50;
            }
            else { 
                fillColor = 'rgb(255,255,0)'; 
            }

            var clampedX = Math.max(x, 0);
            var diffX = clampedX - x;
            var clampedWidth = Math.min(x + duration / 1000.0, phase.duration / 1000.0) - x - diffX;
            clampedX -= timeOffset;
            if (!aa && icon) {
                images.push({
                    source: icon,
                    xref: 'x',
                    yref: 'y',
                    x: clampedX,
                    y: 0.0 - yOffset,
                    sizex: 0.5,
                    sizey: 0.5,
                    xanchor: 'middle',
                    yanchor: 'bottom'
                });
            }

            rotaTrace.x.push(clampedWidth - 0.001);
            rotaTrace.base.push(clampedX);
            rotaTrace.y.push(0.6 - yOffset);
            var text = `${name} at ${x}s`;
            rotaTrace.text.push(endType === RotationStatus.INSTANT ? text : text + ` for ${originalDuration}ms`);
            rotaTrace.width.push(aa ? 0.25 : 0.5);
            rotaTrace.marker.color.push(fillColor);

            var outlineR = quick > 0.0 ? quick * quickColor.r + (1.0 - quick) * normalColor.r : -quick * slowColor.r + (1.0 + quick) * normalColor.r;
            var outlineG = quick > 0.0 ? quick * quickColor.g + (1.0 - quick) * normalColor.g : -quick * slowColor.g + (1.0 + quick) * normalColor.g;
            var outlineB = quick > 0.0 ? quick * quickColor.b + (1.0 - quick) * normalColor.b : -quick * slowColor.b + (1.0 + quick) * normalColor.b;
            rotaTrace.marker.line.color.push('rgb(' + outlineR + ',' + outlineG + ',' + outlineB + ')');
            if (swap) {
                yOffset++;
                timeOffset = x;
            }
        }
        data.push(rotaTrace);
        return yOffset;
    }
    return 0;
}

    Vue.component("advancedrotation-component", {
        props: ["phaseindex", "light", "actorindex", "target"],
        template: `${template}`,
        mixins: [graphComponent],
        watch: {
            light: {
                handler: function () {
                    var textColor = this.light ? '#495057' : '#cccccc';
                    this.layout.yaxis.gridcolor = textColor;
                    this.layout.yaxis.color = textColor;
                    this.layout.xaxis.gridcolor = textColor;
                    this.layout.xaxis.color = textColor;
                    this.layout.font.color = textColor;
                    for (var i = 0; i < this.layout.shapes.length; i++) {
                        this.layout.shapes[i].line.color = textColor;
                    }
                    this.layout.datarevision = new Date().getTime();
                }
            },
            selectedSkills: {
                deep: true,
                handler: function () {
                    this.computeLayout();
                }
            }
        },
        data: function () {
            var selectedSkills = {};
            var skillList = [];
            var rotation = this.target ? logData.targets[this.actorindex].details.rotation[this.phaseindex] : logData.players[this.actorindex].details.rotation[this.phaseindex];
            for (var i = 0; i < rotation.length; i++) {
                var rota = rotation[i];
                var skillID = rota[1];
                var skill = this.getSkill(skillID);
                if (skill.isSwap || selectedSkills['s' + skillID]) {
                    continue;
                }
                skillList.push({name: skill.name, id: skillID});
                selectedSkills['s'+skillID] = true;
            }
            skillList.sort((x,y) => {
                if (x.name < y.name) {
                    return -1;
                }
                if (x.name > y.name) {
                    return 1;
                }
                return 0;
            });
            return {
                selectedSkills: selectedSkills,
                skillList: skillList,
            };
        },
        created: function () {
            this.computeLayout();
        },
        activated: function () {
            var div = document.getElementById(this.graphid);
            var _this = this;
            div.on('plotly_relayout', function (evt) {
                var layout = _this.layout;
                var images = layout.images;
                var x0 = layout.xaxis.range[0];
                var x1 = layout.xaxis.range[1];
                var y0 = layout.yaxis.range[0];
                var y1 = layout.yaxis.range[1];
                //console.log("re-layout " + x0 + " " + x1);
                if (_this.updateVisibilyInQuad(images, x0, x1, y0, y1)) {
                    layout.datarevision = new Date().getTime();
                    //console.log("re-drawing");
                }
            });
        },
        computed: {
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            actor: function () {
                return this.target ? logData.targets[this.actorindex] : logData.players[this.actorindex];
            },
            graphid: function () {
                return (this.target ? "target" : "player") + "advancedrotation-" + this.actorindex + '-' + this.phaseindex;
            },
            rotation: function () {
                return this.actor.details.rotation[this.phaseindex];
            }
        },
        methods: {       
            computeLayout: function() {
                var backUpXAxis = null;
                if (this.layout) {
                    backUpXAxis = this.layout.xaxis;
                }
                this.data = [];
                var images = [];
                var nbLines = computeAdvancedRotationData(this.rotation, images, this.data, this.phase, this.actor, this.selectedSkills);
                this.layout = getAdvancedRotationLayout(images, this.light ? '#495057' : '#cccccc', nbLines);
                if (backUpXAxis) {
                    this.layout.xaxis = backUpXAxis;
                }
                this.updateVisibily(this.layout.images, this.phase.start, this.phase.end);
            },
            stopClickEvent: function (event) {
                event.stopPropagation();
            },
            getSkill: function (id) {
                return findSkill(false, id);
            },
        }
    });
</script>