<template>
    <div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="tableid">
            <thead>
                <tr>
                    <th class="sub-cell" :class="getHeaderClass('Sub')" @click="sortBy('Sub')">
                        Sub
                    </th>
                    <th class="prof-cell" :class="getHeaderClass('Prof')" @click="sortBy('Prof')">

                    </th>
                    <th class="text-left" :class="getHeaderClass('Name')" @click="sortBy('Name')">
                        Name
                    </th>
                    <th class="text-left" :class="getHeaderClass('Account')" @click="sortBy('Account')">
                        Account
                    </th>
                    <th class="damage-cell" :class="getHeaderClass('Data', 0)" @click="sortBy('Data', 0)"
                        data-original-title="Damage taken">
                        <img src="https://wiki.guildwars2.com/images/thumb/6/6a/Damage.png/30px-Damage.png"
                            alt="Damage Taken" class="icon icon-hover">
                    </th>
                    <th class="damage-cell" :class="getHeaderClass('Data', 1)" @click="sortBy('Data', 1)"
                        data-original-title="Damage absorbed by barrier">
                        <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png"
                            alt="Damage Barrier" class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 2)" @click="sortBy('Data', 2)"
                        data-original-title="Number of hits missed against">
                        <img src="https://wiki.guildwars2.com/images/3/33/Blinded.png" alt="Missed"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 3)" @click="sortBy('Data', 3)"
                        data-original-title="Number of times interrupted">
                        <img src="https://wiki.guildwars2.com/images/7/79/Daze.png" alt="Interrupted"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 4)" @click="sortBy('Data', 4)"
                        data-original-title="Number of times was invulnerable to damage">
                        <img src="https://wiki.guildwars2.com/images/e/eb/Determined.png" alt="Ivuln"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 5)" @click="sortBy('Data', 5)"
                        data-original-title="Number of evades">
                        <img src="https://wiki.guildwars2.com/images/e/e2/Evade.png" alt="Evaded"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 6)" @click="sortBy('Data', 6)"
                        data-original-title="Number of times blocked an attack">
                        <img src="https://wiki.guildwars2.com/images/e/e5/Aegis.png" alt="Blocked"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 7)" @click="sortBy('Data', 7)"
                        data-original-title="Number of dodge + mirage cloak">
                        <img src="https://wiki.guildwars2.com/images/b/b2/Dodge.png" alt="Dodge"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 8)" @click="sortBy('Data', 8)"
                        data-original-title="Condition Cleanse">
                        <img src="https://wiki.guildwars2.com/images/1/12/Healing_Spring.png" alt="Condition Cleanse"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 10)" @click="sortBy('Data', 10)"
                        data-original-title="Boon Strips">
                        <img src="https://wiki.guildwars2.com/images/e/ec/Banish_Enchantment.png" alt="Boon Strips"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 12)" @click="sortBy('Data', 12)"
                        data-original-title="Times downed">
                        <img src="https://wiki.guildwars2.com/images/c/c6/Downed_enemy.png" alt="Downs"
                            class="icon icon-hover">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 16)" @click="sortBy('Data', 16)"
                        data-original-title="Damage taken while downed">
                        <img src="https://wiki.guildwars2.com/images/thumb/6/6a/Damage.png/30px-Damage.png" alt="Damage"
                            class="icon">
                            &#8658
                        <img src="https://wiki.guildwars2.com/images/c/c6/Downed_enemy.png"
                            alt="Downed" 
                            class="icon">
                    </th>
                    <th class="stat-cell" :class="getHeaderClass('Data', 14)" @click="sortBy('Data', 14)"
                        data-original-title="Times died">
                        <img src="https://wiki.guildwars2.com/images/4/4a/Ally_death_%28interface%29.png" alt="Dead"
                            class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in sortData(tableData.rows)" :class="{active: row.player.id === playerindex}">
                    <td :class="getBodyClass('Sub')">
                        {{row.player.group}}
                    </td>
                    <td :class="getBodyClass('Prof')" :data-original-title="row.player.profession">
                        <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span
                            style="display:none">{{row.player.profession}}</span>
                    </td>
                    <td :class="getBodyClass('Name')" class="text-left">
                        {{row.player.name}}
                    </td>
                    <td :class="getBodyClass('Account')" class="text-left">
                        {{row.player.acc}}
                    </td>
                    <td :class="getBodyClass('Data', 0)">
                        {{row.def[0]}}
                    </td>
                    <td :class="getBodyClass('Data', 1)">
                        {{row.def[1]}}
                    </td>
                    <td :class="getBodyClass('Data', 2)">
                        {{row.def[2]}}
                    </td>
                    <td :class="getBodyClass('Data', 3)">
                        {{row.def[3]}}
                    </td>
                    <td :class="getBodyClass('Data', 4)">
                        {{row.def[4]}}
                    </td>
                    <td :class="getBodyClass('Data', 5)">
                        {{row.def[5]}}
                    </td>
                    <td :class="getBodyClass('Data', 6)">
                        {{row.def[6]}}
                    </td>
                    <td :class="getBodyClass('Data', 7)">
                        {{row.def[7]}}
                    </td>
                    <td :class="getBodyClass('Data', 8)" :data-original-title="row.def[9] + ' seconds'">
                        {{row.def[8]}}
                    </td>
                    <td :class="getBodyClass('Data', 10)" :data-original-title="row.def[11] + ' seconds'">
                        {{row.def[10]}}
                    </td>
                    <td :class="getBodyClass('Data', 12)" :data-original-title="row.def[13]">
                        {{row.def[12]}}
                    </td>
                    <td :class="getBodyClass('Data', 16)">
                        {{row.def[16]}}
                    </td>
                    <td :class="getBodyClass('Data', 14)" :data-original-title="row.def[15]">
                        {{row.def[14]}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-for="sum in tableData.sums">
                    <td></td>
                    <td></td>
                    <td class="text-left">{{sum.name}}</td>
                    <td></td>
                    <td>{{sum.def[0]}}</td>
                    <td>{{sum.def[1]}}</td>
                    <td>{{sum.def[2]}}</td>
                    <td>
                        {{sum.def[3]}}
                    </td>
                    <td>{{sum.def[4]}}</td>
                    <td>{{sum.def[5]}}</td>
                    <td>{{sum.def[6]}}</td>
                    <td>{{sum.def[7]}}</td>
                    <td>{{sum.def[8]}}</td>
                    <td>{{sum.def[10]}}</td>
                    <td>{{sum.def[12]}}</td>
                    <td>{{sum.def[16]}}</td>
                    <td>{{sum.def[14]}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("defense-stats-component", {
        props: ["phaseindex", "playerindex"],
        template: `${template}`,
        mixins: [numberComponent, sortedTableComponent],
        data: function () {
            return {
                cache: new Map(),
                sortdata: {
                    order: "desc",
                    index: 0,
                    key: "Data",
                }
            };
        },
        methods: {
            sortBy: function (key, index) {
                this.sortByBase(this.sortdata, key, index);
            },
            getHeaderClass: function (key, index) {
                return this.getHeaderClassBase(this.sortdata, key, index);
            },
            getBodyClass: function (key, index) {
                var classes = this.getBodyClassBase(this.sortdata, key, index);
                return classes;
            },
            sortData: function (rows) {
                var order = this.sortdata.order === "asc" ? 1 : -1;
                switch (this.sortdata.key) {
                    case "Sub":
                        rows.sort((x, y) => order * (x.player.group - y.player.group) || this.sortByPlayerName(x, y));
                        break;
                    case "Prof":
                        rows.sort((x, y) => order * this.sortByPlayerProfession(x, y) || this.sortByPlayerName(x, y));
                        break;
                    case "Name":
                        rows.sort((x, y) => order * this.sortByPlayerName(x, y));
                        break;
                    case "Account":
                        rows.sort((x, y) => order * this.sortByPlayerAccount(x, y));
                        break;
                    case "Data":
                        var index = this.sortdata.index;
                        rows.sort((x, y) => order * (x.def[index] - y.def[index]) || this.sortByPlayerName(x, y));
                        break;
                    default:
                        return null;
                        break;
                }
                return rows;
            },
        },
        computed: {
            tableid: function () {
                return "def-table";
            },
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            tableData: function () {
                if (this.cache.has(this.phaseindex)) {
                    return this.cache.get(this.phaseindex);
                }
                var rows = [];
                var sums = [];
                var total = [];
                var groups = [];
                var i;
                for (i = 0; i < this.phase.defStats.length; i++) {
                    var def = this.phase.defStats[i];
                    var player = logData.players[i];
                    if (player.isFake) {
                        continue;
                    }
                    rows.push({
                        player: player,
                        def: def
                    });
                    if (!groups[player.group]) {
                        groups[player.group] = [];
                    }
                    for (var j = 0; j < def.length; j++) {
                        if (typeof def[j] === 'string') {
                            continue;
                        }
                        total[j] = (total[j] || 0) + def[j];
                        groups[player.group][j] = (groups[player.group][j] || 0) + def[j];
                    }
                }
                for (i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push({
                            name: "Group " + i,
                            def: groups[i]
                        });
                    }
                }
                sums.push({
                    name: "Total",
                    def: total
                });
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cache.set(this.phaseindex, res);
                return res;
            }
        }
    });
</script>