<template>
    <div>
        <keep-alive>
            <dmgdist-target-component v-if="mode === 0" :key="'dist' + targetindex" :phaseindex="phaseindex"
                :targetindex="targetindex"></dmgdist-target-component>
            <dmgtaken-component v-if="mode === 1" :actorindex="targetindex" :player="false" :key="'taken' + targetindex"
                :tableid="'dmgtaken-target-'+targetindex" :phaseindex="phaseindex"></dmgtaken-component>
            <target-graph-tab-component v-for="(ph, id) in phases" v-if="mode === 2 && id === phaseindex" :key="id"
                :targetindex="targetindex" :phaseindex="id" :light="light"></target-graph-tab-component>
            <targetperplayer-graphs-tab-component v-for="(ph, id) in phases" v-if="mode === 5 && id === phaseindex" :key="id + 'perplayer'" 
                :targetindex="targetindex" :phaseindex="id" :playerindex="playerindex" :light="light">
            </targetperplayer-graphs-tab-component>
            <simplerotation-component v-if="mode === 3" :key="'rot' + targetindex" :actorindex="targetindex"
                :phaseindex="phaseindex" :target="true"></simplerotation-component>
            <target-buff-tab-component v-if="mode === 4" :key="'buffs' + targetindex" :targetindex="targetindex"
                :phaseindex="phaseindex" :playerindex="playerindex"></target-buff-tab-component>
        </keep-alive>
    </div>
</template>

<script>
    Vue.component("target-tab-component", {
        props: ["phaseindex", "playerindex", 'targetindex', 'mode', 'light'],
        template: `${template}`,
        computed: {
            phases: function () {
                return logData.phases;
            },
        }
    });
</script>