<template>
    <div class="card fight-summary" style="min-width: 350px;">
        <h3 class="card-header text-center">{{ encounter.name }}</h3>
        <div class="card-body container">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="d-flex flex-column mr-3 justify-content-center">
                    <div v-if="instanceBuffs" class="d-flex flex-row justify-content-around mb-1">
                        <span v-for="instanceBuff in instanceBuffs">
                            {{instanceBuff.stack > 1 ? instanceBuff.stack + ' x' : ''}}
                            <img :data-original-title="instanceBuff.buff.name + (instanceBuff.buff.description ? '<br> ' + instanceBuff.buff.description : '')"
                                 :src="instanceBuff.buff.icon" class="icon icon-hover" />
                        </span>
                    </div>
                    <img class="encounter-icon" :src="encounter.icon" :alt="encounter.name">
                </div>
                <div class="ml-3 d-flex flex-column justify-content-center">
                    <div v-if="!wvw" class="mb-2" v-for="target in encounter.targets">
                        <div class="small" style="text-align:center;">
                            {{target.name}}
                        </div>
                        <div v-if="target.health > 0" class="super-small" style="text-align:center;">
                            {{ target.health }} Health
                        </div>
                        <div :style="{'background': getGradient(target.hpLeft ? target.hpLeft : 0), 'height': '10px', 'width': '100%', 'border-radius': '5px'}">
                        </div>
                        <div class="small" style="text-align:center;">
                            {{ target.hpLeft ? target.hpLeft : 0 }}% remaining
                        </div>
                    </div>
                    <div v-if="!wvw" class="mb-2 text" :class="resultStatus.class">
                        Result: {{resultStatus.text}}
                    </div>
                    <div class="mb-2">Duration: {{ encounter.duration }}</div>
                    <div class="mb-2" v-if="fractalScale > 0">Fractal Scale: {{ fractalScale }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component("encounter-component", {
        props: [],
        template: `${template}`,
        data: function () {
            return {
                wvw: logData.wvw
            };
        },
        methods: {
            getGradient: function (percent) {
                var template = 'linear-gradient(to right, $left$, $middle$, $right$)';
                var greenPercent = "green " + (100 - percent) + "%";
                var redPercent = "red " + (percent) + "%";
                var middle = percent + "%";
                template = template.replace('$right$', greenPercent);
                template = template.replace('$left$', redPercent);
                template = template.replace('$middle$', middle);
                return template;
            }
        },
        computed: {
            encounter: function () {
                var targets = [];
                var mainPhase = logData.phases[0];
                if (!logData.targetless) {
                    for (var i = 0; i < mainPhase.targets.length; i++) {
                        if (mainPhase.secondaryTargets[i]) {
                            continue;
                        }
                        if (targets.length >= 10) {
                            break;
                        }
                        var targetIndex = mainPhase.targets[i];
                        var targetData = logData.targets[targetIndex];
                        targets.push(targetData);
                    }
                }

                var encounter = {
                    name: logData.fightName,
                    icon: logData.fightIcon,
                    duration: logData.encounterDuration,
                    targets: targets
                };
                return encounter;
            },
            fractalScale: function () {
                return logData.fractalScale;
            },
            resultStatus: function () {
                return logData.success ? { text: 'Success', class: ["text-success"] } : { text: 'Failure', class: ["text-warning"] };
            },
            instanceBuffs: function () {
                if (logData.instanceBuffs.length == 0) {
                    return null;
                }
                var res = [];
                for (var i = 0; i < logData.instanceBuffs.length; i++) {
                    res.push({buff: findSkill(true, logData.instanceBuffs[i][0]), stack: logData.instanceBuffs[i][1]});
                }
                return res;
            },
        }
    });
</script>