<template>
    <div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="def-table">
            <thead>
                <tr>
                    <th>Sub</th>
                    <th></th>
                    <th class="text-left">Name</th>
                    <th>Account</th>
                    <th data-original-title="Damage taken" >
                        <img src="https://wiki.guildwars2.com/images/thumb/6/6a/Damage.png/30px-Damage.png" alt="Damage Taken"
                        class="icon icon-hover">
                    </th>
                    <th data-original-title="Damage absorbed by barrier">
                        <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Damage Barrier"
                        class="icon icon-hover">
                    </th>
                    <th data-original-title="Number of times blocked an attack" >
                        <img src="https://wiki.guildwars2.com/images/e/e5/Aegis.png" alt="Blocked"
                            class="icon icon-hover">
                    </th>
                    <th data-original-title="Number of times was invulnerable to damage">
                        <img src="https://wiki.guildwars2.com/images/e/eb/Determined.png" alt="Ivuln"
                             class="icon icon-hover">
                    </th>
                    <th data-original-title="Number of times interrupted">
                        <img src="https://wiki.guildwars2.com/images/7/79/Daze.png" alt="Interrupted"
                            
                            class="icon icon-hover">
                    </th>
                    <th data-original-title="Number of evades">
                        <img src="https://wiki.guildwars2.com/images/e/e2/Evade.png" alt="Evaded"
                             class="icon icon-hover">
                    </th>
                    <th data-original-title="Number of dodge + mirage cloak" >
                        <img src="https://wiki.guildwars2.com/images/b/b2/Dodge.png" alt="Dodge"
                            class="icon icon-hover">
                    </th>
                    <th data-original-title="Number of hits missed against" >
                        <img src="https://wiki.guildwars2.com/images/3/33/Blinded.png" alt="Missed"
                            class="icon icon-hover">
                    </th>
                    <th data-original-title="Times downed">
                        <img src="https://wiki.guildwars2.com/images/c/c6/Downed_enemy.png" alt="Downs"
                             class="icon icon-hover">
                    </th>
                    <th  data-original-title="Times died">
                        <img src="https://wiki.guildwars2.com/images/4/4a/Ally_death_%28interface%29.png" alt="Dead"
                            class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in tableData.rows" :class="{active: row.player.id === playerindex}">
                    <td>{{row.player.group}}</td>
                    <td :data-original-title="row.player.profession">
                        <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span
                            style="display:none">{{row.player.profession}}</span>
                    </td>
                    <td class="text-left">{{row.player.name}}</td>
                    <td>{{row.player.acc}}</td>
                    <td>{{row.def[0]}}</td>
                    <td>{{row.def[1]}}</td>
                    <td>{{row.def[2]}}</td>
                    <td>
                        {{row.def[3]}}
                    </td>
                    <td>{{row.def[4]}}</td>
                    <td>{{row.def[5]}}</td>
                    <td>{{row.def[6]}}</td>
                    <td>{{row.def[7]}}</td>
                    <td :data-original-title="row.def[9]">{{row.def[8]}}</td>
                    <td :data-original-title="row.def[11]">{{row.def[10]}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-for="sum in tableData.sums">
                    <td></td>
                    <td></td>
                    <td class="text-left">{{sum.name}}</td>
                    <td></td>
                    <td>{{sum.def[0]}}</td>
                    <td>{{sum.def[1]}}</td>
                    <td>{{sum.def[2]}}</td>
                    <td>
                        {{sum.def[3]}}
                    </td>
                    <td>{{sum.def[4]}}</td>
                    <td>{{sum.def[5]}}</td>
                    <td>{{sum.def[6]}}</td>
                    <td>{{sum.def[7]}}</td>
                    <td>{{sum.def[8]}}</td>
                    <td>{{sum.def[10]}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("defense-stats-component", {
        props: ["phaseindex", "playerindex"],
        template: `${template}`,
        data: function () {
            return {
                cache: new Map()
            };
        },
        mounted() {
            initTable("#def-table", 4, "desc");
        },
        updated() {
            updateTable("#def-table");
        },
        computed: {
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            tableData: function () {
                if (this.cache.has(this.phaseindex)) {
                    return this.cache.get(this.phaseindex);
                }
                var rows = [];
                var sums = [];
                var total = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                var groups = [];
                var i;
                for (i = 0; i < this.phase.defStats.length; i++) {
                    var def = this.phase.defStats[i];
                    var player = logData.players[i];
                    if (player.isConjure) {
                        continue;
                    }
                    rows.push({
                        player: player,
                        def: def
                    });
                    if (!groups[player.group]) {
                        groups[player.group] = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                    }
                    for (var j = 0; j < total.length; j++) {
                        total[j] += def[j];
                        groups[player.group][j] += def[j];
                    }
                }
                for (i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push({
                            name: "Group " + i,
                            def: groups[i]
                        });
                    }
                }
                sums.push({
                    name: "Total",
                    def: total
                });
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cache.set(this.phaseindex, res);
                return res;
            }
        }
    });
</script>