<template>
    <div>
        <div class="d-flex flex-row justify-content-center mt-1 mb-1">
            <ul class="nav nav-pills d-flex flex-row justify-content-center scale85">
                <li class="nav-item">
                    <a class="nav-link" @click="mode = 0" :class="{active: mode === 0}">Uptime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="mode = 1" :class="{active: mode === 1 }">Generation Self</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="mode = 2" :class="{active: mode === 2 }"
                        data-original-title="Self excluded">Generation Group</a>
                </li>
                <li v-if="!singleGroup" class="nav-item">
                    <a class="nav-link" @click="mode = 3" :class="{active: mode === 3 }"
                        data-original-title="Self excluded">Generation Off-Group</a>
                </li>
                <li v-if="!singleGroup" class="nav-item">
                    <a class="nav-link" @click="mode = 4" :class="{active: mode === 4 }"
                        data-original-title="Self excluded">Generation Squad</a>
                </li>
            </ul>
        </div>
        <keep-alive>
            <buff-table-component v-if="datatype === datatypes.boonTable" :key="'boon-stats-table'" :condition="false"
                :generation="mode > 0" :id="'boon-stats-table'" :buffs="boons" :playerdata="buffData.boonsData[mode]"
                :sums="mode === 0 ? buffData.boonsData[5] : []" :playerindex="playerindex">
            </buff-table-component>
            <buff-table-component v-if="datatype === datatypes.offensiveBuffTable" :key="'offensivebuff-stats-table'"
                :condition="false" :generation="mode > 0" :id="'offensivebuff-stats-table'" :buffs="offs"
                :playerdata="buffData.offsData[mode]" :sums="mode === 0 ? buffData.offsData[5] : []"
                :playerindex="playerindex">
            </buff-table-component>
            <buff-table-component v-if="datatype === datatypes.defensiveBuffTable" :key="'defensivebuff-stats-table'"
                :condition="false" :generation="mode > 0" :id="'defensivebuff-stats-table'" :buffs="defs"
                :playerdata="buffData.defsData[mode]" :sums="mode === 0 ? buffData.defsData[5] : []"
                :playerindex="playerindex">
            </buff-table-component>
            <buff-table-component v-if="datatype === datatypes.supportBuffTable" :key="'supportbuff-stats-table'"
                :condition="false" :generation="mode > 0" :id="'supportbuff-stats-table'" :buffs="sups"
                :playerdata="buffData.supsData[mode]" :sums="mode === 0 ? buffData.supsData[5] : []"
                :playerindex="playerindex">
            </buff-table-component>
        </keep-alive>
    </div>
</template>

<script>
    Vue.component("buff-stats-component", {
        props: ['datatypes', 'datatype', 'phaseindex', 'playerindex', 'active'],
        template: `${template}`,
        data: function () {
            return {
                mode: 0,
                cache: new Map()
            };
        },
        computed: {
            singleGroup: function () {
                return logData.singleGroup;
            },
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            boons: function () {
                var data = [];
                for (var i = 0; i < logData.boons.length; i++) {
                    data[i] = findSkill(true, logData.boons[i]);
                }
                return data;
            },
            offs: function () {
                var data = [];
                for (var i = 0; i < logData.offBuffs.length; i++) {
                    data[i] = findSkill(true, logData.offBuffs[i]);
                }
                return data;
            },
            defs: function () {
                var data = [];
                for (var i = 0; i < logData.defBuffs.length; i++) {
                    data[i] = findSkill(true, logData.defBuffs[i]);
                }
                return data;
            },
            sups: function () {
                var data = [];
                for (var i = 0; i < logData.supBuffs.length; i++) {
                    data[i] = findSkill(true, logData.supBuffs[i]);
                }
                return data;
            },
            buffData: function () {
                var id = this.phaseindex + '-' + this.active;
                if (this.cache.has(id)) {
                    return this.cache.get(id);
                }
                var active = this.active;
                var activeTimes = this.phase.playerActiveTimes;
                var getData = function (stats, genself, gengroup, genoffgr, gensquad) {
                    var uptimes = [],
                        gens = [],
                        gengr = [],
                        genoff = [],
                        gensq = [];
                    var avg = [],
                        gravg = [],
                        totalavg = [];
                    var grcount = [],
                        totalcount = 0;
                    var grBoonAvg = [],
                        totalBoonAvg = 0;
                    var i, k;
                    for (i = 0; i < logData.players.length; i++) {
                        var player = logData.players[i];
                        if (player.isConjure) {
                            continue;
                        }
                        uptimes.push({
                            player: player,
                            data: stats[i]
                        });
                        gens.push({
                            player: player,
                            data: genself[i]
                        });
                        gengr.push({
                            player: player,
                            data: gengroup[i]
                        });
                        genoff.push({
                            player: player,
                            data: genoffgr[i]
                        });
                        gensq.push({
                            player: player,
                            data: gensquad[i]
                        });
                        if (active && activeTimes[i] < 1e-6) {
                            continue;
                        }
                        if (!gravg[player.group]) {
                            gravg[player.group] = [];
                            grcount[player.group] = 0;
                            grBoonAvg[player.group] = 0;
                        }
                        totalcount++;
                        totalBoonAvg += stats[i].avg;
                        grBoonAvg[player.group] += stats[i].avg;
                        grcount[player.group]++;
                        for (var j = 0; j < stats[i].data.length; j++) {
                            totalavg[j] = (totalavg[j] || 0) + (stats[i].data[j][0] || 0);
                            gravg[player.group][j] = (gravg[player.group][j] || 0) + (stats[i].data[j][0] || 0);
                        }
                    }
                    for (i = 0; i < gravg.length; i++) {
                        if (gravg[i]) {
                            for (k = 0; k < gravg[i].length; k++) {
                                gravg[i][k] = Math.round(1000 * gravg[i][k] / grcount[i]) / 1000;
                            }
                            avg.push({
                                name: "Group " + i,
                                data: gravg[i],
                                avg: Math.round(1000 * grBoonAvg[i] / grcount[i]) / 1000
                            });
                        }
                    }
                    for (k = 0; k < totalavg.length; k++) {
                        totalavg[k] = Math.round(1000 * totalavg[k] / totalcount) / 1000;
                    }
                    avg.push({
                        name: "Total",
                        data: totalavg,
                        avg: Math.round(1000 * totalBoonAvg / totalcount) / 1000
                    });
                    return [uptimes, gens, gengr, genoff, gensq, avg];
                };
                var res;
                if (this.active) {
                    res = {
                        boonsData: getData(this.phase.boonActiveStats, this.phase.boonGenActiveSelfStats,
                            this.phase.boonGenActiveGroupStats, this.phase.boonGenActiveOGroupStats, this.phase.boonGenActiveSquadStats),
                        offsData: getData(this.phase.offBuffActiveStats, this.phase.offBuffGenActiveSelfStats,
                            this.phase.offBuffGenActiveGroupStats, this.phase.offBuffGenActiveOGroupStats, this.phase.offBuffGenActiveSquadStats),
                        defsData: getData(this.phase.defBuffActiveStats, this.phase.defBuffGenActiveSelfStats,
                            this.phase.defBuffGenActiveGroupStats, this.phase.defBuffGenActiveOGroupStats, this.phase.defBuffGenActiveSquadStats),
                        supsData: getData(this.phase.supBuffActiveStats, this.phase.supBuffGenActiveSelfStats,
                            this.phase.supBuffGenActiveGroupStats, this.phase.supBuffGenActiveOGroupStats, this.phase.supBuffGenActiveSquadStats)
                    };
                } else {
                    res = {
                        boonsData: getData(this.phase.boonStats, this.phase.boonGenSelfStats,
                            this.phase.boonGenGroupStats, this.phase.boonGenOGroupStats, this.phase.boonGenSquadStats),
                        offsData: getData(this.phase.offBuffStats, this.phase.offBuffGenSelfStats,
                            this.phase.offBuffGenGroupStats, this.phase.offBuffGenOGroupStats, this.phase.offBuffGenSquadStats),
                        defsData: getData(this.phase.defBuffStats, this.phase.defBuffGenSelfStats,
                            this.phase.defBuffGenGroupStats, this.phase.defBuffGenOGroupStats, this.phase.defBuffGenSquadStats),
                        supsData: getData(this.phase.supBuffStats, this.phase.supBuffGenSelfStats,
                            this.phase.supBuffGenGroupStats, this.phase.supBuffGenOGroupStats, this.phase.supBuffGenSquadStats)
                    };
                }
                this.cache.set(id, res);
                return res;
            }
        },
    });
</script>