<template>
    <div class="ei-main-content">

        <!-- Section header (always visible, all sections) -->
        <div class="ei-section-header">
            <div class="ei-header-general">
                <div class="ei-boss-portrait">
                    <img v-if="activeEncounterData.icon" :src="activeEncounterData.icon" :alt="activeEncounterData.nameNoMode">
                </div>
                <div style="flex:1;min-width:0">
                    <div class="ei-boss-detail-name">
                        {{ activeEncounterData.nameNoMode }}
                        <span v-if="tab !== 0" class="ei-section-badge">{{ sectionTitle }}</span>
                    </div>
                    <div class="ei-boss-stats-row">
                        <div v-if="activeEncounterData.mode" class="ei-boss-stat"><b>{{ activeEncounterData.mode }}</b></div>
                        <div class="ei-boss-stat">Duration <b>{{ activeEncounterData.duration }}</b></div>
                        <div v-if="!activeEncounterData.hideResult" class="ei-boss-stat" :class="activeEncounterData.success ? 'success' : 'failure'">
                            <b>{{ activeEncounterData.success ? '&#10003; Success' : '&#10007; Failure' }}</b>
                        </div>
                        <div v-if="activeEncounterData.fractalScale > 0" class="ei-boss-stat">Fractal Scale <b>{{ activeEncounterData.fractalScale }}</b></div>
                        <div v-if="activeEncounterData.instancePrivacy" class="ei-boss-stat">{{ activeEncounterData.instancePrivacy }}</div>
                        <div v-if="activeEncounterData.startStatus" class="ei-boss-stat" style="color:var(--warn)"><b>{{ activeEncounterData.startStatus }}</b></div>
                    </div>
                    <div v-if="tab === 0 && activeEncounterData.instanceBuffs" class="ei-instance-buffs">
                        <span v-for="b in activeEncounterData.instanceBuffs" class="ei-instance-buff">
                            <span v-if="b.stack > 1" class="ei-instance-buff-stack">{{ b.stack }}&#215;</span>
                            <img :src="b.buff.icon" :alt="b.buff.name" class="icon icon-hover" :data-original-title="b.buff.name + (b.buff.description ? '<br>' + b.buff.description : '')">
                        </span>
                    </div>
                    <div v-if="tab === 0 && !activeEncounterData.hideTargets && activeEncounterData.targets && activeEncounterData.targets.length" class="ei-target-hp-list">
                        <div v-for="target in activeEncounterData.targets" class="ei-target-hp-group">
                            <div v-if="activeEncounterData.targets.length > 1" class="ei-target-hp-name">{{ target.name }}</div>
                            <div v-if="target.hpBars">
                                <div v-for="hpBar in target.hpBars" class="ei-hp-wrap">
                                    <div class="ei-hp-bar" :style="{background: getGradient(target, hpBar)}"></div>
                                    <div v-if="target.health > 0" class="ei-hp-label">{{ targetHealthValues(target, hpBar) }}</div>
                                </div>
                            </div>
                            <div v-if="!target.hpBars" class="ei-hp-wrap">
                                <div class="ei-hp-bar" :style="{background: getGradient(target, null)}"></div>
                                <div v-if="target.health > 0" class="ei-hp-label">{{ targetHealthValues(target, null) }}</div>
                            </div>
                        </div>
                    </div>
                    <div v-if="tab === 0 && activeEncounterData.hideTargets" class="ei-boss-stats-row" style="margin-top:6px">
                        <div class="ei-boss-stat">Players <b>{{ activeEncounterData.playerCount }}</b></div>
                        <div class="ei-boss-stat">Friendlies <b>{{ activeEncounterData.nonSquadFriendlyCount }}</b></div>
                        <div class="ei-boss-stat">Enemies <b>{{ activeEncounterData.targetCount }}</b></div>
                    </div>
                    <div class="ei-ctx-pills" style="margin-top:8px">
                        <button class="ei-ctx-pill" v-if="hasPhasesFilter" @click="expandFilter('phase')">&#9672; {{ phaseName }}</button>
                        <button class="ei-ctx-pill" @click="expandFilter('players')">&#128101; {{ selectedPlayerName }}</button>
                        <button class="ei-ctx-pill" v-if="hasTargets" @click="expandFilter('targets')">&#127919; {{ targetSummary }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ei-section-content">
        <keep-alive>
            <stat-tables-component v-if="tab === 0" :key="'stat-tables'"
                :phaseindex="activePhase" :playerindex="activePlayer"
                :activetargets="activePhaseTargets"></stat-tables-component>
            <buff-tab-component v-if="tab === 1" :key="'buff-tables'"
                :phaseindex="activePhase" :playerindex="activePlayer"></buff-tab-component>
            <dmgmodifier-stats-container-component v-if="tab === 2" :key="'modifier'"
                :phaseindex="activePhase" :playerindex="activePlayer" :activetargets="activePhaseTargets">
            </dmgmodifier-stats-container-component>
            <mechanics-stats-component v-if="tab === 3" :key="'mechanics'"
                :phaseindex="activePhase" :playerindex="activePlayer"></mechanics-stats-component>
            <graph-stats-component v-if="tab === 4" :key="'graph'"
                :activetargets="activePhaseTargets" :phaseindex="activePhase" :playerindex="activePlayer"
                :light="light"></graph-stats-component>
            <player-rotations-tab-component v-if="tab === 7" :key="'rotations'" :phaseindex="activePhase"
                :light="light" :playerindex="activePlayer">
            </player-rotations-tab-component>
            <target-stats-component v-if="tab === 5" :key="'targets'" :playerindex="activePlayer"
                :simplephase="reactiveLogdata.phases[activePhase]" :phaseindex="activePhase" :light="light">
            </target-stats-component>
            <player-stats-component v-if="tab === 6" :key="'players'"
                :activeplayer="activePlayer" :phaseindex="activePhase" :activetargets="activePhaseTargets"
                :light="light"></player-stats-component>
        </keep-alive>
        </div>
    </div>
</template>

<script>

    function getDefaultMainSubComponent() {
        if (!validateStartPath("Statistics")) {
            return 0;
        }
        const setting = EIUrlParams.get("startPage");
        const compo = setting.split('/')[1];
        switch (compo) {
            case "GeneralStats":
                return 0;
            case "Buffs":
                return 1;
            case "DamageModifiers":
                return hasDamageMods() ? 2 : 0;
            case "Mechanics":
                return hasMechanics() ? 3 : 0;
            case "Graph":
                return 4;
            case "Rotations":
                return hasRotations() ? 7 : 0;
            case "TargetsSummary":
                return hasTargets() ? 5 : 0;
            case "PlayerSummary":
                return 6;
        }
        return 0;
    }
    Vue.component("main-view-component", {
        props: ['light'],
        mixins: [encounterPhaseComponent],
        template: `${template}`,
        data: function () {
            return {
                reactiveLogdata: reactiveLogdata
            };
        },
        created: function() {
            reactiveLogdata.tab = getDefaultMainSubComponent();
        },
        computed: {
            tab: function() {
                return reactiveLogdata.tab;
            },
            activeEncounterData: function() {
                var active = this.encounters[0];
                for (var i = 0; i < this.encounters.length; i++) {
                    if (this.encounters[i].active) { active = this.encounters[i]; break; }
                }
                if (!active) return {};
                var p = logData.phases[active.index];
                var targets = [];
                var targetCount = 0;
                var noTargets = !!logData.targetless;
                for (var i = 0; i < p.targets.length; i++) {
                    if (p.targetPriorities[i] > 0) continue;
                    targetCount++;
                    if (!noTargets && targets.length < 10) {
                        targets.push(logData.targets[p.targets[i]]);
                    }
                }
                var hideTargets = logData.wvw || (p.type === PhaseTypes.INSTANCE && IsMultiEncounterLog);
                var players = getActiveNonFakePlayersForPhase(p);
                var presentAccounts = new Set();
                var playerCount = players.filter(function(x) {
                    if (!x || x.notInSquad) return false;
                    if (presentAccounts.has(x.acc)) return false;
                    presentAccounts.add(x.acc);
                    return true;
                }).length;
                var nonSquadFriendlyCount = players.filter(function(x) { return x && !!x.notInSquad; }).length;
                var instanceBuffs = null;
                var ibs = logData.instanceBuffs || [];
                if (ibs.length > 0) {
                    var ib = [];
                    for (var j = 0; j < ibs.length; j++) {
                        var cur = ibs[j];
                        if (cur[2] <= p.start && cur[3] >= p.end) {
                            ib.push({ buff: findSkill(true, cur[0]), stack: cur[1] });
                        }
                    }
                    if (ib.length > 0) instanceBuffs = ib;
                }
                return {
                    nameNoMode: p === logData.phases[0] ? logData.logName : p.nameNoMode,
                    success: p.success,
                    icon: _buildFallBackURL(p.icon),
                    duration: p.encounterDuration,
                    mode: p.mode,
                    targets: targets,
                    targetCount: targetCount,
                    hideTargets: hideTargets,
                    hideResult: hideTargets,
                    playerCount: playerCount,
                    nonSquadFriendlyCount: nonSquadFriendlyCount,
                    instanceBuffs: instanceBuffs,
                    fractalScale: logData.fractalScale || 0,
                    instancePrivacy: logData.instancePrivacy || '',
                    startStatus: p.startStatus || '',
                };
            },
            sectionTitle: function() {
                var titles = { 1: 'Buffs', 2: 'Damage Modifiers', 3: 'Mechanics', 4: 'Graph', 5: 'Targets Summary', 6: 'Player Summary', 7: 'Rotations' };
                return titles[this.tab] || '';
            },
            activePhase: function () {
                var phases = this.reactiveLogdata.phases;
                for (var i = 0; i < phases.length; i++) {
                    if (phases[i].active) {
                        return i;
                    }
                }
            },
            phase: function () {
                return logData.phases[this.activePhase];
            },
            activePlayer: function () {
                var players = this.reactiveLogdata.players;
                for (var i = 0; i < players.length; i++) {
                    if (players[i].active) {
                        return i;
                    }
                }
                return -1;
            },
            activePhaseTargets: function () {
                var res = [];
                var activePhase = logData.phases[this.activePhase];
                for (var i = 0; i < activePhase.targets.length; i++) {
                    var targetIndex = activePhase.targets[i];
                    var target = this.reactiveLogdata.targets[targetIndex][this.activePhase];
                    if (target.active) {
                        res.push(i);
                    }
                }
                return res;
            },
            hasDamageMods: function() {
                return hasDamageMods();
            },
            hasMechanics: function() {
                return hasMechanics();
            },
            hasTargets: function() {
                return hasTargets();
            },
            hasRotations: function() {
                return hasRotations();
            },
            hasPhasesFilter: function () {
                var phases = getPhasesForSelectedEncounter(reactiveLogdata.phases, this.encounters);
                if (!phases) return false;
                return phases.filter(function(p) { return !logData.phases[p.index].breakbarPhase; }).length > 1;
            },
            phaseName: function () {
                var phase = logData.phases[this.activePhase];
                if (!phase) return '—';
                return phase === this.encounterPhase ? phase.nameNoMode : phase.name;
            },
            selectedPlayerName: function () {
                for (var i = 0; i < logData.players.length; i++) {
                    if (logData.players[i].isFake) continue;
                    if (reactiveLogdata.players[i] && reactiveLogdata.players[i].active) {
                        return logData.players[i].name;
                    }
                }
                return 'All Players';
            },
            targetSummary: function () {
                if (!this.hasTargets) return '—';
                var phase = logData.phases[this.activePhase];
                if (!phase) return '—';
                var activeNames = [];
                for (var i = 0; i < phase.targets.length; i++) {
                    var tIdx = phase.targets[i];
                    var tReactive = reactiveLogdata.targets[tIdx];
                    if (tReactive && tReactive[this.activePhase] && tReactive[this.activePhase].active) {
                        activeNames.push(logData.targets[tIdx].name);
                    }
                }
                if (activeNames.length === 0) return 'None';
                if (activeNames.length >= phase.targets.length) return 'All Enemies';
                if (activeNames.length === 1) return activeNames[0];
                return activeNames.length + ' targets';
            },
        },
        methods: {
            expandFilter: function (type) {
                reactiveLogdata.expandSidebarFilter = type;
            },
            getGradient: function(target, hpBar) {
                var minPct = hpBar ? hpBar[0] : 0;
                var maxPct = hpBar ? hpBar[1] : 100;
                var hpLeft = target.hpLeftPercent;
                var barrier = (hpBar && hpBar[3] === 1) ? target.barrierLeftPercent : 0;
                if (hpBar) {
                    if (hpBar[3] === 0) hpLeft = minPct;
                    else if (hpBar[3] === 2) hpLeft = maxPct;
                }
                var hb = hpLeft + barrier;
                if (hb > maxPct) { hpLeft -= hb - maxPct; hb = maxPct; }
                return 'linear-gradient(to right,'
                    + ' grey ' + 0 + '%, grey ' + minPct + '%,'
                    + ' red ' + minPct + '%, red ' + hpLeft + '%,'
                    + ' yellow ' + hpLeft + '% ' + hb + '%,'
                    + ' green ' + hb + '%, green ' + maxPct + '%,'
                    + ' grey ' + maxPct + '%, grey 100%)';
            },
            targetHealthValues: function(target, hpBar) {
                var minPct = hpBar ? hpBar[0] : 0;
                var maxPct = hpBar ? hpBar[1] : 100;
                var health = hpBar ? hpBar[2] : target.health;
                var hpLeft = target.hpLeftPercent;
                if (hpBar) {
                    if (hpBar[3] === 0) hpLeft = minPct;
                    else if (hpBar[3] === 2) hpLeft = maxPct;
                }
                var barrier = (hpBar && hpBar[3] === 1) ? target.barrierLeftPercent : 0;
                if (barrier > 0) return health + ' HP (' + hpLeft + '% + ' + barrier + '%)';
                if (hpLeft > minPct) return health + ' HP (' + hpLeft + '%)';
                return health + ' HP';
            },
        },
    });
</script>
