<template>
    <div>
        <ul class="nav nav-tabs">
            <li>
                <a class="nav-link" :class="{active: tab === 0}" @click="tab = 0">Boons</a>
            </li>
            <li v-if="hasOffBuffs">
                <a class="nav-link" :class="{active: tab === 1}" @click="tab = 1">Offensive Buffs</a>
            </li>
            <li v-if="hasSupBuffs">
                <a class="nav-link" :class="{active: tab === 2}" @click="tab = 2">Support Buffs</a>
            </li>
            <li v-if="hasDefBuffs">
                <a class="nav-link" :class="{active: tab === 3}" @click="tab = 3">Defensive Buffs</a>
            </li>
            <li v-if="hasConditions">
                <a class="nav-link" :class="{active: tab === 5}" @click="tab = 5">Conditions</a>
            </li>
            <li v-if="hasGearBuffs">
                <a class="nav-link" :class="{active: tab === 4}" @click="tab = 4">Gear Buffs</a>
            </li>
            <li v-if="hasDebuffs">
                <a class="nav-link" :class="{active: tab === 7}" @click="tab = 7">Debuffs</a>
            </li>
            <li v-if="hasNourishments">
                <a class="nav-link" :class="{active: tab === 8}" @click="tab = 8">Nourishments</a>
            </li>
            <li v-if="hasEnhancements">
                <a class="nav-link" :class="{active: tab === 9}" @click="tab = 9">Enhancements</a>
            </li>
            <li v-if="hasOtherConsumables">
                <a class="nav-link" :class="{active: tab === 10}" @click="tab = 10">Other Consumables</a>
            </li>
            <li v-if="hasPersBuffs">
                <a class="nav-link" :class="{active: tab === 6}" @click="tab = 6">Personal Buffs</a>
            </li>
        </ul>
        <div :key="'activeduration'" class="d-flex flex-row justify-content-center mt-1 mb-1" v-if="showActiveDuration">
            <ul class="nav nav-pills d-flex flex-row justify-content-center scale85">
                <li class="nav-item">
                    <a class="nav-link" @click="activeduration = 0" :class="{active: activeduration === 0}">Phase
                        duration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="activeduration = 1" data-original-title="Removed dead time and dc time"
                        :class="{active: activeduration === 1 }">Phase active duration</a>
                </li>
            </ul>
        </div>
        <keep-alive>
            <buff-stats-component v-if="tab < 4" :key="'buffs'" :type="tab" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></buff-stats-component>
            <gear-buff-table-component v-if="tab === 4" :key="'gearbuffs'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></gear-buff-table-component>
            <nourishement-buff-table-component v-if="tab === 8" :key="'nourishments'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></nourishement-buff-table-component>
            <enhancement-buff-table-component v-if="tab === 9" :key="'enhancements'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></enhancement-buff-table-component>
            <otherconsumable-buff-table-component v-if="tab === 10" :key="'otherconsumables'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></otherconsumable-buff-table-component>
            <conditions-table-component v-if="tab === 5" :key="'conditions'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></conditions-table-component>
            <debuff-table-component v-if="tab === 7" :key="'debuffs'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></debuff-table-component>
            <personal-buff-table-component v-if="tab === 6" :key="'persbuffs'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></personal-buff-table-component>
        </keep-alive>
    </div>

</template>

<script>
    Vue.component("buff-tables-component", {
        props: ["phaseindex", "playerindex"],
        template: `${template}`,
        data: function () {
            return {
                activeduration: 0,
                tab: 0,
            };
        },
        computed: {
            showActiveDuration: function() {
                return this.tab < 8 || this.tab > 10;
            },
            hasOffBuffs: function () {
                return logData.offBuffs.length > 0;
            },
            hasDefBuffs: function () {
                return logData.defBuffs.length > 0;
            },
            hasSupBuffs: function () {
                return logData.supBuffs.length > 0;
            },
            hasGearBuffs: function () {
                return logData.gearBuffs.length > 0;
            },
            hasDebuffs: function () {
                return logData.debuffs.length > 0;
            },
            hasConditions: function () {
                return logData.conditions.length > 0;
            },
            hasNourishments: function () {
                return logData.nourishments.length > 0;
            },
            hasEnhancements: function () {
                return logData.enhancements.length > 0;
            },
            hasOtherConsumables: function () {
                return logData.otherConsumables.length > 0;
            },
            hasPersBuffs: function () {
                var hasPersBuffs = false;
                if (logData.persBuffs) {
                    for (var prop in logData.persBuffs) {
                        if (logData.persBuffs.hasOwnProperty(prop) && logData.persBuffs[prop].length > 0) {
                            hasPersBuffs = true;
                            break;
                        }
                    }
                }
                return hasPersBuffs;
            },
        }
    });
</script>