<template>
    <div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="id">
            <thead>
                <tr>
                    <th class="sub-cell">Sub</th>
                    <th class="prof-cell"></th>
                    <th class="text-left">Name</th>
                    <th class="stat-cell" v-for="modifier in modifiers" :data-original-title="modifier.name + '<br>' + modifier.tooltip">
                        <img :src="modifier.icon" :alt="modifier.name" class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in (mode ? tableDataTarget.rows : tableData.rows)"
                    :class="{active: row.player.id === playerindex}">
                    <td>{{row.player.group}}</td>
                    <td :data-original-title="row.player.profession">
                        <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span
                            style="display:none">{{row.player.profession}}</span>
                    </td>
                    <td class="text-left">{{row.player.name}}</td>
                    <td v-for="(modifier, index) in modifiers"
                        :data-original-title="getTooltip(row.data[index], modifier)">
                        {{getCellValue(row.data[index], modifier)}}
                    </td>
                </tr>
            </tbody>
            <tfoot v-if="sum">
                <tr v-for="row in (mode ? tableDataTarget.sums : tableData.sums)">
                    <td></td>
                    <td></td>
                    <td class="text-left">{{row.name}}</td>
                    <td v-for="(modifier, index) in modifiers"
                        :data-original-title="getTooltip(row.data[index], modifier)">
                        {{getCellValue(row.data[index], modifier)}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("dmgmodifier-table-component", {
        props: ['phaseindex', 'id', 'playerindex', 'playerindices', 'activetargets', 'modifiers', 'modifiersdata', 'mode', 'sum'],
        mixins: [numberComponent],
        template: `${template}`,
        data: function () {
            return {
                cache: new Map(),
                cacheTarget: new Map()
            };
        },
        computed: {
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            indicesToUse: function () {
                var res = [];
                if (this.playerindices !== null) {
                    for (var i = 0; i < this.playerindices.length; i++) {
                        res.push(this.playerindices[i]);
                    }
                    return res;
                }
                for (var i = 0; i < logData.players.length; i++) {
                    res.push(i);
                }
                return res;
            },
            tableData: function () {
                if (this.cache.has(this.phaseindex)) {
                    return this.cache.get(this.phaseindex);
                }
                var rows = [];
                var sums = [];
                var groups = [];
                var total = {
                    name: "Total",
                    data: []
                };
                var j;
                for (var i = 0; i < this.indicesToUse.length; i++) {
                    var index = this.indicesToUse[i];
                    var player = logData.players[index];
                    if (player.isConjure) {
                        continue;
                    }
                    if (!groups[player.group]) {
                        groups[player.group] = {
                            name: "Group" + player.group,
                            data: []
                        };
                    }
                    var dmgModifier = this.modifiersdata[index].data;
                    var data = [];
                    for (j = 0; j < this.modifiers.length; j++) {
                        data[j] = dmgModifier[j];
                        if (!groups[player.group].data[j]) {
                            groups[player.group].data[j] = [0, 0, 0, 0];
                        }
                        if (!total.data[j]) {
                            total.data[j] = [0, 0, 0, 0];
                        }
                        for (var k = 0; k < data[j].length; k++) {
                            groups[player.group].data[j][k] += data[j][k];
                            total.data[j][k] += data[j][k];
                        }
                    }
                    rows.push({
                        player: player,
                        data: data
                    });
                }
                for (var i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push(groups[i]);
                    }
                }
                sums.push(total);
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cache.set(this.phaseindex, res);
                return res;
            },
            tableDataTarget: function () {
                var cacheID = this.phaseindex + '-';
                cacheID += getTargetCacheID(this.activetargets);
                if (this.cacheTarget.has(cacheID)) {
                    return this.cacheTarget.get(cacheID);
                }
                var rows = [];
                var sums = [];
                var groups = [];
                var total = {
                    name: "Total",
                    data: []
                };
                var j;
                for (var i = 0; i < this.indicesToUse.length; i++) {
                    var index = this.indicesToUse[i];
                    var player = logData.players[index];
                    if (player.isConjure) {
                        continue;
                    }
                    if (!groups[player.group]) {
                        groups[player.group] = {
                            name: "Group" + player.group,
                            data: []
                        };
                    }
                    var data = [];
                    for (j = 0; j < this.modifiers.length; j++) {
                        data[j] = [0, 0, 0, 0];
                        if (!groups[player.group].data[j]) {
                            groups[player.group].data[j] = [0, 0, 0, 0];
                        }
                        if (!total.data[j]) {
                            total.data[j] = [0, 0, 0, 0];
                        }
                    }
                    var dmgModifier = this.modifiersdata[index].dataTarget;
                    for (j = 0; j < this.activetargets.length; j++) {
                        var modifier = dmgModifier[this.activetargets[j]];
                        for (var k = 0; k < this.modifiers.length; k++) {
                            var targetData = modifier[k];
                            var curData = data[k];
                            for (var l = 0; l < targetData.length; l++) {
                                curData[l] += targetData[l];
                            }
                        }
                    }
                    for (j = 0; j < this.modifiers.length; j++) {
                        for (var k = 0; k < data[j].length; k++) {
                            groups[player.group].data[j][k] += data[j][k];
                            total.data[j][k] += data[j][k];
                        }
                    }
                    rows.push({
                        player: player,
                        data: data
                    });
                }
                for (var i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push(groups[i]);
                    }
                }
                sums.push(total);
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cacheTarget.set(cacheID, res);
                return res;
            }
        },
        methods: {
            getTooltip: function (item, mod) {
                if (item[2] === 0) {
                    return null;
                }
                var hits = item[0] + " out of " + item[1] + " hits";
                var percent;
                if (mod.skillBased) {
                    percent = this.round3(1000.0 * item[1] / this.phase.duration) + " hits/s";
                } else {
                    percent = this.round3(100.0 * item[0] / item[1]) + " hit %";
                }
                var gain;
                if (mod.nonMultiplier) {
                    gain = "Damage Done: ";
                } else {
                    gain = "Pure Damage: ";
                }
                gain += this.round3(item[2]);
                return hits + "<br>" + percent + "<br>" + gain;
            },
            getCellValue: function (item, mod) {
                if (item[2] === 0) {
                    return '-';
                }
                if (mod.nonMultiplier) {
                    return 'Tooltip';
                }
                var damageIncrease = this.round3(100 * (item[3] / (item[3] - item[2]) - 1.0));
                if (Math.abs(damageIncrease) < 1e-6 || isNaN(damageIncrease)) {
                    return "-";
                }
                return damageIncrease + '%';
            }
        },
        mounted() {
            initTable("#" + this.id, 1, "asc");
        },
        updated() {
            updateTable("#" + this.id);
        },
    });
</script>