<template>
    <div>
        <div v-if="!targetless" class="d-flex flex-row justify-content-center mt-1 mb-1">
            <ul class="nav nav-pills scale85">
                <li class="nav-item">
                    <a class="nav-link" @click="mode = 1" :class="{active: mode}">Target</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="mode = 0" :class="{active: !mode }">All</a>
                </li>
            </ul>
        </div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="dmg-table">
            <thead>
                <tr>
                    <th>Sub</th>
                    <th></th>
                    <th class="text-left">Name</th>
                    <th>Account</th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/9/95/Critical_Chance.png" alt="Crits"
                            data-original-title="Percent time hits critical" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/b/bb/Hunter%27s_Tactics.png" alt="Flank"
                            data-original-title="Percent time hits while flanking" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/f/f9/Weakness.png" alt="Glance"
                            data-original-title="Percent time hits while glancing" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/3/33/Blinded.png" alt="Miss"
                            data-original-title="Number of hits while blinded" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/7/79/Daze.png" alt="Interupts"
                            data-original-title="Number of hits used to interupt"
                            class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/e/eb/Determined.png" alt="Ivuln"
                            data-original-title="Times the enemy was invulnerable to attacks" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/e/e2/Evade.png" alt="Evaded"
                            data-original-title="Times the enemy evaded an attack" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/e/e5/Aegis.png" alt="Blocked"
                            data-original-title="Times the enemy blocked an attack" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/b/b3/Out_Of_Health_Potions.png" alt="Wasted"
                            data-original-title="Time wasted(in seconds) interupting skill casts"
                            class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/e/eb/Ready.png" alt="Saved"
                            data-original-title="Time saved(in seconds) interupting skill casts"
                            class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/c/ce/Weapon_Swap_Button.png" alt="Swap"
                            data-original-title="Times weapon swapped" class="icon icon-hover">
                    </th>
                    <th>
                        <img src="https://wiki.guildwars2.com/images/e/ef/Commander_arrow_marker.png" alt="Stack Center"
                            data-original-title="Average Distance to the center of the squad" class="icon icon-hover">
                    </th>
                    <th v-if="hasCommander">
                        <img src="https://wiki.guildwars2.com/images/5/54/Commander_tag_%28blue%29.png"
                            alt="Stack Commander" data-original-title="Average Distance to the commander"
                            class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in (mode ? tableDataTarget.rows : tableData.rows)"
                    :class="{active: row.player.id === playerindex}">
                    <td>{{row.player.group}}</td>
                    <td :data-original-title="row.player.profession">
                        <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span
                            style="display:none">{{row.player.profession}}</span>
                    </td>
                    <td class="text-left">{{row.player.name}}</td>
                    <td>{{row.player.acc}}</td>
                    <td
                        :data-original-title="row.data[2] + ' out of ' + row.data[1] + ' critable hit(s)<br>Total Damage Critical Damage: ' + row.data[3]">
                        {{round2(100*row.data[2] / row.data[1])}}%
                    </td>
                    <td :data-original-title="row.data[4] + ' out of ' + row.data[11] + ' connected hit(s)'">
                        {{round2(100*row.data[4]/ row.data[11])}}%
                    </td>
                    <td :data-original-title="row.data[5] + ' out of ' + row.data[11] + ' connected hit(s)'">
                        {{round2(100*row.data[5]/ row.data[11])}}%
                    </td>
                    <td :data-original-title="round2(100*row.data[6]/ row.data[0]) + '% of hit(s)'">
                        {{row.data[6]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[7]/ row.data[12]) + '% connected hit(s)'">
                        {{row.data[7]}}
                    </td>
                    <td>
                        {{row.data[8]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[9]/ row.data[0]) + '% of hit(s)'">
                        {{row.data[9]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[10]/ row.data[0]) + '% of hit(s)'">
                        {{row.data[10]}}
                    </td>
                    <td
                        :data-original-title="row.commons[1] + ' cancels <br>' + round2(100.0 * row.commons[0] / phase.durationS) + '% of the phase'">
                        {{row.commons[0]}}
                    </td>
                    <td
                        :data-original-title="row.commons[3] + ' cancels <br>' + round2(100.0 * row.commons[2] / phase.durationS) + '% of the phase'">
                        {{row.commons[2]}}
                    </td>
                    <td>{{row.commons[4]}}</td>
                    <td>{{row.commons[5]}}</td>
                    <td v-if="hasCommander">{{row.commons[6]}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-for="row in (mode ? tableDataTarget.sums : tableData.sums)">
                    <td></td>
                    <td></td>
                    <td class="text-left">{{row.name}}</td>
                    <td></td>
                    <td
                        :data-original-title="row.data[2] + ' out of ' + row.data[1] + ' critable hit(s)<br>Total Damage Critical Damage: ' + row.data[3]">
                        {{round2(100*row.data[2] / row.data[1])}}%
                    </td>
                    <td :data-original-title="row.data[4] + ' out of ' + row.data[11] + ' connected hit(s)'">
                        {{round2(100*row.data[4]/ row.data[11])}}%
                    </td>
                    <td :data-original-title="row.data[5] + ' out of ' + row.data[11] + ' connected hit(s)'">
                        {{round2(100*row.data[5]/ row.data[11])}}%
                    </td>
                    <td :data-original-title="round2(100*row.data[6]/ row.data[0])+ '% of hit(s)'">
                        {{row.data[6]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[7]/ row.data[12]) + '% connected hit(s)'">
                        {{row.data[7]}}
                    </td>
                    <td>
                        {{row.data[8]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[9]/ row.data[0])+ '% of hit(s)'">
                        {{row.data[9]}}
                    </td>
                    <td :data-original-title="round2(100*row.data[10]/ row.data[0]) + '% of hit(s)'">
                        {{row.data[10]}}
                    </td>
                    <td :data-original-title="row.commons[1] + ' cancels'">{{round3(row.commons[0])}}</td>
                    <td :data-original-title="row.commons[3] + ' cancels'">{{round3(row.commons[2])}}</td>
                    <td>{{row.commons[4]}}</td>
                    <td>{{round2(row.commons[5] / row.count)}}</td>
                    <td v-if="hasCommander">{{round2(row.commons[6] / row.count)}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    var commongOffset = 12;

    Vue.component("gameplay-stats-component", {
        props: ["activetargets", "playerindex", "phaseindex"],
        template: `${template}`,
        mixins: [roundingComponent],
        data: function () {
            return {
                targetless: logData.targetless,
                mode: logData.targetless ? 0 : 1,
                hasCommander: logData.hasCommander,
                cache: new Map(),
                cacheTarget: new Map()
            };
        },
        mounted() {
            initTable("#dmg-table", 1, "desc");
        },
        updated() {
            updateTable("#dmg-table");
        },
        computed: {
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            tableData: function () {
                if (this.cache.has(this.phaseindex)) {
                    return this.cache.get(this.phaseindex);
                }
                var rows = [];
                var sums = [];
                var groups = [];
                var total = {
                    name: "Total",
                    data: [],
                    commons: [],
                    count: 0
                };
                for (var i = 0; i < this.phase.dmgStats.length; i++) {
                    var commons = [];
                    var data = [];
                    var player = logData.players[i];
                    if (player.isConjure) {
                        continue;
                    }
                    if (!groups[player.group]) {
                        groups[player.group] = {
                            name: "Group " + player.group,
                            data: [],
                            commons: [],
                            count: 0
                        };
                    }
                    groups[player.group].count++;
                    total.count++;
                    var stats = this.phase.dmgStats[i];
                    for (var j = 0; j < stats.length; j++) {
                        if (j >= commongOffset) {
                            commons[j - commongOffset] = stats[j];
                            groups[player.group].commons[j - commongOffset] = (groups[player.group].commons[j - commongOffset] || 0) + commons[j - commongOffset];
                            total.commons[j - commongOffset] = (total.commons[j - commongOffset] || 0) + commons[j - commongOffset];
                        } else {
                            data[j] = stats[j];
                            groups[player.group].data[j] = (groups[player.group].data[j] || 0) + data[j];
                            total.data[j] = (total.data[j] || 0) + data[j];
                        }
                    }
                    rows.push({
                        player: player,
                        commons: commons,
                        data: data
                    });
                }
                for (var i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push(groups[i]);
                    }
                }
                sums.push(total);
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cache.set(this.phaseindex, res);
                return res;
            },
            tableDataTarget: function () {
                var cacheID = this.phaseindex + '-';
                cacheID += getTargetCacheID(this.activetargets);
                if (this.cacheTarget.has(cacheID)) {
                    return this.cacheTarget.get(cacheID);
                }
                var rows = [];
                var sums = [];
                var groups = [];
                var total = {
                    name: "Total",
                    data: [],
                    commons: [],
                    count: 0
                };
                for (var i = 0; i < this.phase.dmgStats.length; i++) {
                    var commons = [];
                    var data = [];
                    var player = logData.players[i];
                    if (player.isConjure) {
                        continue;
                    }
                    if (!groups[player.group]) {
                        groups[player.group] = {
                            name: "Group " + player.group,
                            data: [],
                            commons: [],
                            count: 0
                        };
                    }
                    groups[player.group].count++;
                    total.count++;
                    var stats = this.phase.dmgStats[i];
                    for (var j = 0; j < stats.length; j++) {
                        if (j >= commongOffset) {
                            commons[j - commongOffset] = stats[j];
                            groups[player.group].commons[j - commongOffset] = (groups[player.group].commons[j - commongOffset] || 0) + commons[j - commongOffset];
                            total.commons[j - commongOffset] = (total.commons[j - commongOffset] || 0) + commons[j - commongOffset];
                        } else {
                            for (var k = 0; k < this.activetargets.length; k++) {
                                var tar = this.phase.dmgStatsTargets[i][this.activetargets[k]];
                                data[j] = (data[j] || 0) + tar[j];
                            }
                            groups[player.group].data[j] = (groups[player.group].data[j] || 0) + data[j];
                            total.data[j] = (total.data[j] || 0) + data[j];
                        }
                    }
                    rows.push({
                        player: player,
                        commons: commons,
                        data: data
                    });
                }
                for (var i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push(groups[i]);
                    }
                }
                sums.push(total);
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cacheTarget.set(cacheID, res);
                return res;
            }
        }
    });
</script>