<template>
    <div>
        <h2 v-if="layout.desc" :class="{'text-center': phaseindex >= 0}">{{ layoutName }}</h2>
        <ul class="nav nav-tabs">
            <li v-for="tab in layout.tabs">
                <a class="nav-link" :class="{active: tab.active}" @click="select(tab, layout.tabs)"> {{ tab.name }} </a>
            </li>
        </ul>
        <div v-for="tab in layout.tabs" v-show="tab.active">
            <div v-if="tab.desc">{{ tab.desc }}</div>
            <div v-if="tab.layout">
                <general-layout-component :layout="tab.layout" :phaseindex="-1"></general-layout-component>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component("general-layout-component", {
        name: "general-layout-component",
        template: `${template}`,
        props: ["layout", "phaseindex"],
        methods: {
            select: function (tab, tabs) {
                for (var i = 0; i < tabs.length; i++) {
                    tabs[i].active = false;
                }
                tab.active = true;
            }
        },
        computed: {
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            layoutName: function () {
                if (this.phaseindex < 0) {
                    return this.layout.desc;
                }
                return this.layout.desc ?
                    this.phase.name + " " + this.layout.desc :
                    this.phase.name;
            }
        }
    });
</script>