<template>
    <div v-if="buffs.length > 0">
        <img v-if="outgoing" class="mb-1 icon" src="https://i.imgur.com/nSYuby8.png"
            :data-original-title="tooltipExplOut" />
        <img v-if="!outgoing" class="mb-1 icon" src="https://i.imgur.com/nSYuby8.png"
            :data-original-title="tooltipExplInc" />
        <div v-if="colPageCount > 0">
            <table-scroll-component :min="0" :max="colPageCount" :width="'600px'" :height="'10px'" :transform="'translate(500px)'" :pagestructure="colStructure"></table-scroll-component>
        </div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="tableid">
            <thead>
                <tr>
                    <th class="sub-cell" :class="getHeaderClass('Sub')" @click="sortBy('Sub')">Sub</th>
                    <th class="prof-cell" :class="getHeaderClass('Prof')" @click="sortBy('Prof')"></th>
                    <th class="text-left" :class="getHeaderClass('Name')" @click="sortBy('Name')">Name</th>
                    <th class="stat-cell" v-for="(buff, index) in buffs" :class="getHeaderClass('Data', index)" @click="sortBy('Data', index)"
                        v-show="isInColPage(index)"
                        :data-original-title="buff.name + (buff.description ? '<br> ' + buff.description : '')">
                        <img :src="buff.icon" :alt="buff.name" class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-show="!row.player.notInSquad || !hidecustom" v-for="row in sortData(playerdata)" :class="{active: row.player.group && row.player.id === playerindex}">
                    <td :class="getBodyClass('Sub')">{{ row.player.group ? row.player.group : '-' }}</td>
                    <td :class="getBodyClass('Prof')" :data-original-title="row.player.profession ? row.player.profession : row.player.name">
                        <img :src="row.player.icon"
                            :alt="row.player.profession ? row.player.profession : row.player.name" class="icon">
                        <span style="display:none">
                            {{ row.player.profession ? row.player.profession : row.player.name}}
                        </span>
                    </td>
                    <td class="text-left" :class="getBodyClass('Name')">
                        {{ row.player.name }}
                    </td>
                    <td v-for=" (buff, index) in buffs"  :class="getBodyClass('Data', index)"
                        v-show="isInColPage(index)"
                        :data-original-title="getCellTooltip(buff, row.data.data[index])">
                        {{ getCellValue(buff, row.data.data[index]) }}
                    </td>
                </tr>
            </tbody>
            <tfoot v-show="sums.length > 0">
                <tr v-for="sum in sums">
                    <td></td>
                    <td v-if="sum.icon" :data-original-title="sum.name"><img :src="sum.icon" :alt="sum.name"
                            class="icon"></td>
                    <td v-else></td>
                    <td class="text-left">{{sum.name}}</td>
                    <td v-for=" (buff, index) in buffs"
                        v-show="isInColPage(index)"
                        :data-original-title="getCellTooltip(buff, sum.data[index], !!sum.icon)">
                        {{ getCellValue(buff, sum.data[index]) }}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("buff-volume-table-component", {
        props: ["buffs", "playerdata", "outgoing", "sums", "id", "playerindex", "hidecustom"],
        template: `${template}`,
        mixins: [numberComponent, sortedTableComponent, colSliderComponent(20)],
        data: function () {
            return {             
                sortdata: {
                    order: "asc",
                    index: -1,
                    key: "Sub",
                }
            };
        },
        methods: {
            sortBy: function(key, index) {
                this.sortByBase(this.sortdata, key, index);
            },
            getHeaderClass: function(key, index) {
                return this.getHeaderClassBase(this.sortdata, key, index);
            },
            getBodyClass: function(key, index) {
                var classes = this.getBodyClassBase(this.sortdata, key, index);
                return classes;
            },
            sortData: function(rows) {
                var order = this.sortdata.order === "asc" ? 1 : -1;
                switch (this.sortdata.key) {
                    case "Sub":
                        rows.sort((x,y) => order * (x.player.group - y.player.group) || this.sortByPlayerName(x, y));
                        break;
                    case "Prof":
                        rows.sort((x,y) => order * this.sortByPlayerProfession(x, y) || this.sortByPlayerName(x, y));
                        break;
                    case "Name":
                        rows.sort((x,y) => order * this.sortByPlayerName(x, y));
                        break;
                    case "Data":
                        var index = this.sortdata.index;
                        function getValue(rowValue) {
                            var value = rowValue.data.data[index];
                            if (value instanceof Array) {
                                return value[0] ?? 0;
                            }
                            return value ?? 0;
                        }
                        rows.sort((x,y) => order * (getValue(x) - getValue(y)) || this.sortByPlayerName(x, y));
                        break;
                    default:
                        return null;
                        break;
                }
                return rows;
            },
            getCellTooltip: function (buff, val, actorSum) {
                if (val instanceof Array) {
                    if (!actorSum) {
                        if (this.outgoing && val[1] > 0) {
                            var res = ''; 
                            if (val[1] > 0) {
                            res += res.length > 0 ? "<br>" : '';
                                res += val[1] + (buff.stacking ? "" : "%") + " by extension";
                            }
                            return res.length > 0 ? res : false;
                        } else if (!this.outgoing && (val[1] > 0 || val[2] > 0)) {                     
                            var res = ''; 
                            if (val[1] > 0) {
                                res += res.length > 0 ? "<br>" : '';
                                res += val[1] + (buff.stacking ? "" : "%") + " by extension";
                            }
                            if (val[2] > 0) {
                                res += res.length > 0 ? "<br>" : '';
                                res += val[2] + (buff.stacking ? "" : "%") + " by unknown extension";
                            }
                            return res.length > 0 ? res : false;
                        }
                    } else {
                        return false;
                    }
                }
                return false;
            },
            getCellValue: function (buff, val) {
                var value = val;
                var force = false;
                if (val instanceof Array) {
                    value = val[0];
                    force = this.outgoing && (val[1] > 0 || val[2] > 0);
                }
                if (value > 0 || force) {
                    return buff.stacking ? value : value + "%";
                }
                return "-";
            }
        },
        computed: {
            colPageCount: function() {
                return this.buffs.length - this.colStructure.perpage;
            },
            tableid: function() {
                return this.id;
            },
            tooltipExplInc: function () {
                return `<ul style='text-align:left;margin-block-end: 0.3em;'>
                        <li>Buffs applied for an infinite duration are ignored</li>
                        <li>The value shown in the row is "incoming + incoming by extensions"</li>
                        <li>By extension is "incoming by extensions". This includes unknown extensions.</li>               
                        <li>By unknown extension is "incoming by unknown extensions"</li>
                        </ul>`
            },
            tooltipExplOut: function () {
                return `<ul style='text-align:left;margin-block-end: 0.3em;'>
                        <li>Buffs applied for an infinite duration are ignored</li>
                        <li>The value shown in the row is "outgoing + extensions you are the source"</li>
                        <li>By extension is "extensions you are the source"</li>
                        </ul>`
            }
        }
    });
</script>