<template>
    <div>
        <ul class="nav nav-tabs">
            <li>
                <a class="nav-link" :class="{active: tab === 0}" @click="tab = 0">Outgoing Healing Stats</a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tab === 1}" @click="tab = 1">Incoming Healing Stats</a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tab === 2}" @click="tab = 2">Support Stats</a>
            </li>
        </ul>
        <keep-alive>
            <outgoing-healing-stats-component v-if="tab === 0" :key="'healing'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activetargets="activetargets"></outgoing-healing-stats-component>
            <incoming-healing-stats-component v-if="tab === 1" :key="'incoming-healing'" :phaseindex="phaseindex"
                :playerindex="playerindex"></incoming-healing-stats-component>
            <support-stats-component v-if="tab === 2" :key="'support-healing'" :phaseindex="phaseindex"
                :playerindex="playerindex"></support-stats-component>
        </keep-alive>
    </div>

</template>

<script>
    function getDefaultHealingStatsSubComponent() {
        if (!validateStartPath("HealingStatistics/HealingStats")) {
            return 0;
        }
        const setting = EIUrlParams.get("startPage");
        const compo = setting.split('/')[2];
        switch (compo) {
            case "OutgoingHealingStats":
                return 0;
            case "IncomingHealingStats":
                return 1;
            case "SupportStats":
                return 2;
        }
        return 0;
    }
    Vue.component("healing-stat-tables-component", {
        props: ["phaseindex", "playerindex", "activetargets"],
        template: `${template}`,
        data: function () {
            return {
                tab: getDefaultHealingStatsSubComponent(),
            };
        },
    });
</script>