<template>
    <div>
        <h3 v-for="player in players" :key="player.id" v-show="player.id === activeplayer"
            class="text-center mt-2"><img :alt="player.profession" class="icon" :src="player.icon">{{player.name}}</h3>
        <ul class="nav nav-tabs" v-show="activeplayer > -1">
            <li>
                <a class="nav-link" :class="{active: tabmode === 0}" @click="tabmode = 0">
                    Outgoing Healing
                </a>
            </li>
            <li v-if="hasBarrier">
                <a class="nav-link" :class="{active: tabmode === 6}" @click="tabmode = 6">
                    Outgoing Barrier
                </a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tabmode === 1}" @click="tabmode = 1">
                    Incoming Healing
                </a>
            </li>
            <li v-if="hasBarrier">
                <a class="nav-link" :class="{active: tabmode === 7}" @click="tabmode = 7">
                    Incoming Barrier
                </a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tabmode === 2}" @click="tabmode = 2">Graph</a>
            </li>     
            <li>
                <a class="nav-link" :class="{active: tabmode === 8}" @click="tabmode = 8">
                    Boon Status
                </a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tabmode === 3}" @click="tabmode = 3">
                    Simple
                    Rotation
                </a>
            </li>        
            <li>
                <a class="nav-link" :class="{active: tabmode === 4}" @click="tabmode = 4">
                    Advanced
                    Rotation
                </a>
            </li>
            <li>
                <a class="nav-link" :class="{active: tabmode === 5}" @click="tabmode = 5">
                    Consumables
                </a>
            </li>
        </ul>
        <keep-alive>
            <player-healing-tab-component v-for="player in players" :key="'healing' + player.id"
                v-if="player.id === activeplayer" :playerindex="player.id" :tabmode="tabmode"
                :phaseindex="phaseindex" :activetargets="activetargets" :light="light"></player-healing-tab-component>
        </keep-alive>
        <div v-if="activeplayer === -1">
            <h3 class="text-center">No player selected</h3>
        </div>
    </div>
</template>

<script>
    function getDefaultPlayerHealingTabSubComponent() {
        if (!validateStartPath("HealingStatistics/PlayerSummary")) {
            return 0;
        }
        const setting = EIUrlParams.get("startPage");
        const compo = setting.split('/')[2];
        switch (compo) {
            case "OutgoingHealing":
                return 0;
            case "OutgoingBarrier":
                return hasBarrierExtension() ? 6 : 0;
            case "IncomingHealing":
                return 1;
            case "IncomingBarrier":
                return hasBarrierExtension() ? 7 : 0;
            case "Graph":
                return 2;
            case "BoonStatus":
                return 8;
            case "SimpleRotation":
                return 3;
            case "AdvancedRotation":
                return 4;
            case "Consumables":
                return 5;
        }
        return 0;
    }
    Vue.component("player-healing-stats-component", {
        props: ["phaseindex", 'activetargets', 'activeplayer', 'light'],
        template: `${template}`,
        data: function () {
            return {
                tabmode: getDefaultPlayerHealingTabSubComponent()
            };
        },
        computed: {
            players: function () {
                return logData.players;
            },
            hasBarrier: function() {
                return hasBarrierExtension();
            },
        }
    });
</script>