<template>
    <div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :index="tableid">
            <thead>
                <tr>
                    <th class="sub-cell" :class="getHeaderClass('Sub')" @click="sortBy('Sub')">
                        Sub
                    </th>
                    <th class="prof-cell" :class="getHeaderClass('Prof')" @click="sortBy('Prof')">

                    </th>
                    <th class="text-left" :class="getHeaderClass('Name')" @click="sortBy('Name')">
                        Name
                    </th>
                    <th class="text-left" :class="getHeaderClass('Account')" @click="sortBy('Account')">
                        Account
                    </th>
                    <th class="damage-cell" :class="getHeaderClass('Data', 0)" @click="sortBy('Data', 0)" data-original-title="Healed">
                        <img src="https://wiki.guildwars2.com/images/thumb/f/f3/Healing.png/20px-Healing.png"
                            alt="Healed" class="icon icon-hover">
                    </th>
                    <th class="damage-cell" :class="getHeaderClass('Data', 1)" @click="sortBy('Data', 1)" data-original-title="Healing Power Healed">
                        <img src="https://wiki.guildwars2.com/images/8/81/Healing_Power.png" alt="Healing Power Healed"
                            class="icon icon-hover">
                    </th>
                    <th class="damage-cell" :class="getHeaderClass('Data', 2)" @click="sortBy('Data', 2)" data-original-title="Conversion Healed">
                        <img src="https://wiki.guildwars2.com/images/4/4a/Litany_of_Wrath.png" alt="Conversion Healed"
                            class="icon icon-hover">
                    </th>
                    <th class="damage-cell" :class="getHeaderClass('Data', 3)" @click="sortBy('Data', 3)" data-original-title="Downed Healed">
                        <img src="https://wiki.guildwars2.com/images/3/3d/Downed_ally.png" alt="Downed Healing"
                            class="icon icon-hover">
                    </th>
                    <th v-if="hasBarrier" :class="getHeaderClass('Data', 4)" @click="sortBy('Data', 4)" data-original-title="Barrier Received" class="damage-cell">
                        <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png"
                            alt="Barrier Received" class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in sortData(tableData.rows)" :class="{active: row.player.id === playerindex}">
                    <td :class="getBodyClass('Sub')">
                        {{row.player.group}}
                    </td>
                    <td :class="getBodyClass('Prof')" :data-original-title="row.player.profession">
                        <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span
                            style="display:none">
                            {{row.player.profession}}
                        </span>
                    </td>
                    <td :class="getBodyClass('Name')" class="text-left">
                        {{row.player.name}}
                    </td>
                    <td :class="getBodyClass('Account')" class="text-left">
                        {{row.player.acc}}
                    </td>
                    <td v-for="(value, index) in row.incomingHeal" :class="getBodyClass('Data', index)">
                        {{value}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-for="sum in tableData.sums">
                    <td></td>
                    <td></td>
                    <td class="text-left">
                        {{sum.name}}
                    </td>
                    <td></td>
                    <td v-for="(value, index) in sum.incomingHeal">
                        {{value}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("incoming-healing-stats-component", {
        props: ["phaseindex", "playerindex"],
        template: `${template}`,
        mixins: [numberComponent, sortedTableComponent],
        data: function () {
            return {
                cache: new Map(),
                sortdata: {
                    order: "desc",
                    index: 0,
                    key: "Data"
                }
            };
        },
        methods: {
            sortBy: function(key, index) {
                this.sortByBase(this.sortdata, key, index);
            },
            getHeaderClass: function(key, index) {
                return this.getHeaderClassBase(this.sortdata, key, index);
            },
            getBodyClass: function(key, index) {
                var classes = this.getBodyClassBase(this.sortdata, key, index);
                return classes;
            },
            sortData: function(rows) {
                var order = this.sortdata.order === "asc" ? 1 : -1;
                switch (this.sortdata.key) {
                    case "Sub":
                        rows.sort((x,y) => order * (x.player.group - y.player.group));
                        break;
                    case "Prof":
                        rows.sort((x,y) => order * x.player.profession.localeCompare(y.player.profession));
                        break;
                    case "Account":
                        rows.sort((x,y) => order * x.player.acc.localeCompare(y.player.acc));
                        break;
                    case "Name":
                        rows.sort((x,y) => order * x.player.name.localeCompare(y.player.name));
                        break;
                    case "Data":
                        var index = this.sortdata.index;
                        rows.sort((x,y) => order * (x.incomingHeal[index] - y.incomingHeal[index]));
                        break;
                    default:
                        return null;
                        break;
                }
                return rows;
            },
        },
        computed: {
            tableid: function () {
                return "incoming-heal-table";
            },
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            hPhase: function () {
                return healingStatsExtension.healingPhases[this.phaseindex];
            },
            hasBarrier: function () {
                return !!barrierStatsExtension;
            },
            bPhase: function () {
                return barrierStatsExtension.barrierPhases[this.phaseindex];
            },
            tableData: function () {
                if (this.cache.has(this.phaseindex)) {
                    return this.cache.get(this.phaseindex);
                }
                var rows = [];
                var sums = [];
                var total = [0, 0, 0, 0];
                if (this.hasBarrier) {
                    total.push(0);
                }
                var groups = [];
                var i;
                for (i = 0; i < this.hPhase.incomingHealingStats.length; i++) {
                    var incomingHeal = this.hPhase.incomingHealingStats[i].slice();
                    if (this.hasBarrier) {
                        incomingHeal = incomingHeal.concat(this.bPhase.incomingBarrierStats[i])
                    }
                    var player = logData.players[i];
                    if (player.isFake) {
                        continue;
                    }
                    rows.push({
                        player: player,
                        incomingHeal: incomingHeal
                    });
                    if (!groups[player.group]) {
                        groups[player.group] = [0, 0, 0, 0];
                        if (this.hasBarrier) {
                            groups[player.group].push(0);
                        }
                    }
                    for (var j = 0; j < total.length; j++) {
                        total[j] += incomingHeal[j];
                        groups[player.group][j] += incomingHeal[j];
                    }
                }
                for (i = 0; i < groups.length; i++) {
                    if (groups[i]) {
                        sums.push({
                            name: "Group " + i,
                            incomingHeal: groups[i]
                        });
                    }
                }
                sums.push({
                    name: "Total",
                    incomingHeal: total
                });
                var res = {
                    rows: rows,
                    sums: sums
                };
                this.cache.set(this.phaseindex, res);
                return res;
            }
        }
    });
</script>