<template>
    <div>
        <div v-if="actor !== null" class="mb-1 mt-1">
            <div v-if="isminion">
                <p style="display: table-row;">
                    {{actor.name}} did {{round3(100*healingdist.contributedHealing/healingdist.totalHealing)}}% of its master's total
                    {{istarget ? 'Target' :''}} healing ({{healingdist.contributedHealing}})
                </p>
            </div>
            <div v-else>
                <p style="display: table-row;">
                    {{actor.name}} did {{round3(100*healingdist.contributedHealing/healingdist.totalHealing)}}% of their total {{istarget ?
                        'Target' :''}} healing ({{healingdist.contributedHealing}})
                </p> 
            </div>
        </div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="tableid">
            <thead>
                <tr>
                    <th class="text-left">Skill</th>
                    <th class="damage-dist-cell"  data-original-title="% Healing">
                        % <img src="https://wiki.guildwars2.com/images/thumb/f/f3/Healing.png/20px-Healing.png" alt="Healing"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" data-original-title="Healing">
                        <img src="https://wiki.guildwars2.com/images/thumb/f/f3/Healing.png/20px-Healing.png" alt="Healing"
                            class="icon icon-hover">
                    </th>
                    <th data-original-title="Downed Healing" class="damage-cell"  >
                        <img src="https://wiki.guildwars2.com/images/3/3d/Downed_ally.png" alt="Downed Healing"
                            class="icon icon-hover">
                    </th>
                    <th class="damage-dist-cell" data-original-title="Minimum Healing">
                        Min <img src="https://wiki.guildwars2.com/images/thumb/f/f3/Healing.png/20px-Healing.png" alt="Healing"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" data-original-title="Average Healing">
                        Avg <img src="https://wiki.guildwars2.com/images/thumb/f/f3/Healing.png/20px-Healing.png" alt="Healing"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" data-original-title="Maximum Healing">
                        Max <img src="https://wiki.guildwars2.com/images/thumb/f/f3/Healing.png/20px-Healing.png" alt="Healing"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null">
                        Cast
                    </th>
                    <th class="damage-dist-cell">
                        Hits
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" data-original-title="Hits per Cast">
                        <img src="https://wiki.guildwars2.com/images/thumb/5/53/Number_of_targets.png/20px-Number_of_targets.png"
                            alt="Hits per Cast" class="icon icon-hover">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" data-original-title="Healing divided by time spent in animation">
                        <img src="https://wiki.guildwars2.com/images/thumb/f/f3/Healing.png/20px-Healing.png" alt="Healing"
                            class="icon">
                        /
                        <img src="https://wiki.guildwars2.com/images/6/6e/Activation.png" alt="Activation Time"
                            class="icon">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" data-original-title="Time wasted interupting skill casts">
                        <img src="https://wiki.guildwars2.com/images/b/b3/Out_Of_Health_Potions.png" alt="Wasted"
                            class="icon icon-hover">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" data-original-title="Time saved(in seconds) interupting skill casts">
                        <img src="https://wiki.guildwars2.com/images/e/eb/Ready.png" alt="Saved"
                            class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in healingdist.distribution" :class="{hybridH: getSkill(row).healingMode === 2, conversionH: getSkill(row).healingMode === 1}">
                    <td class="text-left" :data-original-title="getSkillID(row)">
                        <img :src="getSkill(row).icon" class="icon">
                        {{getSkill(row).name}}
                    </td>
                    <td>{{ round3(100*getHealingOutput(row)/healingdist.contributedHealing) }}%</td>
                    <td :data-original-title="round2(getHealingOutput(row)/phase.durationS) +' hps'">
                        {{ getHealingOutput(row) }}
                    </td>
                    <td :data-original-title="round2(getDownedHealingOutput(row)/phase.durationS) +' hps'">
                        {{ getDownedHealingOutput(row) }}
                    </td>
                    <td>{{ getMinHealing(row) }}</td>
                    <td>{{ round(getHealingOutput(row)/getHealingHits(row)) }}</td>
                    <td>{{ getMaxHealing(row) }}</td>
                    <td :class="{higherOrEqual: (!getSkill(row).condi && getCast(row)) && showInequality(row)}" v-if="actor !== null">
                        {{ (!getSkill(row).condi && getCast(row)) ? getCast(row) : ''}}
                    </td>
                    <td>
                        {{ getHealingHits(row) }}
                    </td>
                    <td :class="{lowerOrEqual: (!getSkill(row).condi && getHealingHits(row) && getCast(row)) && showInequality(row)}" v-if="actor !== null">
                        {{(!getSkill(row).condi && getHealingHits(row) && getCast(row)) ? round2(getHealingHits(row)/getCast(row)) : ''}}
                    </td>
                    <td v-if="actor !== null">
                        {{(!getSkill(row).condi && getHealingHits(row) && getCastDuration(row)) ? round2(getHealingOutput(row)/(0.001 * getCastDuration(row))) : ''}}
                    </td>
                    <td v-if="actor !== null"
                        :data-original-title="getCastTimeWasted(row) ? round2(100.0 * getCastTimeWasted(row)/phase.durationS) + '% of the phase' : false">
                        {{ getCastTimeWasted(row) ? getCastTimeWasted(row) + 's' : ''}}</td>
                    <td v-if="actor !== null"
                        :data-original-title="getCastTimeSaved(row) ? round2(100.0 * getCastTimeSaved(row)/phase.durationS) + '% of the phase' : false">
                        {{ getCastTimeSaved(row) ? getCastTimeSaved(row) + 's' : ''}}</td>
                </tr>
            </tbody>
            <tfoot class="text-dark">
                <tr>
                    <td class="text-left">Total</td>
                    <td></td>
                    <td :data-original-title="Math.round(healingdist.contributedHealing/phase.durationS) +' hps'">
                        {{healingdist.contributedHealing}}
                    </td>
                    <td :data-original-title="Math.round(healingdist.contributedDownedHealing/phase.durationS) +' hps'">
                        {{healingdist.contributedDownedHealing}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td v-if="actor !== null"></td>
                    <td></td>
                    <td v-if="actor !== null"></td>
                    <td v-if="actor !== null">
                        {{round2(healingdist.contributedHealing/(0.001 * healingdist.totalCasting))}}
                    </td>
                    <td v-if="actor !== null"></td>
                    <td v-if="actor !== null"></td>
                </tr>
            </tfoot>
        </table>      
        <div class="card">
            <div class="card-body container">
                <p><u>Background</u></p>
                <span style="padding: 2px; background-color:rgba(0, 0, 255, 0.25); border-style:solid; border-width: 1px; border-color:#000000; color:#FFFFFF">
                    Conversion based healing
                </span>
                <span style="padding: 2px; background-color:rgba(0, 255, 0, 0.25); border-style:solid; border-width: 1px; border-color:#000000; color:#000000">
                    Hybrid (could be healing power or conversion) healing, included in healing power based stats
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component("healingdist-table-component", {
        props: ["healingdist", "tableid", "actorindex", "minionindex", "istarget", "phaseindex", "player"],
        template: `${template}`,
        data: function () {
            return {
                sortdata: {
                    order: "desc",
                    index: 2
                },
                divElement: null
            };
        },
        mixins: [numberComponent],
        mounted() {
            refreshTable(this.tableid, this.sortdata);
            this.divElement =  $("#" + this.tableid);
        },
        beforeUpdate() {
            this.divElement
                .DataTable()
                .destroy();
        },
        updated() {      
            refreshTable(this.tableid, this.sortdata);
            this.divElement =  $("#" + this.tableid);
        },
        activated() {             
            refreshTable(this.tableid, this.sortdata);
            this.divElement =  $("#" + this.tableid);
        },
        methods: {        
            getSkillID: function (data) {
                return data[1];
            },
            getSkillIsBuff: function (data) {
                return data[0]
            },
            getSkill: function (data) {
                return findSkill(this.getSkillIsBuff(data), this.getSkillID(data));
            },
            getHealingOutput: function(data) {
                return data[2];
            },
            getDownedHealingOutput: function(data) {
                return data[10];
            },
            getMinHealing: function(data) {
                return data[3];
            },
            getMaxHealing: function(data) {
                return data[4];
            },
            getCast: function(data) {
                return data[5];
            },
            getCastTimeWasted: function(data) {
                return data[6];
            },
            getCastTimeSaved: function(data) {
                return data[7];
            },
            getHealingHits: function(data) {
                return data[8];
            },
            getCastDuration: function(data) {
                return data[9];
            },
            showInequality: function (data) {
                return this.getCastDuration(data) === 0 && this.getSkill(data).notAccurate;
            },
        },
        computed: {
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            isminion: function() {
                return this.minionindex > -1;
            },
            actor: function() {
                if (this.actorindex < 0) {
                    return null;
                }
                var master = !this.player ? logData.targets[this.actorindex] : logData.players[this.actorindex];
                if (this.isminion) {
                    return master.minions[this.minionindex];
                }
                return master;
            },
        }
    });
</script>