<template>
    <div class="d-flex flex-row justify-content-center mt-1 mb-1">     
        <ul class="nav nav-pills d-flex flex-wrap justify-content-center mr-3 scale85" :class="{'flex-row': !column, 'flex-column': column}">
            <li class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.hpsmode = 0" :class="{active: data.hpsmode === 0}">Full</a>
            </li>
            <li v-if="phaseduration > 4" class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.hpsmode = 4" :class="{active: data.hpsmode === 4}">4s</a>
            </li>
            <li v-if="phaseduration > 10" class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.hpsmode = 10" :class="{active: data.hpsmode === 10}">10s</a>
            </li>
            <li v-if="phaseduration > 20" class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.hpsmode = 20" :class="{active: data.hpsmode === 20}">20s</a>
            </li>
            <li v-if="phaseduration > 30" class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.hpsmode = 30" :class="{active: data.hpsmode === 30}">30s</a>
            </li>
            <li v-if="phasehassubphases" class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.hpsmode = -1" :class="{active: data.hpsmode === -1}">Phase</a>
            </li>
            <li class="nav-item d-flex flex-row justify-content-center align-items-center">
                <custom-numberform-component :minValue="0" :maxValue="Math.floor(phaseduration / 2) * 2" :id="'customHPS'"
                                                   :placeholderValue="0"></custom-numberform-component>
            </li>
        </ul>    
        <ul class="nav nav-pills d-flex flex-wrap justify-content-center ml-3 scale85" :class="{'flex-row': !column, 'flex-column': column}">
            <li class="nav-item d-flex flex-row justify-content-center align-items-center" data-original-title="All">
                <a class="nav-link" @click="data.healingmode = healingModeEnum.All" :class="{active: data.healingmode === healingModeEnum.All}"><img src="https://wiki.guildwars2.com/images/thumb/6/6a/Damage.png/30px-Damage.png" alt="All"
                    class="icon"></a>
            </li>    
            <li class="nav-item d-flex flex-row justify-content-center align-items-centerm" data-original-title="Healing Power">
                <a class="nav-link" @click="data.healingmode = healingModeEnum.HealingPower" :class="{active: data.healingmode === healingModeEnum.HealingPower}"><img src="https://wiki.guildwars2.com/images/8/81/Healing_Power.png" alt="Healing Power"
                    class="icon"></a>
            </li>                     
            <li class="nav-item d-flex flex-row justify-content-center align-items-center" data-original-title="Conversion">
                <a class="nav-link" @click="data.healingmode = healingModeEnum.Conversion" :class="{active: data.healingmode === healingModeEnum.Conversion}"><img src="https://wiki.guildwars2.com/images/4/4a/Litany_of_Wrath.png" alt="Conversion"
                    class="icon"></a>
            </li>   
            <!--                 
            <li class="nav-item d-flex flex-row justify-content-center align-items-center" data-original-title="Hybrid">
                <a class="nav-link" @click="data.healingmode = healingModeEnum.Hybrid" :class="{active: data.healingmode === healingModeEnum.Hybrid}"><img src="https://wiki.guildwars2.com/images/8/81/Healing_Power.png" alt="Hybrid"
                    class="icon"> / <img src="https://wiki.guildwars2.com/images/4/4a/Litany_of_Wrath.png" alt="Hybrid"
                    class="icon"></a>
            </li>
            //-->
                                 
            <li v-if="hasBarrier" class="nav-item d-flex flex-row justify-content-center align-items-center" data-original-title="Barrier">
                <a class="nav-link" @click="data.healingmode = healingModeEnum.Barrier" :class="{active: data.healingmode === healingModeEnum.Barrier}"><img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Barrier"
                    class="icon"></a>
            </li>  
        </ul>
        <ul class="nav nav-pills d-flex flex-wrap justify-content-center ml-3 scale85" :class="{'flex-row': !column, 'flex-column': column}">
            <li class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.graphmode = graphModeEnum.DPS" :class="{active: data.graphmode === graphModeEnum.DPS}">PS</a>
            </li>    
            <li class="nav-item d-flex flex-row justify-content-center align-items-center" data-original-title="Centered">
                <a class="nav-link" @click="data.graphmode = graphModeEnum.CenteredDPS" :class="{active: data.graphmode === graphModeEnum.CenteredDPS}">Ctrd.PS</a>
            </li>                     
            <li class="nav-item d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link" @click="data.graphmode = graphModeEnum.Damage" :class="{active: data.graphmode === graphModeEnum.Damage}">Cumulative</a>
            </li>
        </ul>
    </div>
</template>

<script>
    Vue.component("hps-graph-mode-selector-component", {
        props: ['data', 'phaseduration', 'phasehassubphases', "column"],
        template: `${template}`,
        mounted() {
            var _this = this;
            $('#customHPS').on("input ", function () {
                _this.data.hpsmode = Math.ceil($(this).val() / 2) * 2;
            });
            $('#customHPS').on("click ", function () {
                _this.data.hpsmode = Math.ceil($(this).val() / 2) * 2;
            });
        },
        computed: {
            graphModeEnum: function() {
                return GraphType;
            },
            healingModeEnum: function() {
                return HealingType;
            },
            hasBarrier: function() {
                return !!barrierStatsExtension;
            },
        }
    });
</script>