<template>
    <div>
        <div v-if="actor !== null" class="mb-1 mt-1">
            <div v-if="isminion">
                <p style="display: table-row;">
                    {{actor.name}} did {{round3(100*barrierdist.contributedBarrier/barrierdist.totalBarrier)}}% of its master's total
                    {{istarget ? 'Target' :''}} barrier ({{barrierdist.contributedBarrier}})
                </p>
            </div>
            <div v-else>
                <p style="display: table-row;">
                    {{actor.name}} did {{round3(100*barrierdist.contributedBarrier/barrierdist.totalBarrier)}}% of their total {{istarget ?
                        'Target' :''}} barrier ({{barrierdist.contributedBarrier}})
                </p> 
            </div>
        </div>
        <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" :id="tableid">
            <thead>
                <tr>
                    <th class="text-left" :class="getHeaderClass('Skill')" @click="sortBy('Skill')">
                        Skill
                    </th>
                    <th class="damage-dist-cell" 
                        :class="getHeaderClass('Data', 0)" @click="sortBy('Data', 0, x => getBarrierOutput(x))"
                        data-original-title="% Barrier">
                        % <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Barrier"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" 
                        :class="getHeaderClass('Data', 1)" @click="sortBy('Data', 1, x => getBarrierOutput(x))"
                        data-original-title="Barrier">
                        <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Barrier"
                            class="icon icon-hover">
                    </th>
                    <th class="damage-dist-cell" 
                        :class="getHeaderClass('Data', 2)" @click="sortBy('Data', 2, x => getMinBarrier(x))" 
                        data-original-title="Minimum Barrier">
                        Min <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Barrier"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" 
                        :class="getHeaderClass('Data', 3)" @click="sortBy('Data', 3, x => round(getBarrierOutput(x)/getConnectedHits(x)))" 
                        data-original-title="Average Barrier">
                        Avg <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Barrier"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell"
                        :class="getHeaderClass('Data', 4)" @click="sortBy('Data', 4, x => getMaxBarrier(x))" 
                        data-original-title="Maximum Barrier">
                        Max <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Barrier"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null"
                        :class="getHeaderClass('Data', 5)" @click="sortBy('Data', 5, x => getCast(x))">
                        Cast
                    </th>
                    <th class="damage-dist-cell"
                        :class="getHeaderClass('Data', 6)" @click="sortBy('Data', 6, x => getConnectedHits(x))" >
                        Hits
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" 
                        :class="getHeaderClass('Data', 7)" @click="sortBy('Data', 7, x => round2(getConnectedHits(x)/getCast(x)))"
                        data-original-title="Hits per Cast">
                        <img src="https://wiki.guildwars2.com/images/thumb/5/53/Number_of_targets.png/20px-Number_of_targets.png"
                            alt="Hits per Cast" class="icon icon-hover">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" 
                        :class="getHeaderClass('Data', 8)" @click="sortBy('Data', 8, x => round2(getBarrierOutput(row)/(0.001 * getCastDuration(row))))"
                        data-original-title="Barrier divided by time spent in animation">
                        <img src="https://wiki.guildwars2.com/images/thumb/c/cc/Barrier.png/30px-Barrier.png" alt="Barrier"
                            class="icon">
                        /
                        <img src="https://wiki.guildwars2.com/images/6/6e/Activation.png" alt="Activation Time"
                            class="icon">
                    </th>  
                    <th class="damage-dist-cell" v-if="actor !== null" 
                        :class="getHeaderClass('Data', 11)" @click="sortBy('Data', 11, x => getMinCastingTimeNoInterrupt(x))"    
                        data-original-title="Minimum Casting Time (No interrupted skills)">
                        Min <img src="https://wiki.guildwars2.com/images/6/6e/Activation.png" alt="Activation Time"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" 
                        :class="getHeaderClass('Data', 12)" @click="sortBy('Data', 12, x => round3(0.001 * getCastDurationNoInterrupt(x) / getCastNoInterrupt(x) ))" 
                        data-original-title="Average Casting Time (No interrupted skills)">
                        Avg <img src="https://wiki.guildwars2.com/images/6/6e/Activation.png" alt="Activation Time"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" 
                        :class="getHeaderClass('Data', 13)" @click="sortBy('Data', 13, x => getMaxCastingTimeNoInterrupt(x))"    
                        data-original-title="Maximum Casting Time (No interrupted skills)">
                        Max <img src="https://wiki.guildwars2.com/images/6/6e/Activation.png" alt="Activation Time"
                        class="icon">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" 
                        :class="getHeaderClass('Data', 9)" @click="sortBy('Data', 9, x => getCastTimeWasted(x))"
                        data-original-title="Time wasted interupting skill casts">
                        <img src="https://wiki.guildwars2.com/images/b/b3/Out_Of_Health_Potions.png" alt="Wasted"
                            class="icon icon-hover">
                    </th>
                    <th class="damage-dist-cell" v-if="actor !== null" 
                        :class="getHeaderClass('Data', 10)" @click="sortBy('Data', 10, x => getCastTimeSaved(x))"
                        data-original-title="Time saved(in seconds) interupting skill casts">
                        <img src="https://wiki.guildwars2.com/images/e/eb/Ready.png" alt="Saved"
                            class="icon icon-hover">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in sortData(barrierdist.distribution)">
                    <td class="text-left" :class="getBodyClass('Skill')" :data-original-title="getSkillID(row)">
                        <img :src="getSkill(row).icon" class="icon">
                        {{getSkill(row).name}}
                    </td>
                    <td :class="getBodyClass('Data', 0)">
                        {{ round3(100*getBarrierOutput(row)/barrierdist.contributedBarrier) }}%
                    </td>
                    <td :class="getBodyClass('Data', 1)" :data-original-title="round2(getBarrierOutput(row)/phase.durationS) +' hps'">
                        {{ getBarrierOutput(row) }}
                    </td>
                    <td :class="getBodyClass('Data', 2)">
                        {{ getMinBarrier(row) }}
                    </td>
                    <td :class="getBodyClass('Data', 3)">
                        {{ round(getBarrierOutput(row)/getConnectedHits(row)) }}
                    </td>
                    <td :class="getBodyClass('Data', 4)">
                        {{ getMaxBarrier(row) }}
                    </td>
                    <td :class="getCastBodyClass('Data', 5, row)" v-if="actor !== null">
                        {{ (!getSkill(row).condi && getCast(row)) ? getCast(row) : ''}}
                    </td>
                    <td :class="getBodyClass('Data', 6)">
                        {{ getConnectedHits(row) }}
                    </td>
                    <td :class="getHitsPerCastBodyClass('Data', 7, row)" v-if="actor !== null">
                        {{(!getSkill(row).condi && getConnectedHits(row) && getCast(row)) ? round2(getConnectedHits(row)/getCast(row)) : ''}}
                    </td>
                    <td :class="getBodyClass('Data', 8)" v-if="actor !== null">
                        {{(!getSkill(row).condi && getConnectedHits(row) && getCastDuration(row)) ? round2(getBarrierOutput(row)/(0.001 * getCastDuration(row))) : ''}}
                    </td>
                    <td :class="getBodyClass('Data', 11)" v-if="actor !== null" >
                        {{ getCastDurationNoInterrupt(row) ? round3(0.001 * getMinCastingTimeNoInterrupt(row)) + 's': ' '}}
                    </td>
                    <td :class="getBodyClass('Data', 12)" v-if="actor !== null" >
                        {{ getCastDurationNoInterrupt(row) ? round3(0.001 * getCastDurationNoInterrupt(row) / getCastNoInterrupt(row) ) + 's'  : ' '}}
                    </td>
                    <td :class="getBodyClass('Data', 13)" v-if="actor !== null" >
                        {{ getCastDurationNoInterrupt(row) ? round3(0.001 * getMaxCastingTimeNoInterrupt(row)) + 's'  : ' '}}
                    </td>
                    <td :class="getBodyClass('Data', 9)" v-if="actor !== null"
                        :data-original-title="getCastTimeWasted(row) ? round2(100.0 * getCastTimeWasted(row)/phase.durationS) + '% of the phase' : false">
                        {{ getCastTimeWasted(row) ? getCastTimeWasted(row) + 's' : ''}}
                    </td>
                    <td :class="getBodyClass('Data', 10)" v-if="actor !== null"
                        :data-original-title="getCastTimeSaved(row) ? round2(100.0 * getCastTimeSaved(row)/phase.durationS) + '% of the phase' : false">
                        {{ getCastTimeSaved(row) ? getCastTimeSaved(row) + 's' : ''}}
                    </td>
                </tr>
            </tbody>
            <tfoot class="text-dark">
                <tr>
                    <td class="text-left">Total</td>
                    <td></td>
                    <td :data-original-title="Math.round(barrierdist.contributedBarrier/phase.durationS) +' hps'">
                        {{barrierdist.contributedBarrier}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td v-if="actor !== null"></td>
                    <td></td>
                    <td v-if="actor !== null"></td>
                    <td v-if="actor !== null">
                        {{round2(barrierdist.contributedBarrier/(0.001 * barrierdist.totalCasting))}}
                    </td>
                    <td v-if="actor !== null"></td>
                    <td v-if="actor !== null"></td>
                    <td v-if="actor !== null"></td>
                    <td v-if="actor !== null"></td>
                    <td v-if="actor !== null"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    Vue.component("barrierdist-table-component", {
        props: ["barrierdist", "tableid", "actorindex", "minionindex", "istarget", "phaseindex", "player"],
        template: `${template}`,
        data: function () {
            return {
                sortdata: {
                    order: "desc",
                    index: 1,
                    key: 'Data',
                    sortFunc: row => this.getBarrierOutput(row),
                }
            };
        },
        mixins: [numberComponent, sortedTableComponent, sortedDistributionComponent],
        methods: {        
            getSkillID: function (data) {
                return data[1];
            },
            getSkillIsBuff: function (data) {
                return data[0]
            },
            getSkill: function (data) {
                return findSkill(this.getSkillIsBuff(data), this.getSkillID(data));
            },
            getBarrierOutput: function(data) {
                return data[2];
            },
            getMinBarrier: function(data) {
                return data[3];
            },
            getMaxBarrier: function(data) {
                return data[4];
            },
            getCast: function(data) {
                return data[5];
            },
            getCastNoInterrupt: function(data) {
                return data[13];
            },
            getCastTimeWasted: function(data) {
                return data[6];
            },
            getCastTimeSaved: function(data) {
                return data[7];
            },
            getConnectedHits: function(data) {
                return data[8];
            },
            getCastDuration: function(data) {
                return data[9];
            },
            getCastDurationNoInterrupt: function(data) {
                return data[12];
            },
            getMinCastingTimeNoInterrupt: function(data) {
                return data[10];
            },
            getMaxCastingTimeNoInterrupt: function(data) {
                return data[11];
            },
            showInequality: function (data) {
                return this.getCastDuration(data) === 0 && this.getSkill(data).notAccurate;
            },
        },
        computed: {
            phase: function () {
                return logData.phases[this.phaseindex];
            },
            isminion: function() {
                return this.minionindex > -1;
            },
            actor: function() {
                if (this.actorindex < 0) {
                    return null;
                }
                var master = !this.player ? logData.targets[this.actorindex] : logData.players[this.actorindex];
                if (this.isminion) {
                    return master.minions[this.minionindex];
                }
                return master;
            },
        }
    });
</script>