<div class="ei-container-small">
    <div class="d-flex flex-row justify-content-center mt-2" id="phase-nav">
        <phase-component :phases="logdata.phases"></phase-component>
    </div>
    <div class="d-flex flex-row justify-content-center mb-3 mt-3" id="actors">
        <div v-show="dataType !== datatypes.targetTab" :class="{'d-flex':dataType !== datatypes.targetTab}"
             class="flex-row justify-content-center align-items-center flex-wrap mr-5">
            <target-component :targets="logdata.targets" :phaseindex="activePhase"></target-component>
        </div>
        <div class="ml-5">
            <player-component :players="logdata.players" :playerindex="activePlayer"></player-component>
        </div>
    </div>
    <general-layout-component :layout="layout" :phaseindex="activePhase">
    </general-layout-component>
    <div v-if="dataType === datatypes.personalBuffTable || (dataType <= datatypes.defensiveBuffTable && dataType>= datatypes.boonTable)" :key="'buffMode'" class="d-flex flex-row justify-content-center mt-2 mb-2">
        <ul class="nav nav-pills d-flex flex-row justify-content-center scale85">
            <li class="nav-item">
                <a class="nav-link" @click="buffMode = 0" :class="{active: buffMode === 0}">Phase duration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" @click="buffMode = 1" data-original-title="Removed dead time and dc time"
                   :class="{active: buffMode === 1 }">Phase active duration</a>
            </li>
        </ul>
    </div>
    <keep-alive>
        <damage-stats-component v-if="dataType === datatypes.damageTable" :key="'damage'" :phaseindex="activePhase"
                                :playerindex="activePlayer" :activetargets="activePhaseTargets"></damage-stats-component>
        <gameplay-stats-component v-if="dataType === datatypes.gameplayTable" :key="'gameplay'" :phaseindex="activePhase"
                                  :playerindex="activePlayer" :activetargets="activePhaseTargets"></gameplay-stats-component>
        <dmgmodifier-stats-component v-if="dataType === datatypes.dmgModifiersTable" :key="'modifier'"
                                     :phaseindex="activePhase" :playerindex="activePlayer" :activetargets="activePhaseTargets"></dmgmodifier-stats-component>
        <support-stats-component v-if="dataType === datatypes.supTable" :key="'support'" :phaseindex="activePhase"
                                 :playerindex="activePlayer"></support-stats-component>
        <defense-stats-component v-if="dataType === datatypes.defTable" :key="'defense'" :phaseindex="activePhase"
                                 :playerindex="activePlayer"></defense-stats-component>
        <graph-stats-component v-if="dataType === datatypes.dpsGraph" :key="'graph'" :activetargets="activePhaseTargets"
                               :phaseindex="activePhase" :playerindex="activePlayer" :light="light"></graph-stats-component>
        <buff-stats-component v-if="dataType <= datatypes.defensiveBuffTable && dataType>= datatypes.boonTable"
                              :key="'buffs'" :datatypes="datatypes" :datatype="dataType" :phaseindex="activePhase"
                              :playerindex="activePlayer" :active="buffMode"></buff-stats-component>
        <personal-buff-table-component v-if="dataType === datatypes.personalBuffTable" :key="'persbuffs'"
                                       :phaseindex="activePhase" :playerindex="activePlayer" :active="buffMode"></personal-buff-table-component>
        <mechanics-stats-component v-if="dataType === datatypes.mechanicTable" :key="'mechanics'"
                                   :phaseindex="activePhase" :playerindex="activePlayer"></mechanics-stats-component>
        <target-stats-component v-if="dataType === datatypes.targetTab" :key="'targets'" :playerindex="activePlayer"
                                :simplephase="logdata.phases[activePhase]" :phaseindex="activePhase" :light="light"></target-stats-component>
        <player-stats-component v-if="dataType === datatypes.playerTab" :key="'players'" :activeplayer="activePlayer"
                                :phaseindex="activePhase" :activetargets="activePhaseTargets" :light="light"></player-stats-component>
    </keep-alive>
</div>
