<div>
    <div>
        <ul class="nav nav-tabs">
            <li>
                <a class="nav-link" :class="{active: mode === 0}" @click="mode = 0">Total</a>
            </li>
            <li>
                <a class="nav-link" :class="{active: mode === 1}" @click="mode = 1">Target</a>
            </li>
            <li>
                <a class="nav-link" :class="{active: mode === 2}" @click="mode = 2">Cleave</a>
            </li>
        </ul>
    </div>
    <keep-alive>
        <dps-graph-component v-for="(phase, id) in phases" :key="id" v-if="id === phaseindex"
            :activetargets="activetargets" :mode="mode" :phaseindex="id" :playerindex="playerindex" :light="light">
        </dps-graph-component>
    </keep-alive>
</div>