<template>
    <div>
        <div v-if="target.minions.length > 0">
            <ul class="nav nav-tabs">
                <li>
                    <a class="nav-link" :class="{active: distmode === -1}" @click="distmode = -1">{{target.name}}</a>
                </li>
                <li v-for="(minion, mindex) in target.minions">
                    <a class="nav-link" :class="{active: distmode === mindex}" @click="distmode = mindex">{{minion.name}}</a>
                </li>
            </ul>
        </div>
        <damagedist-table-component :dmgdist="dmgdist" :tableid="'dmgdist-target-' + targetindex" :actor="actor" :isminion="distmode>=0" :phaseindex="phaseindex"></damagedist-table-component>
    </div>
</template>

<script>
    Vue.component('dmgdist-target-component', {
        props: ['targetindex',
            'phaseindex'
        ],
        template: `${template}`,
        data: function () {
            return {
                distmode: -1
            };
        },
        computed: {
            target: function() {
                return logData.targets[this.targetindex];
            },
            actor: function () {
                if (this.distmode === -1) {
                    return this.target;
                }
                return this.target.minions[this.distmode];
            },
            dmgdist: function () {
                if (this.distmode === -1) {
                    return this.target.details.dmgDistributions[this.phaseindex];
                }
                return this.target.details.minions[this.distmode].dmgDistributions[this.phaseindex];
            }
        },
    });
</script>
