<div>
    <div v-if="recaps">
            <div v-for="index in phaseRecaps">
                <h3 v-if="phaseRecaps.length > 1" class="text-center">
                    Death #{{index + 1}}
                </h3>
                <div v-if="!recaps[index].toKill">
                    <h3 class="text-center">Player was instantly killed after down</h3>
                    <div class="text-center">
                        Took {{data.totalDamage.down[index]}}
                        damage to go into downstate in
                        {{data.totalSeconds.down[index]}} seconds
                    </div>
                </div>
                <div v-else-if="!recaps[index].toDown">
                    <h3 class="text-center">Player was instantly killed</h3>
                    <div class="text-center">
                        Took {{data.totalDamage.kill[index]}}
                        damage in {{data.totalSeconds.kill[index]}} seconds before
                        dying
                    </div>
                </div>
                <div v-else>
                    <div class="text-center">
                        Took {{data.totalDamage.down[index]}}
                        damage to go into downstate in
                        {{data.totalSeconds.down[index]}} seconds
                    </div>
                    <div class="text-center">
                        Took {{data.totalDamage.kill[index]}}
                        damage in {{data.totalSeconds.kill[index]}} seconds before
                        dying afterwards
                    </div>
                </div>
                <graph-component :id="'deathrecap-' + playerindex + '-' + index" :layout="data.layout" :data="[data.data[index]]"></graph-component>
            </div>
            <div v-show="phaseRecaps === null || phaseRecaps.length === 0">                
                <h3 class="text-center">Player has never died during this phase</h3>
            </div>
    </div>
    <div v-else>
        <h3 class="text-center">Player has never died</h3>
    </div>
</div>