.table th {
    border-top: 0;
}

.form-control {
    padding: 0.300rem 0.4rem;
}

.theme-slate g.hovertext text.name {
    fill: #cccccc !important;
}

.theme-yeti g.hovertext text.name {
    fill: #495057 !important;
}

.theme-slate g.hovertext rect {
    fill: #272B30 !important;
    fill-opacity: 0.9 !important;
}

.theme-yeti g.hovertext rect {
    fill: #fff !important;
    fill-opacity: 0.9 !important;
}

.scrollable-y {
    overflow-y: auto;
}

.theme-yeti ::-webkit-scrollbar {
    width: 6px;
    background-color: #DDDDDD;
}

.theme-yeti ::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
}

.theme-yeti ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #DDDDDD;
}

.theme-slate ::-webkit-scrollbar {
    width: 6px;
    background-color: #888888;
}

.theme-slate ::-webkit-scrollbar-thumb {
    background-color: #DDDDDD;
    border-radius: 10px;
}

.theme-slate ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #888888;
}

.ei-container-big {
    min-width: 1900px;
    margin-right: auto;
    margin-left: auto;
}

.ei-container-small {
    max-width: 60%;
    min-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.ei-cr-footer{
    transform: translate(0, -75px);
}

.buff-display {
    height: 110px;
    width: 250px;
}

.buff-container {
    position: relative;
    text-align: center;
    height: 18px;
    margin-right: 0.05em;
}

.buff-number {
    position: absolute;
    pointer-events: none;
    font-size: 0.5em;
    left: 20%;
    top: 65%;
    text-shadow: -2px -2px 3px #000000, -2px 2px 3px #000000, 2px -2px 3px #000000, 0px 2px 3px #000000, 0px -2px 3px #000000, 2px 0px 3px #000000, -2px 0px 3px #000000, 2px 2px 3px #000000;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.scale85 {
    transform: scale(0.85,0.85) !important;
}

.scale75 {
    transform: scale(0.75,0.75) !important;
}

.scale65 {
    transform: scale(0.65,0.65) !important;
}

.player-status-rotation {
    height: 48px;
}

.player-status {
    color: #DDDDDD;
    width: 130px;
    height: 35px;
}

.actor-rotation {
    width: 120px;
    height: 48px;
}

.target-status {
    color: #DDDDDD;
    width: 250px;
    height: 35px;
}

.cr-hp-display {
    font-size: 0.65rem;
    position: relative;
    top: -12px;
    width: 45px;
}

.cr-breakbar-bar {
    color: #DDDDDD;
}

.cr-breakbar-display {
    font-size: 0.65rem;
    max-height: 35px;
    height: 12px;
    width: 200px;
}

.cr-hp-display-player {
    left: 53%;
}

.cr-hp-display-target {
    left: 82%;
}

h6.actor-shorten {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.squad-details {
    width: 450px;
}

.range-btn {
    width: 60px;
}

.range-btns {
    width: 200px;
    height: 30px;
}

.ply-btn {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.theme-slate .player-data.active {
    background-color: rgba(80, 86, 92, 0.9);
}

.theme-yeti .player-data.active {
    background-color: rgba(220, 220, 220, 0.9);
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.replay {
    border: 2px solid #888888;
}

.btn {
    font-weight: 400;
    padding: 0.75rem 1rem;
}

.btn-small {
    font-size: 0.9em;
    padding: 0.375rem 0.5rem;
}

.btn-ssmall {
    font-size: 0.7em;
    padding: 0.25rem 0.4rem;
}

.target-cell, .player-cell, a {
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.header {
    text-align: center;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 10px;
}

[v-cloak] {
    display: none;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 100%;
}

td.sorting_1 {
    background-color: rgba(39, 128, 227, 0.05);
}

table {
    font-size: inherit;
}

.table > tfoot > tr:first-child > td,
.table > tfoot > tr:last-child > td {
    border-top-width: 3px;
}

.table > tfoot > tr > td {
    color: #888;
}

tr.condi td {
    background-color: rgba(255, 0, 0, 0.25);
}

img.icon-s {
    width: 16px;
    height: 16px;
}

img.icon {
    width: 18px;
    height: 18px;
}

img.icon-l {
    width: 24px;
    height: 24px;
}

.empty-icon-l {
    width: 24px;
    height: 24px;
}

.empty-icon-ll {
    width: 48px;
    height: 48px;
}

img.icon-ll {
    width: 48px;
    height: 48px;
}

img.icon-xl {
    width: 128px;
    height: 128px;
}

img.icon-xxl {
    width: 196px;
    height: 196px;
}


img.icon-lg {
    width: 64px;
    height: 64px;
}

table.composition td {
    max-width: 120px;
    min-width: 120px;
}

table.composition .shorten {
    overflow: hidden;
    text-overflow: ellipsis;
}

img.icon-hover:hover,
td:hover img.icon-hover,
th:hover img.icon-hover,
.table-hover tr:hover td img.icon-hover {
    width: 36px;
    height: 36px;
    margin: -9px;
    position: relative;
    -webkit-filter: drop-shadow(3px 3px 6px #000);
    filter: drop-shadow(3px 3px 6px #000);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#000')";
}

table.dataTable.table-sm > thead > tr > th {
    padding-right: 10px;
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
    right: 0.3em;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.3em;
    display: none;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    right: 0.3em;
    display: block;
}

.sub-tabs {
    margin-top: 10px;
}

td,
th {
    text-align: center;
    white-space: nowrap;
}

.tooltip-inner {
    max-width: 400px;
}

.theme-slate .nav-tabs .nav-link.active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
    background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
    background-repeat: no-repeat;
    border-bottom-color: transparent;
}

.theme-slate .nav-tabs .nav-link,
.theme-slate .nav-tabs .nav-link:hover {
    color: #aaa;
}

    .theme-slate .nav-tabs .nav-link:hover {
        color: #fff;
    }

.theme-yeti .nav-pills .nav-link:not(.active) {
    background-color: #eee;
    border: 1px solid #e1e1e1;
}

.theme-yeti .nav-pills .nav-link:hover, .theme-yeti .nav-pills .nav-link:focus {
    background-color: #008cba;
    border-color: #0079a1;
}

.nav-tabs {
    margin-top: 0.5rem;
}

.rot-icon {
    width: 30px;
    height: 30px;
}

.rot-cancelled {
    border: 2px solid #ff0000;
}

.rot-animfull {
    border: 2px solid #00ff00;
}

.rot-unknown {
    border: 2px solid #ffff00;
}

.rot-small .rot-icon {
    width: 20px;
    height: 20px;
}

.rot-small .rot-cancelled {
    border: 1px solid #ff0000;
}

.rot-small .rot-animfull {
    border: 1px solid #00ff00;
}

.rot-small .rot-unknown {
    border: 1px solid #ffff00;
}

.rot-swap:after {
    content: '\A';
    white-space: pre;
}

.theme-slate .player-cell.active {
    background-color: rgba(50, 120, 0, 0.5);
}

.theme-slate .player-cell:hover:not(.active) {
    background-color: rgba(40, 75, 0, 0.5);
}

.theme-yeti .player-cell.active {
    background-color: rgba(100, 200, 0, 0.5);
}

.theme-yeti .player-cell:hover:not(.active) {
    background-color: rgba(120, 240, 0, 0.5);
}

.theme-slate .target-cell.active {
    border: 2px solid rgba(50, 120, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(50, 120, 0, 1.0));
}

.theme-slate .target-cell:hover:not(.active) {
    border: 2px solid rgba(40, 75, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(40, 75, 0, 1.0));
}

.theme-yeti .target-cell.active {
    border: 2px solid rgba(100, 200, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(100, 200, 0, 1.0));
}

.theme-yeti .target-cell:hover:not(.active) {
    border: 2px solid rgba(120, 240, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(120, 240, 0, 1.0));
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    appearance: none;
    height: 25px;
    background: #F3F3F3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }


.theme-yeti table tbody tr.active {
    background-color: rgba(100, 200, 0, 0.5);
}

.theme-slate table tbody tr.active {
    background-color: rgba(50, 120, 0, 0.5);
}

.nav-item .nav-link {
    margin-left: -1px;
    border-radius: 0;
}

.nav-item:first-child .nav-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.nav-item:last-child .nav-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

canvas {
    position: absolute;
}

#main-canvas {
    z-index: 2
}

#bg-canvas {
    z-index: 1
}

.animation-control {
    transform: translate(0,-65px);
    z-index: 3;
}

.combat-replay-mechanics-list-container {
    height: 700px;
}

.combat-actor-status-container {
    height: 700px;
}

.theme-yeti #combat-replay-mechanics-list-container > table > thead > tr > th {
    background-color: #fff !important;
}

.theme-slate #combat-replay-mechanics-list-container > table > thead > tr > th {
    background-color: #272B30 !important;
}

#combat-replay-mechanics-list-container > table > thead > tr > th {
    position: sticky !important;
    top: 0 !important;
}

.combat-replay-mechanics-list-row {
    cursor: pointer;
}

.combat-replay-mechanics-list-header > a:hover {
    text-decoration: none;
}
