.table th {
    border-top: 0;
}

.form-control {
    padding: 0.300rem 0.4rem;
}

.theme-slate g.hovertext text.name {
    fill: #cccccc !important;
}

.theme-yeti g.hovertext text.name {
    fill: #495057 !important;
}

.theme-slate g.hovertext rect {
    fill: #272B30 !important;
    fill-opacity: 0.9 !important;
}

.theme-yeti g.hovertext rect {
    fill: #fff !important;
    fill-opacity: 0.9 !important;
}

.scrollable-y {
    overflow-y: auto;
    scrollbar-width: thin;
}

.scrollable-x {
    overflow-x: auto;
    scrollbar-width: thin;
}

.theme-yeti ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #DDDDDD;
}

.theme-yeti ::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
}

.theme-yeti ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #DDDDDD;
}

.theme-slate ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #888888;
}

.theme-slate ::-webkit-scrollbar-thumb {
    background-color: #DDDDDD;
    border-radius: 10px;
}

.theme-slate ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #888888;
}

.ei-container-big {
    min-width: 1900px;
    margin-right: auto;
    margin-left: auto;
}

.ei-container-small {
    max-width: min(1600px, 90%);
    min-width: 1450px;
    margin-right: auto;
    margin-left: auto;
}

.buff-display {
    width: 250px;
}

.buff-container {
    position: relative;
    text-align: center;
    height: 18px;
    margin-right: 0.05em;
}

.buff-number {
    position: absolute;
    pointer-events: none;
    font-size: 0.5em;
    left: 20%;
    top: 65%;
    text-shadow: -2px -2px 3px #000000, -2px 2px 3px #000000, 2px -2px 3px #000000, 0px 2px 3px #000000, 0px -2px 3px #000000, 2px 0px 3px #000000, -2px 0px 3px #000000, 2px 2px 3px #000000;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.scale85 {
    transform: scale(0.85,0.85) !important;
}

.scale75 {
    transform: scale(0.75,0.75) !important;
}

.scale65 {
    transform: scale(0.65,0.65) !important;
}

.player-status-rotation {
    height: 48px;
}

.player-status {
    color: #DDDDDD;
    width: 170px;
    height: 35px;
    cursor: pointer;
    user-select: none;
}

.actor-rotation {
    width: 150px;
    height: 48px;
}

.target-status {
    color: #DDDDDD;
    width: 210px;
    height: 35px;
    cursor: pointer;
    user-select: none;
}

.cr-hp-display {
    font-size: 0.65rem;
    position: relative;
    width: 45px;
    top: -12px;
    left: 0%;
    height: 16px;
    pointer-events: none;
}

.cr-barrier-display {
    font-size: 0.65rem;
    position: relative;
    width: 45px;
    top: -44px;
    height: 16px;
    pointer-events: none;
}

.cr-barrier {
    position: relative;
    width: 100%;
    top: -99px;
    height: 100%;
    pointer-events: none;
}

.cr-breakbar-display {
    font-size: 0.65rem;
    min-height: 16px;
}

.cr-breakbar-bar {
    color: #DDDDDD;
    width: 130px;
    height: 16px;
}

.cr-breakbar-phase-display {
    font-size: 0.65rem;
    width: 180px;
}

.cr-barrier-display-player {
    left: 68%;
}

.cr-barrier-display-target {
    left: 77%;
}

h6.actor-shorten-cr {
    width: 100%;
    height: 21px;
    margin-top: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.squad-details {
    width: 450px;
}

.range-btn {
    width: 60px;
}

.range-btns {
    width: 200px;
    height: 30px;
}

.ply-btn {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.theme-slate .player-data.active {
    background-color: rgba(80, 86, 92, 0.9);
}

.theme-yeti .player-data.active {
    background-color: rgba(220, 220, 220, 0.9);
}

.theme-slate .target-data.active {
    background-color: rgba(80, 86, 92, 0.9);
}

.theme-yeti .target-data.active {
    background-color: rgba(220, 220, 220, 0.9);
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.replay {
    border: 2px solid #888888;
}

.btn {
    font-weight: 400;
    padding: 0.75rem 1rem;
}

.btn-small {
    font-size: 0.9em;
    padding: 0.375rem 0.5rem;
}

.btn-ssmall {
    font-size: 0.7em;
    padding: 0.25rem 0.4rem;
}

.target-cell, .player-cell, a {
    cursor: pointer !important;
}


.player-cell {
    width: 125px;
    min-height: 90px;
}

.theme-yeti .player-cell{
    box-shadow:
    1px 0 0 0 #dee2e6,
    0 1px 0 0 #dee2e6,
    1px 1px 0 0 #dee2e6,
    1px 0 0 0 #dee2e6 inset,
    0 1px 0 0 #dee2e6 inset;
}

.theme-slate .player-cell {
    box-shadow:
    1px 0 0 0 rgb(10, 10, 10),
    0 1px 0 0 rgb(10, 10, 10),
    1px 1px 0 0 rgb(10, 10, 10),
    1px 0 0 0 rgb(10, 10, 10) inset,
    0 1px 0 0 rgb(10, 10, 10) inset;
}

.player-cell-shorten {
    display:block;
    text-align: center;
    white-space:nowrap;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.header {
    text-align: center;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 10px;
}

[v-cloak] {
    display: none;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 100%;
}

td.sorting_1 {
    background-color: rgba(39, 128, 227, 0.05);
}

table {
    font-size: inherit;
}

.table > tfoot > tr:first-child > td,
.table > tfoot > tr:last-child > td {
    border-top-width: 3px;
}

.table > tfoot > tr > td {
    color: #888;
}

tr.condi td {
    background-color: rgba(255, 0, 0, 0.25);
}

tr.hybridH td {
    background-color: rgba(0, 255, 0, 0.25);
}

tr.conversionH td {
    background-color: rgba(0, 0, 255, 0.25);
}

img.icon-s {
    width: 16px;
    height: 16px;
}

img.icon {
    width: 18px;
    height: 18px;
}

img.icon-l {
    width: 24px;
    height: 24px;
}


.empty-icon-l {
    width: 24px;
    height: 24px;
}
img.icon-sl {
    width: 32px;
    height: 32px;
}

.empty-icon-sl {
    width: 32px;
    height: 32px;
}

.empty-icon-ll {
    width: 48px;
    height: 48px;
}

img.icon-ll {
    width: 48px;
    height: 48px;
}

img.icon-xl {
    width: 128px;
    height: 128px;
}

img.icon-xxl {
    width: 196px;
    height: 196px;
}

img.encounter-icon {
    height: 128px;
    object-fit: contain;
}


img.icon-lg {
    width: 64px;
    height: 64px;
}

img.icon-hover:hover,
td:hover img.icon-hover,
th:hover img.icon-hover,
.table-hover tr:hover td img.icon-hover {
    width: 36px;
    height: 36px;
    margin: -9px;
    position: relative;
    -webkit-filter: drop-shadow(3px 3px 6px #000);
    filter: drop-shadow(3px 3px 6px #000);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#000')";
}

.sub-cell {
    width: 20px ;
}

.prof-cell {
    width: 5px;
}

.cr-ellipsis {
    width: 110px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.damage-cell {
    width: 150px;
}

.stat-cell {
    width: 120px;
}

.damage-dist-cell {
    width: 100px;
}

.name-cr-cell {
    min-width: 110px;
}

.damage-cr-cell-small {
    min-width: 90px;
}

.damage-cr-cell {
    min-width: 110px;
}

.sub-tabs {
    margin-top: 10px;
}

td,
th {
    text-align: center;
    white-space: nowrap;
}

.tooltip-inner {
    max-width: 400px;
}

.theme-slate .nav-tabs .nav-link.active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
    background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
    background-repeat: no-repeat;
    border-bottom-color: transparent;
}

.theme-slate .nav-tabs .nav-link,
.theme-slate .nav-tabs .nav-link:hover {
    color: #aaa;
}

    .theme-slate .nav-tabs .nav-link:hover {
        color: #fff;
    }

.theme-yeti .nav-pills .nav-link:not(.active) {
    background-color: #eee;
    border: 1px solid #e1e1e1;
}

.theme-yeti .nav-pills .nav-link:hover, .theme-yeti .nav-pills .nav-link:focus {
    background-color: #008cba;
    border-color: #0079a1;
}

.nav-tabs {
    margin-top: 0.5rem;
}

.rot-icon {
    width: 30px;
    height: 30px;
}

.rot-cancelled {
    border: 2px solid #ff0000;
}

.rot-animfull {
    border: 2px solid #00ff00;
}

.rot-unknown {
    border: 2px solid #ffff00;
}

.rot-instant {
    border: 2px solid #00FFFF;
}

.rot-small .rot-icon {
    width: 20px;
    height: 20px;
}

.rot-small .rot-cancelled {
    border: 1px solid #ff0000;
}

.rot-small .rot-animfull {
    border: 1px solid #00ff00;
}

.rot-small .rot-unknown {
    border: 1px solid #ffff00;
}

.rot-swap:after {
    content: '\A';
    white-space: pre;
}

.rot-highlight:not(.rot-highlight-active) {
    opacity: 0.5;
    filter: grayscale(0.7);
}

.theme-slate .player-cell.active {
    background-color: rgba(50, 120, 0, 0.5);
}

.theme-slate .player-cell:hover:not(.active) {
    background-color: rgba(40, 75, 0, 0.5);
}

.theme-yeti .player-cell.active {
    background-color: rgba(100, 200, 0, 0.5);
}

.theme-yeti .player-cell:hover:not(.active) {
    background-color: rgba(120, 240, 0, 0.5);
}

.theme-slate .target-cell.active {
    border: 2px solid rgba(50, 120, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(50, 120, 0, 1.0));
}

.super-small {
    font-size: 65%
}


.theme-slate .target-cell:hover:not(.active) {
    border: 2px solid rgba(40, 75, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(40, 75, 0, 1.0));
}

.theme-yeti .target-cell.active {
    border: 2px solid rgba(100, 200, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(100, 200, 0, 1.0));
}

.theme-yeti .target-cell:hover:not(.active) {
    border: 2px solid rgba(120, 240, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(120, 240, 0, 1.0));
}

.theme-yeti table tbody tr.active {
    background-color: rgba(100, 200, 0, 0.5);
}

.theme-slate table tbody tr.active {
    background-color: rgba(50, 120, 0, 0.5);
}

.nav-item .nav-link {
    margin-left: -1px;
    border-radius: 0;
}

.nav-item:first-child .nav-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.nav-item:last-child .nav-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

canvas {
    position: absolute;
}

#main-canvas {
    z-index: 2
}

#bg-canvas {
    z-index: 1
}

#picking-canvas {
    z-index: 0;
    opacity: 0;
}

.animation-control {
    z-index: 3;
}

.combat-replay-mechanics-list-container {
    height: 700px;
}

.combat-actor-status-container {
    height: 700px;
}

.theme-yeti #combat-replay-mechanics-list-container > table > thead > tr > th {
    background-color: #fff !important;
}

.theme-slate #combat-replay-mechanics-list-container > table > thead > tr > th {
    background-color: #272B30 !important;
}

#combat-replay-mechanics-list-container > table > thead > tr > th {
    position: sticky !important;
    top: 0 !important;
}

.combat-replay-mechanics-list-row {
    cursor: pointer;
}

.combat-replay-mechanics-list-header > a:hover {
    text-decoration: none;
}


.slidercontainer {
    width: 100%;
}
.slider {
    width: 100%;
    height: 25px;
    background: rgb(246, 246, 246);
    opacity: 0.7;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 13px;
}
.slider:hover {
    opacity: 0.9;
}
/* http://danielstern.ca/range.css/?ref=css-tricks#/ */
input[type=range].slider {
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    cursor: pointer;
  }
  input[type=range].slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: #00ff00;
    border: 3px solid #00c800;
    border-radius: 13px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].slider::-moz-range-track {
    background: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    cursor: pointer;
  }
  input[type=range].slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #00ff00;
    border: 3px solid #00c800;
    border-radius: 13px;
    cursor: pointer;
  }


thead .sorted, thead .sorted_asc, thead .sorted_desc {
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

thead .sorted:before, thead .sorted_asc:before, thead .sorted_desc:before {
    top: 5px;
    right: 0.85em;
    content: "\2191";
    position: absolute;
    display: block;
}
thead .sorted:before, thead .sorted_desc:before {
    opacity: 0.3;
}
thead .sorted_asc:before {
    opacity: 1.0;
}

thead .sorted:after, thead .sorted_asc:after, thead .sorted_desc:after {
    top: 5px;
    right: 0.5em;
    content: "\2193";
    position: absolute;
    display: block;
}
thead .sorted:after, thead .sorted_asc:after {
    opacity: 0.3;
}
thead .sorted_desc:after {
    opacity: 1.0;
}



td.sorted {
    background-color: rgba(39, 128, 227, 0.05);
}

td.lowerOrEqual::before {
    content: "<=";
}

td.higherOrEqual::before {
    content: ">=";
}

td.approximate::before {
    content: "\2248";
}

.scrollabledropdown {
    max-height: 500px;
    overflow: auto;
    overscroll-behavior: contain;
}

.card-header {
    padding: 0.25rem 1.25rem !important;
}

.card-header-fightMode {
    padding: 0.10rem 1.25rem;
    margin-bottom: 0px;
}

.card-body-encounter {
    padding: 1rem !important;
}

/* Fight Mode Header - Light Theme */
.theme-yeti .fm-story {
    background-color: #EEEEEE;
}

.theme-yeti .fm-quickplay {
    background-color: #32FCEB;
}

.theme-yeti .fm-emboldened {
    background-color: #39925A;
}

.theme-yeti .fm-normal {
    background-color: #00779E;
}

.theme-yeti .fm-challenge {
    background-color: #E99002;
}

.theme-yeti .fm-legendary {
    background-color: #C9A0FF;
}

.theme-yeti .fm-unknown {
    background-color: #EE3000;
}

/* Fight Mode Header - Dark Theme */
.theme-slate .fm-story {
    background-color: #515960;
}

.theme-slate .fm-quickplay {
    background-color: #006858;
}

.theme-slate .fm-emboldened {
    background-color: #036E09;
}

.theme-slate .fm-normal {
    background-color: #0C5E94;
}

.theme-slate .fm-challenge {
    background-color: #736625;
}

.theme-slate .fm-legendary {
    background-color: #6C4DA3;
}

.theme-slate .fm-unknown {
    background-color: #990000;
}

.health-bar {
    height: 7px;
    width: 100%;
    border-radius: 5px;
}

/* Rotation Legend */
/* Background filler */
.rot-legend-bg {
    padding: 2px;
    border-style:solid;
    border-width: 1px;
    border-color:#000000;
}

.rot-bg-blue {
    background-color:#0000FF;
    color:#FFFFFF;
}

.rot-bg-green {
    background-color:#00FF00;
    color:#000000;
}

.rot-bg-red {
    background-color:#FF0000;
    color:#FFFFFF;
}

.rot-bg-cyan {
    background-color:#00FFFF;
    color:#000000;
}

.rot-bg-yellow {
    background-color:#FFFF00;
    color:#000000;
}

/* Outlines */
.rot-legend-border {
    padding: 2px;
    background-color:#999999;
    border-style:solid;
    border-width: 2px;
    color:#000000;
}

.rot-border-orange{
    border-color:rgb(220,125,30);
}

.rot-border-grey {
    border-color:rgb(125,125,125);
}

.rot-border-pink {
    border-color:rgb(220,20,220);
}

/* Rotation buttons */
.rot-button {
    width:160px;
    padding: 0.4rem 0.4rem;
}

/* Rotation font */
.rot-font {
    font-size: 1.0em;
    white-space: nowrap;
    margin-top: 2px;
}
.rot-font-dropdown {
    font-size: 1.1em;
}

/* Rotation selector */
.rot-dropdown-pos {
    position:absolute;
    margin-top: 60px;
    z-index: 1;
}

/* Healing stats background fill legend */
.hs-bg {
    padding: 2px;
    border-style:solid;
    border-width: 1px;
    border-color:#000000;
}
.hs-bg-darkblue {
    background-color:rgba(0, 0, 255, 0.25);
    color:#FFFFFF;
}
.hs-bg-darkgreen {
    background-color:rgba(0, 255, 0, 0.25);
    color:#000000;
}

/* Width */
.max-wd-900 {
    max-width: 900px;
}
.max-wd-700 {
    max-width: 700px;
}
.max-wd-500 {
    max-width: 500px;
}
.min-wd-165 {
    min-width: 165px;
}
.wd-100 {
    width: 100px;
}
.wd-150 {
    width: 150px;
}
.wd-200 {
    width: 200px;
}

/* Graph range control */
.graph-rc {
    position:absolute;
    margin-top: -60px;
    margin-left: 100px;
    z-index: 1;
}

.separator-border-bottom {
    border-bottom: 2px solid #bbb;
}

.cr-slide-delimiter {
    position: absolute;
    color: black;
    pointer-events:none;
}

.text-center {
    text-align: center;
}