<div class="d-flex flex-column flex-wrap">
    <p class="text-justify text-center">Double click on canvas to restore viewpoint</p>
    <canvas :width="canvas.x + 'px'" :height="canvas.y + 'px'" id="replayCanvas" class="replay"></canvas>
    <div class="d-flex justify-content-center">
        <div @click="toggleAnimate();"
             class="btn btn-small" :class="{'btn-dark': !light, 'btn-light': light}" style="width: 50px;">{{animated ? "Pause" : "Play"}}</div>
        <div @click="restartAnimate();" class="btn btn-small" :class="{'btn-dark': !light, 'btn-light': light}">
            Restart
        </div>
        <div @click="toggleBackwards();"
             class="btn btn-small" :class="{'active': backwards, 'btn-dark': !light, 'btn-light': light}">Backwards</div>
    </div>
    <div class="d-flex justify-content-center slidecontainer">
        <input style="min-width: 400px;" @input="updateTime($event.target.value)" type="range" min="0"
               :max="maxTime" value="0" class="slider" id="timeRange">
        <input style="width: 70px; text-align: right;" class="ml-3 mr-1" type="text" id="timeRangeDisplay" value="0"
               @input="updateInputTime($event.target.value);">
    </div>
    <div>
        <ul class="d-flex flex-row justify-content-center">
            <li class="btn btn-small" :class="{'active': backwards, 'btn-dark': !light, 'btn-light': light}"
                v-for="phase in phases" @click="updateTime(phase.start * 1000)"
                :data-original-title="phase.duration / 1000.0 + ' seconds'">
                {{phase.name}}
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center mt-1">
        <label v-for="speed in speeds" @click="setSpeed(speed)" :class="{'active': speed === selectedSpeed, 'btn-dark': !light, 'btn-light': light}"
               class="btn btn-ssmall">
            {{speed}}x
        </label>
    </div>
</div>