<div class="d-flex flex-column justify-content-end" :style="{'height': enemy ? '80px' : '100px'}">
    <div v-if="data.enemies.length > 0" class="d-flex">
        <div v-for="enemy in data.enemies" class="boon-container">
            <img :src="enemy.buff.icon" :title="enemy.buff.name" :alt="enemy.buff.name" class="icon" />
            <div v-if="enemy.state > 1" class="boon-number">{{enemy.state}}</div>
        </div>
    </div>
    <div v-if="data.conditions.length > 0" class="d-flex">
        <div v-for="condition in data.conditions" class="boon-container">
            <img :src="condition.buff.icon" :title="condition.buff.name" :alt="condition.buff.name" class="icon" />
            <div v-if="condition.state > 1" class="boon-number">{{condition.state}}</div>
        </div>
    </div>
    <div v-if="data.others.length > 0" class="d-flex">
        <div v-for="other in data.others" class="boon-container">
            <img :src="other.buff.icon" :title="other.buff.name" :alt="other.buff.name" class="icon" />
            <div v-if="other.state > 1" class="boon-number">{{other.state}}</div>
        </div>
    </div>
    <div v-if="!enemy && (data.offs.length > 0 || data.defs.length > 0)" class="d-flex">
        <div v-for="off in data.offs" class="boon-container">
            <img :src="off.buff.icon" :title="off.buff.name" :alt="off.buff.name" class="icon" />
            <div v-if="off.state > 1" class="boon-number">{{off.state}}</div>
        </div>
        <div v-for="def in data.defs" class="boon-container">
            <img :src="def.buff.icon" :title="def.buff.name" :alt="def.buff.name" class="icon" />
            <div v-if="def.state > 1" class="boon-number">{{def.state}}</div>
        </div>
    </div>
    <div v-if="data.boons.length > 0" class="d-flex">
        <div v-for="boon in data.boons" class="boon-container">
            <img :src="boon.buff.icon" :title="boon.buff.name" :alt="boon.buff.name" class="icon" />
            <div v-if="boon.state > 1" class="boon-number">{{boon.state}}</div>
        </div>
    </div>
    <div v-if="data.consumables.length > 0" class="d-flex">
        <div v-for="consumable in data.consumables" class="boon-container">
            <img :src="consumable.buff.icon" :title="consumable.buff.name" :alt="consumable.buff.name" class="icon" />
            <div v-if="consumable.state > 1" class="boon-number">{{consumable.state}}</div>
        </div>
    </div>
</div>