<div v-if="animator !== null">
    <div class="d-flex flex-column justify-content-center">
        <combat-replay-damage-stats-component :time="animator.time" :playerindex="playerindex"></combat-replay-damage-stats-component>
        <ul class="nav nav-pills d-flex flex-row justify-content-center mb-1">
            <li class="nav-item">
                <a class="nav-link" href="#playerModal" data-backdrop="false" data-toggle="modal"><img v-if="player.profession"
                        :alt="player.profession" class="icon" :src="player.icon">{{player.name + (player.profession? ' Details' :'')}}</a>
            </li>
        </ul>
    </div>
    <div id="playerModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><img v-if="player.profession" :alt="player.profession" class="icon" :src="player.icon">{{player.name}}</h4>
                </div>
                <div class="modal-body">
                    <combat-replay-player-stats v-if="playerindex >= 0" :time="animator.time" :playerindex="playerindex"></combat-replay-player-stats>
                </div>
            </div>
        </div>
    </div>
</div>