<div class="d-flex mt-2 align-items-center">
    <div class="d-flex flex-column align-items-center mr-2" style="margin-left: auto;">
            <combat-replay-damage-data-component :time="animationStatus.time" :selectedplayer="animationStatus.selectedPlayer" :selectedplayerid="animationStatus.selectedPlayerID"></combat-replay-damage-data-component>
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-start btn-group btn-group-toggle mb-2"
             data-toggle="buttons">
            <div class="d-flex flex-column justify-content-center align-items-center mt-1 ml-2 mr-2">
                  <div v-for="group in groups">                 
                    <h3>Group {{group.id}}</h3>
                    <label v-for="player in group.players" @click="animator && animator.selectActor(player.combatReplayID);" class="btn btn-dark btn-small ply-btn">
                         <img :src="player.icon" :alt="player.profession" class="icon">
                         {{ player.name }}
                    </label>
                  </div>
            </div>
        </div>
        <h3>Range Selectors</h3>
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-center mb-2" v-for="rangeCol in rangeSelectArrays">
            <div class="range-btns d-flex flex-row flex-wrap justify-content-center align-items-center btn-group btn-group-toggle"
                 data-toggle="buttons">
                <label v-for="range in rangeCol" @click="animator && animator.toggleRange(range);" class="btn btn-dark btn-small range-btn">{{range}}</label>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-wrap">
        <p class="text-justify text-center">Double click on canvas to restore viewpoint</p>
        <canvas width="${canvasX}px" height="${canvasY}px" id="replayCanvas" class="replay"></canvas>
        <div class="d-flex justify-content-center">
            <div onclick="animator && animator.toggleAnimate();" type="button" id="playBtn" class="btn btn-dark btn-small">Play</div>
            <div onclick="animator && animator.restartAnimate();" type="button" class="btn btn-dark btn-small">Restart</div>
            <div onclick="animator && animator.toggleBackwards();" id="animatorBackwards" type="button" class="btn btn-dark btn-small">Backwards</div>
        </div>
        <div class="d-flex justify-content-center slidecontainer">
            <input style="min-width: 400px;" oninput="animator && animator.updateTime(this.value)" type="range" min="0"
                   max="${maxTime}" value="0" class="slider" id="timeRange">
            <input style="width: 70px; text-align: right;" class="ml-3 mr-1" type="text" id="timeRangeDisplay" value="0"
                   oninput="animator && animator.updateInputTime(this.value);">
        </div>
        <div class="d-flex justify-content-center btn-group btn-group-toggle" data-toggle="buttons">
            <label v-for="speed in speeds" @click="animator && animator.setSpeed(speed)" class="btn btn-dark btn-ssmall">
                <input type="radio"
                       autocomplete="off">{{speed}}x
            </label>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center ml-2" style="margin-right: auto;">
            <combat-replay-status-data-component :time="animationStatus.time" :selectedplayer="animationStatus.selectedPlayer" :selectedplayerid="animationStatus.selectedPlayerID"></combat-replay-status-data-component>
    </div>
</div>