.table th {
    border-top: 0;
}

.theme-slate g.hovertext text.name {
    fill: #cccccc !important;
}

.theme-yeti g.hovertext text.name {
    fill: #495057 !important;
}

.theme-slate g.hovertext rect {
    fill: #272B30 !important;
    fill-opacity: 0.9 !important;
}

.theme-yeti g.hovertext rect {
    fill: #fff !important;
    fill-opacity: 0.9 !important;
}


body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.replay {
    border: 2px solid #888888;
}

.btn {
    font-weight: 400;
    padding: 0.75rem 1rem;
}

.btn-small {
    font-size: 0.9em;
    padding: 0.375rem 0.5rem;
}

.btn-ssmall {
    font-size: 0.7em;
    padding: 0.25rem 0.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.header {
    text-align: center;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 10px;
}

[v-cloak] {
    display: none;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 100%;
}

td.sorting_1 {
    background-color: rgba(39, 128, 227, 0.05);
}

table {
    font-size: inherit;
}

.table>tfoot>tr:first-child>td,
.table>tfoot>tr:last-child>td {
    border-top-width: 3px;
}

.table>tfoot>tr>td {
    color: #888;
}

tr.condi td {
    background-color: rgba(255, 0, 0, 0.25);
}

img.icon {
    width: 18px;
    height: 18px;
}

img.icon-xl {
    width: 128px;
    height: 128px;
}

img.icon-xxl {
    width: 196px;
    height: 196px;
}


img.icon-lg {
    width: 64px;
    height: 64px;
}

table.composition td {
    max-width: 120px;
    width: 120px;
}

table.composition .shorten {
    overflow: hidden;
    text-overflow: ellipsis;
}

img.icon-hover:hover,
td:hover img.icon-hover,
th:hover img.icon-hover,
.table-hover tr:hover td img.icon-hover {
    width: 36px;
    height: 36px;
    margin: -9px;
    position: relative;
    -webkit-filter: drop-shadow(3px 3px 6px #000);
    filter: drop-shadow(3px 3px 6px #000);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#000')";
}

table.dataTable.table-sm>thead>tr>th {
    padding-right: 10px;
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
    right: 0.3em;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.3em;
    display: none;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    right: 0.3em;
    display: block;
}

.sub-tabs {
    margin-top: 10px;
}

td,
th {
    text-align: center;
    white-space: nowrap;
}

.tooltip-inner {
    max-width: 400px;
}

.theme-slate .nav-tabs .nav-link.active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
    background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
    background-repeat: no-repeat;
    border-bottom-color: transparent;
}
.theme-slate .nav-tabs .nav-link,
.theme-slate .nav-tabs .nav-link:hover {
    color: #aaa;
}
.theme-slate .nav-tabs .nav-link:hover {
    color: #fff;
}

.theme-yeti .nav-pills .nav-link {
    border-radius: 0.25rem;
}
.theme-yeti .nav-pills .nav-link:not(.active) {
    background-color: #eee;
}
.theme-yeti .nav-pills .nav-link:hover, .theme-yeti .nav-pills .nav-link:focus {
    background-color: #008cba;
}

.rot-icon {
    width: 30px;
    height: 30px;
}

.rot-icon.rot-cancelled {
    border: 3px solid #ff0000;
}

.rot-small .rot-icon {
    width: 20px;
    height: 20px;
}

.rot-small .rot-icon.rot-cancelled {
    border: 1px solid #ff0000;
}

.rot-swap:after {
    content: '\A';
    white-space: pre;
}

.theme-slate .player-cell.active {
    background-color: rgba(50, 120, 0, 0.5);
}

.theme-slate .player-cell:hover:not(.active) {
    background-color: rgba(40, 75, 0, 0.5);
}

.theme-yeti .player-cell.active {
    background-color: rgba(100, 200, 0, 0.5);
}

.theme-yeti .player-cell:hover:not(.active) {
    background-color: rgba(120, 240, 0, 0.5);
}

.theme-slate .target-cell.active {
    border: 2px solid rgba(50, 120, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(50, 120, 0, 1.0));
}

.theme-slate .target-cell:hover:not(.active) {
    border: 2px solid rgba(40, 75, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(40, 75, 0, 1.0));
}

.theme-yeti .target-cell.active {
    border: 2px solid rgba(100, 200, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(100, 200, 0, 1.0));
}

.theme-yeti .target-cell:hover:not(.active) {
    border: 2px solid rgba(120, 240, 0, 0.5);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(120, 240, 0, 1.0));
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    appearance: none;
    height: 25px;
    background: #F3F3F3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}


.theme-yeti table tbody tr.active {
    background-color: rgba(100, 200, 0, 0.5);
}
.theme-slate table tbody tr.active {
    background-color: rgba(50, 120, 0, 0.5);
}
