<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/${bootstrapTheme}/bootstrap.min.css"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!--${Css}-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/sorting/alt-string.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!--${Vue}-->
    <script>
        var logData = '${logDataJson}';
    </script>
    <script>
        var playerGraphData = '${graphDataJson}';
    </script>
    <!--${playerData}-->
    <!--${Js}-->
</head>

<body class="theme-${bootstrapTheme}">
    <div class="header">
        <div>Time Start: ${encounterStart} | Time End: ${encounterEnd}</div>
    </div>
    <div class="d-flex justify-content-center align-item-center" id="loading">
        <div class="card" style="width: 75%;">
            <div class="card-body" style="margin: 100px; text-align: center;">
                Loading data...
            </div>
        </div>
    </div>
    <div class="container" v-cloak id="content">
        <div class="d-flex flex-row justify-content-center">
            <div class="card boss-summary" id="encounter" style="min-width: 350px;">
                <encounter-component inline-template :logdata="logdata">
                    <div>
                        <h3 class="card-header text-center">{{ encounter.name }}</h3>
                        <div class="card-body container">
                            <div class="d-flex flex-row justify-content-center align-item-center">
                                <img class="mr-3 icon-xl" :src="encounter.icon" :alt="encounter.name">
                                <div class="ml-3 d-flex flex-column justify-content-center align-item-center">
                                    <div class="mb-2" v-for="target in encounter.targets">
                                        <div v-if="encounter.targets.length > 1" class="small" style="text-align:center;">{{
                                            target.name }}</div>
                                        <div class="progress" style="width: 100%; height: 20px;" :data-original-title="target.hpLeft + '% left'">
                                            <div class="progress-bar bg-success" :style="{width: target.percent + '%'}"
                                                role="progressbar" :aria-valuenow="target.percent" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <div class="small" style="text-align:center;">{{ target.health }} Health</div>
                                    </div>
                                    <div class="mb-2 text" :class="getResultClass(encounter.success)">Result: {{
                                        getResultText(encounter.success) }}</div>
                                    <div class="mb-2">Duration: {{ encounter.duration }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </encounter-component>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center mt-2" id="phase-nav">
            <phase-component inline-template :phases="logdata.phases">
                <ul class="nav nav-pills d-flex flex-row justify-content-center">
                    <li class="nav-item" v-for="phase in phases" :data-original-title="phase.duration / 1000.0 + ' seconds'">
                        <a class="nav-link" @click="select(phase)" :class="{active: phase.active}">{{phase.name}}</a>
                    </li>
                </ul>
            </phase-component>
        </div>
        <div class="d-flex flex-row justify-content-center mb-3 mt-3" id="actors">
            <div id="targets" class="d-flex flex-row justify-content-center align-items-center flex-wrap mr-5">
                <target-component inline-template :targets="logdata.targets" :phase="phaseData.phase">
                    <div class="d-flex flex-row justify-content-center flex-wrap">
                        <img class="icon-lg mr-2 ml-2 target-cell" v-for="target in targets" v-show="show(target)" :src="target.icon"
                            :alt="target.name" :data-original-title="target.name" :class="{active: target.active}"
                            @click="target.active = !target.active">
                    </div>
                </target-component>
            </div>
            <div id="players" class="ml-5">
                <player-component inline-template :players="logdata.players">
                    <div>
                        <table class="table composition">
                            <tbody>
                                <tr v-for="group in groups">
                                    <td class="player-cell" v-for="player in group" :class="{active: player.active}"
                                        @click="select(player,groups)">
                                        <div>
                                            <img :src="player.icon" :alt="player.profession" class="icon"
                                                :data-original-title="player.prof">
                                            <img v-if="player.condi > 0" src="https://wiki.guildwars2.com/images/5/54/Condition_Damage.png"
                                                alt="Condition Damage" class="icon" :data-original-title="'Condition Damage - ' + player.condi">
                                            <img v-if="player.conc > 0" src="https://wiki.guildwars2.com/images/4/44/Boon_Duration.png"
                                                alt="Concentration" class="icon" :data-original-title="'Concentration - ' + player.conc">
                                            <img v-if="player.heal > 0" src="https://wiki.guildwars2.com/images/8/81/Healing_Power.png"
                                                alt="Healing Power" class="icon" :data-original-title="'HealingPower - ' + player.heal">
                                            <img v-if="player.tough > 0" src="https://wiki.guildwars2.com/images/1/12/Toughness.png"
                                                alt="Toughness" class="icon" :data-original-title="'Toughness - ' + player.tough">
                                        </div>
                                        <div>
                                            <img v-for="wep in player.firstSet" :src="getIcon(wep)"
                                                :data-original-title="wep" class="icon">
                                            <span v-if="player.firstSet.length > 0 && player.secondSet.length > 0">/</span>
                                            <img v-for="wep in player.secondSet" :src="getIcon(wep)"
                                                :data-original-title="wep" class="icon">
                                        </div>
                                        <div class="shorten" :data-original-title="player.acc">
                                            {{ player.name }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </player-component>
            </div>
        </div>
        <general-layout-component :layout="layout" :phase="phaseData.phase">
        </general-layout-component>
        <div id="general-stats">
            <damage-stats-component inline-template v-show="dataType === datatypes.damageTable" :phase="phaseData.phase"
                :players="logdata.players" :targets="logdata.targets">
                <div>
                    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="dps-table">
                        <thead>
                            <tr>
                                <th>Sub</th>
                                <th></th>
                                <th class="text-left">Name</th>
                                <th>Account</th>
                                <th>Target DPS</th>
                                <th>Power</th>
                                <th>Condi</th>
                                <th>All DPS</th>
                                <th>Power</th>
                                <th>Condi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in tableData.rows">
                                <td>{{row.player.group}}</td>
                                <td :data-original-title="row.player.profession"><img :src="row.player.icon" :alt="row.player.profession"
                                        class="icon"><span style="display:none">{{row.player.profession}}</span></td>
                                <td class="text-left">{{row.player.name}}</td>
                                <td>{{row.player.acc}}</td>
                                <td :data-original-title="row.dps[0] + ' dmg'">{{row.dps[1]}}</td>
                                <td :data-original-title="row.dps[2] + ' dmg'">{{row.dps[3]}}</td>
                                <td :data-original-title="row.dps[4] + ' dmg'">{{row.dps[5]}}</td>
                                <td :data-original-title="row.dps[6] + ' dmg'">{{row.dps[7]}}</td>
                                <td :data-original-title="row.dps[8] + ' dmg'">{{row.dps[9]}}</td>
                                <td :data-original-title="row.dps[10] + ' dmg'">{{row.dps[11]}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr v-for="sum in tableData.sums">
                                <td></td>
                                <td></td>
                                <td class="text-left">{{sum.name}}</td>
                                <td></td>
                                <td :data-original-title="sum.dps[0] + ' dmg'">{{sum.dps[1]}}</td>
                                <td :data-original-title="sum.dps[2] + ' dmg'">{{sum.dps[3]}}</td>
                                <td :data-original-title="sum.dps[4] + ' dmg'">{{sum.dps[5]}}</td>
                                <td :data-original-title="sum.dps[6] + ' dmg'">{{sum.dps[7]}}</td>
                                <td :data-original-title="sum.dps[8] + ' dmg'">{{sum.dps[9]}}</td>
                                <td :data-original-title="sum.dps[10] + ' dmg'">{{sum.dps[11]}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </damage-stats-component>
            <gameplay-stats-component inline-template v-show="dataType === datatypes.gameplayTable" :phase="phaseData.phase"
                :players="logdata.players" :targets="logdata.targets">
                <div>
                    <div class="d-flex flex-row justify-content-center mt-1 mb-1">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 1" :class="{active: mode}">Target</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 0" :class="{active: !mode }">All</a>
                            </li>
                        </ul>
                    </div>
                    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="dmg-table">
                        <thead>
                            <tr>
                                <th>Sub</th>
                                <th></th>
                                <th class="text-left">Name</th>
                                <th>Account</th>
                                <th><img src="https://wiki.guildwars2.com/images/9/95/Critical_Chance.png" alt="Crits"
                                        data-original-title="Percent time hits critical" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/2/2b/Superior_Rune_of_the_Scholar.png"
                                        alt="Scholar" data-original-title="Percent time hits while above 90% health"
                                        class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/1/1c/Bowl_of_Seaweed_Salad.png" alt="SwS"
                                        data-original-title="Percent time hits while moveing" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/b/bb/Hunter%27s_Tactics.png" alt="Flank"
                                        data-original-title="Percent time hits while flanking" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/f/f9/Weakness.png" alt="Glance"
                                        data-original-title="Percent time hits while glanceing" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/3/33/Blinded.png" alt="Miss"
                                        data-original-title="Number of hits while blinded" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/7/79/Daze.png" alt="Interupts"
                                        data-original-title="Number of hits interupted?/hits used to interupt" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/e/eb/Determined.png" alt="Ivuln"
                                        data-original-title="times the enemy was invulnerable to attacks" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/b/b3/Out_Of_Health_Potions.png" alt="Wasted"
                                        data-original-title="Time wasted(in seconds) interupting skill casts" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/e/eb/Ready.png" alt="Saved"
                                        data-original-title="Time saved(in seconds) interupting skill casts" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/c/ce/Weapon_Swap_Button.png" alt="Swap"
                                        data-original-title="Times weapon swapped" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/e/ef/Commander_arrow_marker.png" alt="Stack"
                                        data-original-title="Average Distance from center of group stack" class="icon icon-hover"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in (mode ? tableDataTarget : tableData)">
                                <td>{{row.player.group}}</td>
                                <td :data-original-title="row.player.profession"><img :src="row.player.icon" :alt="row.player.profession"
                                        class="icon"><span style="display:none">{{row.player.profession}}</span></td>
                                <td class="text-left">{{row.player.name}}</td>
                                <td>{{row.player.acc}}</td>
                                <td :data-original-title="row.data[2] + ' out of ' + row.data[1] + ' critable hits<br>Total Damage Critical Damage: ' + row.data[3]">
                                    {{round2(100*row.data[2] / row.data[1])}}%
                                </td>
                                <td :data-original-title="row.data[4] + ' out of ' + row.data[0] + ' hits<br>Pure Scholar Damage: ' + row.data[5] + '<br>Effective Physical Damage Increase: ' + round3(100*(row.data[6]/(row.data[6]-row.data[5]) - 1.0)) + '%'">
                                    {{round2(100*row.data[4] / row.data[0])}}%
                                </td>
                                <td :data-original-title="row.data[7] + ' out of ' + row.data[0] + ' hits<br>Pure Seaweed Damage: ' + row.data[8] + '<br>Effective Physical Damage Increase: ' +  round3(100*(row.data[6]/(row.data[6]-row.data[8]) - 1.0)) + '%'">
                                    {{round2(100*row.data[7]/ row.data[0])}}%
                                </td>
                                <td :data-original-title="row.data[9] + ' out of ' + row.data[0] + ' hits'">
                                    {{round2(100*row.data[9]/ row.data[0])}}%
                                </td>
                                <td :data-original-title="row.data[10] + ' out of ' + row.data[0] + ' hits'">
                                    {{round2(100*row.data[10]/ row.data[0])}}%
                                </td>
                                <td>{{row.data[11]}}</td>
                                <td>{{row.data[12]}}</td>
                                <td>{{row.data[13]}}</td>
                                <td :data-original-title="row.commons[1] + ' cancels'">{{row.commons[0]}}</td>
                                <td :data-original-title="row.commons[3] + ' cancels'">{{row.commons[2]}}</td>
                                <td>{{row.commons[4]}}</td>
                                <td>{{row.commons[5]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </gameplay-stats-component>
            <dmgmodifier-stats-component inline-template v-show="dataType === datatypes.dmgModifiersTable" :phase="phaseData.phase"
                :players="logdata.players" :targets="logdata.targets" :buffmap="logdata.boonMap" :phases="logdata.phases">
                <div v-if="modifiers.length > 0">
                    <div class="d-flex flex-row justify-content-center mt-1 mb-1">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 1" :class="{active: mode}">Target</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 0" :class="{active: !mode }">All</a>
                            </li>
                        </ul>
                    </div>
                    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="dmgmodifier-table">
                        <thead>
                            <tr>
                                <th>Sub</th>
                                <th></th>
                                <th class="text-left">Name</th>
                                <th>Account</th>
                                <th v-for="modifier in modifiers" :data-original-title="modifier.name">
                                    <img :src="modifier.icon" :alt="modifier.name" class="icon icon-hover">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in (mode ? rowsTarget : rows)">
                                <td>{{row.player.group}}</td>
                                <td :data-original-title="row.player.profession">
                                    <img :src="row.player.icon" :alt="row.player.profession" class="icon"><span style="display:none">{{row.player.profession}}</span>
                                </td>
                                <td class="text-left">{{row.player.name}}</td>
                                <td>{{row.player.acc}}</td>
                                <td v-for="(modifier, index) in modifiers" :data-original-title="getTooltip(row.data[index])">
                                    {{getCellValue(row.data[index])}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </dmgmodifier-stats-component>
            <support-stats-component inline-template v-show="dataType === datatypes.supTable" :phase="phaseData.phase"
                :players="logdata.players">
                <div>
                    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="sup-table">
                        <thead>
                            <tr>
                                <th>Sub</th>
                                <th></th>
                                <th class="text-left">Name</th>
                                <th>Account</th>
                                <th>Condi Cleanse</th>
                                <th>Resurrects</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in tableData.rows">
                                <td>{{row.player.group}}</td>
                                <td :data-original-title="row.player.profession"><img :src="row.player.icon" :alt="row.player.profession"
                                        class="icon"><span style="display:none">{{row.player.profession}}</span></td>
                                <td class="text-left">{{row.player.name}}</td>
                                <td>{{row.player.acc}}</td>
                                <td :data-original-title="row.sup[1] + ' seconds'">{{row.sup[0]}}</td>
                                <td :data-original-title="row.sup[3] + ' seconds'">{{row.sup[2]}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr v-for="sum in tableData.sums">
                                <td></td>
                                <td></td>
                                <td class="text-left">{{sum.name}}</td>
                                <td></td>
                                <td :data-original-title="Math.round(1000*sum.sup[1])/1000 + ' seconds'">{{sum.sup[0]}}</td>
                                <td :data-original-title="Math.round(1000*sum.sup[3])/1000  + ' seconds'">{{sum.sup[2]}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </support-stats-component>
            <defense-stats-component inline-template v-show="dataType === datatypes.defTable" :phase="phaseData.phase"
                :players="logdata.players">
                <div>
                    <table class="table table-sm table-striped table-hover" cellspacing="0" width="100%" id="def-table">
                        <thead>
                            <tr>
                                <th>Sub</th>
                                <th></th>
                                <th class="text-left">Name</th>
                                <th>Account</th>
                                <th>Dmg Taken</th>
                                <th>Dmg Barrier</th>
                                <th>Blocked</th>
                                <th>Invulned</th>
                                <th>Evaded</th>
                                <th><span data-toggle="tooltip" data-html="true" data-placement="top"
                                        data-original-title="Dodges or Mirage Cloak ">Dodges</span></th>
                                <th><img src="https://wiki.guildwars2.com/images/c/c6/Downed_enemy.png" alt="Downs"
                                        data-original-title="Times downed" class="icon icon-hover"></th>
                                <th><img src="https://wiki.guildwars2.com/images/4/4a/Ally_death_%28interface%29.png"
                                        alt="Dead" data-original-title="Time died" class="icon icon-hover"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in tableData.rows">
                                <td>{{row.player.group}}</td>
                                <td :data-original-title="row.player.profession"><img :src="row.player.icon" :alt="row.player.profession"
                                        class="icon"><span style="display:none">{{row.player.profession}}</span></td>
                                <td class="text-left">{{row.player.name}}</td>
                                <td>{{row.player.acc}}</td>
                                <td>{{row.def[0]}}</td>
                                <td>{{row.def[1]}}</td>
                                <td>{{row.def[2]}}</td>
                                <td>{{row.def[3]}}</td>
                                <td>{{row.def[4]}}</td>
                                <td>{{row.def[5]}}</td>
                                <td>{{row.def[6]}}</td>
                                <td :data-original-title="row.def[8]">{{row.def[7]}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr v-for="sum in tableData.sums">
                                <td></td>
                                <td></td>
                                <td class="text-left">{{sum.name}}</td>
                                <td></td>
                                <td>{{sum.def[0]}}</td>
                                <td>{{sum.def[1]}}</td>
                                <td>{{sum.def[2]}}</td>
                                <td>{{sum.def[3]}}</td>
                                <td>{{sum.def[4]}}</td>
                                <td>{{sum.def[5]}}</td>
                                <td>{{sum.def[6]}}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </defense-stats-component>
        </div>
        <div id="buff-stats">
            <buff-stats-component inline-template v-show="dataType <= datatypes.defensiveBuffTable && dataType>= datatypes.boonTable"
                :datatypes="datatypes" :datatype="dataType" :phase="phaseData.phase" :players="logdata.players"
                :presentboons="logdata.boons" :presentoffs="logdata.offBuffs" :presentdefs="logdata.defBuffs" :buffmap="logdata.boonMap">
                <div>
                    <div class="d-flex flex-row justify-content-center mt-2 mb-2">
                        <ul class="nav nav-pills d-flex flex-row justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 0" :class="{active: mode === 0}">Uptime</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 1" :class="{active: mode === 1 }">Generation Self</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 2" :class="{active: mode === 2 }">Generation Group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 3" :class="{active: mode === 3 }">Generation
                                    Off-Group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @click="mode = 4" :class="{active: mode === 4 }">Generation Squad</a>
                            </li>
                        </ul>
                    </div>
                    <buff-table-component v-show="datatype === datatypes.boonTable" :target="null" :condition="false"
                        :generation="mode > 0" :id="'boon-stats-table'" :buffs="boons" :playerdata="buffData.boonsData[mode]"
                        :sums="mode === 0 ? buffData.boonsData[5] : []">
                    </buff-table-component>
                    <buff-table-component v-show="datatype === datatypes.offensiveBuffTable" :target="null" :condition="false"
                        :generation="mode > 0" :id="'offensivebuff-stats-table'" :buffs="offs" :playerdata="buffData.offsData[mode]"
                        :sums="mode === 0 ? buffData.offsData[5] : []">
                    </buff-table-component>
                    <buff-table-component v-show="datatype === datatypes.defensiveBuffTable" :target="null" :condition="false"
                        :generation="mode > 0" :id="'defensivebuff-stats-table'" :buffs="defs" :playerdata="buffData.defsData[mode]"
                        :sums="mode === 0 ? buffData.defsData[5] : []">
                    </buff-table-component>
                </div>
            </buff-stats-component>
            <personal-buff-table-component inline-template v-show="dataType === datatypes.personalBuffTable" :phase="phaseData.phase"
                :persbuffs="logdata.persBuffs" :players="logdata.players" :buffmap="logdata.boonMap">
                <div>
                    <ul class="nav nav-pills d-flex flex-row justify-content-center mt-2 mb-2">
                        <li v-for="base in bases" class="nav-item">
                            <a class="nav-link" @click="mode = base" :class="{active: mode === base}">{{ base }}</a>
                        </li>
                    </ul>
                    <div v-for="(spec, id) in orderedSpecs" class="mt-3 mb-3">
                        <div v-show="specToBase[spec.name] === mode">
                            <h3 class="text-center">{{ spec.name }}</h3>
                            <buff-table-component :target="null" :condition="false" :generation="false" :id="'persbuffs-stats-table' + '_' + spec.name"
                                :buffs="buffs[id]" :playerdata="data[id]" :sums="[]">
                        </div>
                    </div>
                </div>
            </personal-buff-table-component>
        </div>
        <div id="mechanics-stats">
            <mechanics-stats-component inline-template v-show="dataType === datatypes.mechanicTable" :phase="phaseData.phase"
                :players="logdata.players" :enemies="logdata.enemies" :mechanics="logdata.mechanics">
                <div>
                    <table v-if="playerMechHeader.length > 0" class="table table-sm table-striped table-hover"
                        cellspacing="0" id="playermechs">
                        <thead>
                            <tr>
                                <th width="30px">Sub</th>
                                <th width="30px"></th>
                                <th class="text-left">Player</th>
                                <th v-for="mech in playerMechHeader" :data-original-title="mech.description">{{
                                    mech.shortName }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in playerMechRows">
                                <td>{{row.player.group}}</td>
                                <td :data-original-title="row.player.profession">
                                    <img :src="row.player.icon" :alt="row.player.profession" class="icon">
                                    <span style="display:none">{{row.player.profession}}</span>
                                </td>
                                <td class="text-left">{{row.player.name}}</td>
                                <td v-for="mech in row.mechs" :data-original-title="mech[1] !== mech[0] ? mech[1] + ' times (multi hits)' : false">{{
                                    mech[0] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table v-if="enemyMechHeader.length > 0" class="table table-sm table-striped table-hover"
                        cellspacing="0" id="enemymechs">
                        <thead>
                            <tr>
                                <th class="text-left">Enemy</th>
                                <th v-for="mech in enemyMechHeader" :data-original-title="mech.description">{{
                                    mech.shortName }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in enemyMechRows">
                                <td class="text-left">{{row.enemy}}</td>
                                <td v-for="mech in row.mechs" :data-original-title="mech[1] !== mech[0] ? mech[1] + ' times (multi hits)' : false">{{
                                    mech[0] ? mech[0] : '-' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mechanics-stats-component>
        </div>
        <div id="player-stats">
            <h3 class="text-center" v-show="!activePlayer">No player selected</h3>
            <player-stats-component inline-template v-show="dataType === datatypes.playerTab" v-show="activePlayer"
                :players="logdata.players" :phaseindex="phaseData.index" :phase="phaseData.phase" :targets="logdata.targets"
                :buffmap="logdata.boonMap" :skillmap="logdata.skillMap">
                <div>
                    <div v-for="(player, pindex) in players" v-show="player.active">
                        <div v-if="!player.isConjure">
                            <h3 class="text-center"><img :alt="player.profession" :src="player.icon">{{player.name}}</h3>
                            <player-tab-component inline-template :player="player" :playerindex="pindex" :phase="phase"
                                :phaseindex="phaseindex" :targets="targets" :buffmap="buffmap" :skillmap="skillmap"
                                :sortdata="sortdata">
                                <div>
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a class="nav-link" :class="{active: mode === 0}" @click="mode = 0">Damage
                                                Distribution</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" :class="{active: mode === 1}" @click="mode = 1">Damage
                                                Taken</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" :class="{active: mode === 2}" @click="mode = 2">Food</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" :class="{active: mode === 3}" @click="mode = 3">Simple
                                                Rotation</a>
                                        </li>
                                        <li v-if="player.details.deathRecap">
                                            <a class="nav-link" :class="{active: mode === 4}" @click="mode = 4">Death
                                                Recap</a>
                                        </li>
                                    </ul>
                                    <dmgdist-component inline-template v-show="mode === 0" :player="player"
                                        :playerindex="playerindex" :phaseindex="phaseindex" :buffmap="buffmap"
                                        :skillmap="skillmap" :targets="targets" :sortdata="sortdata.dmgdist">
                                        <div>
                                            <div v-if="player.minions.length > 0">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a class="nav-link" :class="{active: distmode === -1}" @click="distmode = -1">{{player.name}}</a>
                                                    </li>
                                                    <li v-for="(minion, mindex) in player.minions">
                                                        <a class="nav-link" :class="{active: distmode === mindex}"
                                                            @click="distmode = mindex">{{minion.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="d-flex flex-row justify-content-center mt-1 mb-1">
                                                <ul class="nav nav-pills">
                                                    <li class="nav-item">
                                                        <a class="nav-link" @click="targetmode = 1" :class="{active: targetmode}">Target</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" @click="targetmode = 0" :class="{active: !targetmode }">All</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <damagedist-table-component v-if="player.active" :dmgdist="targetmode === 0 ? dmgdist : dmgdisttarget"
                                                :tableid="'dmgdist-' + playerindex" :buffmap="buffmap" :skillmap="skillmap"
                                                :actor="actor" :isminion="distmode>=0" :istarget="targetmode === 1"
                                                :sortdata="sortdata"></damagedist-table-component>
                                        </div>
                                    </dmgdist-component>
                                </div>
                            </player-tab-component>
                        </div>
                    </div>
                </div>
            </player-stats-component>
        </div>
    </div>

    <div class="footer">
        <div>ARC: ${evtcVersion} | Boss ID: ${fightID} | EI Version: ${eiVersion}</div>
        <div>File recorded by: ${recordedBy}</div>
    </div>
</body>

</html>