<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link id="theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/${bootstrapTheme}/bootstrap.min.css"
          crossorigin="anonymous">
    <!--${Css}-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/sorting/alt-string.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script>
        function initTheme() {
            window.theme = '${bootstrapTheme}';
            if (window.localStorage) {
                var theme = window.localStorage.getItem('ei_theme');
                if (theme) {
                    window.theme = theme;
                    $('#theme').attr('href', 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/' + theme + '/bootstrap.min.css');
                }
            }
        }
        function storeTheme(theme) {
            if (window.localStorage) {
                window.localStorage.setItem('ei_theme', theme);
            }
        }
        initTheme();
    </script>

    <!--${Vue}-->
    <script>
        var logData = '${logDataJson}';
    </script>
    <script>
        var graphData = '${graphDataJson}';
    </script>
    <!--${Details}-->
    <!--${Maps}-->
    <!--${Js}-->
    <!--${JsCRLink}-->
    <!--${CombatReplayScript}-->
</head>

<body>
    <script>
        $('body').addClass('theme-' + window.theme);
    </script>
    <div class="d-flex justify-content-center align-item-center mt-2" id="loading">
        <div class="card" style="width: 75%;">
            <div class="card-body" style="margin: 100px; text-align: center;">
                Loading data...
            </div>
        </div>
    </div>
    <div v-cloak id="content">
        <div class="d-flex flex-row justify-content-center align-items-center mt-2" :class="{'ei-header': !mode, 'ei-header-big': mode}">
            <div class="card fight-summary" id="encounter" style="min-width: 350px;">
                <encounter-component></encounter-component>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center ml-5">
                <div class="d-flex flex-row justify-content-center align-items-center mt-3 mb-3">
                    <ul class="nav nav-pills" style="pointer-events:auto;">
                        <li class="nav-item">
                            <a class="nav-link" @click="switchTheme(true)" :class="{active: light}">Light Theme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click="switchTheme(false)" :class="{active: !light }">Dark Theme</a>
                        </li>
                    </ul>
                </div>
                <div v-if="animationStatus" class="d-flex flex-row justify-content-center align-items-center">
                    <ul class="nav nav-pills">
                        <li class="nav-item mb-1">
                            <a class="nav-link" @click="changeMode(0)" :class="{active: !mode}">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click="changeMode(1)" :class="{active: mode }">Combat Replay</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ei-container">
            <div id="stats" v-show="mode === 0">
                <div class="d-flex flex-row justify-content-center mt-2" id="phase-nav">
                    <phase-component :phases="logdata.phases"></phase-component>
                </div>
                <div class="d-flex flex-row justify-content-center mb-3 mt-3" id="actors">
                    <div v-show="dataType !== datatypes.targetTab" :class="{'d-flex':dataType !== datatypes.targetTab}"
                         id="targets" class="flex-row justify-content-center align-items-center flex-wrap mr-5">
                        <target-component :targets="logdata.targets" :phaseindex="activePhase"></target-component>
                    </div>
                    <div id="players" class="ml-5">
                        <player-component :players="logdata.players" :playerindex="activePlayer"></player-component>
                    </div>
                </div>
                <general-layout-component :layout="layout" :phaseindex="activePhase">
                </general-layout-component>
                <keep-alive>
                    <damage-stats-component v-if="dataType === datatypes.damageTable" :key="'damage'" :phaseindex="activePhase"
                                            :playerindex="activePlayer" :activetargets="activePhaseTargets"></damage-stats-component>
                    <gameplay-stats-component v-if="dataType === datatypes.gameplayTable" :key="'gameplay'" :phaseindex="activePhase"
                                              :playerindex="activePlayer" :activetargets="activePhaseTargets"></gameplay-stats-component>
                    <dmgmodifier-stats-component v-if="dataType === datatypes.dmgModifiersTable" :key="'modifier'"
                                                 :phaseindex="activePhase" :playerindex="activePlayer" :activetargets="activePhaseTargets"></dmgmodifier-stats-component>
                    <support-stats-component v-if="dataType === datatypes.supTable" :key="'support'" :phaseindex="activePhase"
                                             :playerindex="activePlayer"></support-stats-component>
                    <defense-stats-component v-if="dataType === datatypes.defTable" :key="'defense'" :phaseindex="activePhase"
                                             :playerindex="activePlayer"></defense-stats-component>
                    <graph-stats-component v-if="dataType === datatypes.dpsGraph" :key="'graph'" :activetargets="activePhaseTargets"
                                           :phaseindex="activePhase" :playerindex="activePlayer" :light="light"></graph-stats-component>
                    <buff-stats-component v-if="dataType <= datatypes.defensiveBuffTable && dataType>= datatypes.boonTable"
                                          :key="'buffs'" :datatypes="datatypes" :datatype="dataType" :phaseindex="activePhase"
                                          :playerindex="activePlayer"></buff-stats-component>
                    <personal-buff-table-component v-if="dataType === datatypes.personalBuffTable" :key="'persbuffs'"
                                                   :phaseindex="activePhase" :persbuffs="logdata.persBuffs" :playerindex="activePlayer"></personal-buff-table-component>
                    <mechanics-stats-component v-if="dataType === datatypes.mechanicTable" :key="'mechanics'"
                                               :phaseindex="activePhase" :playerindex="activePlayer"></mechanics-stats-component>
                    <target-stats-component v-if="dataType === datatypes.targetTab" :key="'targets'" :playerindex="activePlayer"
                                            :simplephase="logdata.phases[activePhase]" :phaseindex="activePhase" :light="light"></target-stats-component>
                    <player-stats-component v-if="dataType === datatypes.playerTab" :key="'players'" :activeplayer="activePlayer"
                                            :phaseindex="activePhase" :activetargets="activePhaseTargets" :light="light"></player-stats-component>
                </keep-alive>
            </div>
        </div>
        <div id="combat-replay" v-show="mode === 1" class="ei-container-big">
            <!--${CombatReplayBody}-->
        </div>
        <div class="footer" :class="{'ei-header': !mode, 'ei-header-big': mode}">
            <div>Time Start: ${encounterStart} | Time End: ${encounterEnd}</div>
            <div>ARC: ${evtcVersion} | Fight ID: ${fightID} | EI Version: ${eiVersion}</div>
            <div class="mb-2">File recorded by: ${recordedBy}</div>
            <!--${UploadLinks}-->
        </div>
    </div>
</body>

</html>