<ul class="nav nav-tabs">
	{{for tabs}}
	{{if subtabs}}
	<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">{{:name}}</a>
		<div class="dropdown-menu" x-placement="bottom-start">
			{{for subtabs ~idPrefix=~idPrefix+#getIndex()+"-" tabindex=#getIndex()}}
				<a class="dropdown-item" data-toggle="tab" href="#{{:~idPrefix+#index}}">{{if icon}}<img src="{{:icon}}" alt="{{:iconName}}" title="{{:iconName}}" class="icon" > {{/if}}{{:name}}</a>
			{{/for}}
		</div>
	</li>
	{{else}}
	<li class="nav-item"><a class="nav-link{{if #getIndex()==0}} active{{/if}}" data-toggle="tab" href="#{{attr:id?id:~idPrefix+#getIndex()}}"><span {{if title}}title="{{attr:title}}"{{/if}}>{{:name}}</span></a></li>
	{{/if}}
	{{/for}}
</ul>
<div class="tab-content">
{{for tabs}}
{{if subtabs}}
{{for subtabs ~idPrefix=~idPrefix+#getIndex()+"-" tabindex=#getIndex()}}
<div class="tab-pane fade{{if #index==0 && ~tabindex==0}} show active{{/if}}" id="{{attr:id?id:~idPrefix+#index}}">
	{{if !noTitle}}
	<h2 align="center" class="phase-title">{{if icon}}<img src="{{:icon}}" alt="{{:iconName}}" title="{{:iconName}}" class="icon"> {{/if}}{{>name}}</h2>
	{{/if}}
	{{:~buildContent(content,~idPrefix+#index,~level+1)}}
</div>
{{/for}}
{{else}}
<div class="tab-pane fade{{if #getIndex()==0}} show active{{/if}}{{if noTitle && content.tabs}} sub-tabs{{/if}}" id="{{attr:id?id:~idPrefix+#getIndex()}}">
	{{if !noTitle}}
	<h{{:~level+1}} align="center" class="phase-title">{{>name}}</h{{:~level+1}}>
	{{/if}}
	{{:~buildContent(content,~idPrefix+#getIndex(),~level+1)}}
</div>
{{/if}}
{{/for}}
</div>
