<table class="table table-sm table-striped table-hover" cellspacing="0">
	<thead>
		<tr><th width="30px">Sub</th><th width="30px"></th><th>Name</th>{{for boons}}<th width="40px" title="{{:name}}"><img src="{{:url}}" alt="{{:name}}" width="18" height="18"></th>{{/for}}</tr>
	</thead>
	<tbody>
		{{for rows ~boons=boons}}
		<tr>
			<td>{{:player.group}}</td>
			<td title="{{:player.profession}}"><img src="{{:player.icon}}" alt="{{:player.profession}}" height="18" width="18"><span style="display:none">{{:player.profession}}</span></td>
			<td{{if !~generation}} title="Average number of boons: {{:data.avg}}"{{/if}}>{{:player.name}}</td>
			{{for ~boons ~data=data}}
			{{if ~generation}}
			{{if ~data.val[#getIndex()][0]}}
			<td title="{{:~data.val[#getIndex()][1]}}{{if !stacking}}%{{/if}} with overstack">{{:~data.val[#getIndex()][0]}}{{if !stacking}}%{{/if}}</td>
			{{else}}
			<td>-</td>
			{{/if}}
			{{else}}
			{{if  ~data.val[#getIndex()][2]}}
			<td title="{{:~data.val[#getIndex()][2]}}">{{:~data.val[#getIndex()][0]}}{{if !stacking}}%{{/if}}</td>
			{{else stacking}}
			<td title="Uptime: {{:~data.val[#getIndex()][1]}}%">{{:~data.val[#getIndex()][0]}}</td>
			{{else}}
			<td>{{:~data.val[#getIndex()][0]}}%</td>
			{{/if}}
			{{/if}}
			{{/for}}
		</tr>
		{{/for}}
	</tbody>
	<tfoot>
		{{for sums ~boons=boons}}
		<tr><td></td><td></td><td>{{:name}}</td>{{for ~boons ~data=data}}<td></td>{{/for}}</tr>
		{{/for}}
	</tfoot>
</table>