<table class="table composition">
<tbody>
	{{for groups}}
	{{if #data}}
	<tr>
		{{for #data}}
		<td>
			<div>
				<img src="{{:icon}}" alt="{{:profession}}" class="icon" title="{{:profession}}">
				{{if condi}}<img src="https://wiki.guildwars2.com/images/5/54/Condition_Damage.png" alt="Condition Damage" title="Condition Damage -{{:condi}}" class="icon">{{/if}}
				{{if conc}}<img src="https://wiki.guildwars2.com/images/4/44/Boon_Duration.png" alt ="Concentration" title="Concentration -{{:conc}}" class="icon">{{/if}}
				{{if heal}}<img src="https://wiki.guildwars2.com/images/8/81/Healing_Power.png" alt="Healing Power" title="Healing Power -{{:heal}}" class="icon">{{/if}}
				{{if tough}}<img src="https://wiki.guildwars2.com/images/1/12/Toughness.png" alt="Toughness" title="Toughness -{{:tough}}" class="icon">{{/if}}
			</div>
			<div>
				{{if weapons[0]}}<img src="{{:~urls[weapons[0]]}}" alt="{{:weapons[0]}}" title="{{:weapons[0]}}" class="icon">{{else weapons[1]}}<img src="{{:~urls['Question']}}" alt="Unknown" title="Unknown" class="icon">{{/if}}{{if weapons[1]}}{{if weapons[1] != '2Hand'}}<img src="{{:~urls[weapons[1]]}}" alt="{{:weapons[1]}}" title="{{:weapons[1]}}" class="icon">{{/if}}{{else}}<img src="{{:~urls['Question']}}" alt="Unknown" title="Unknown" class="icon">{{/if}}
				
				{{if weapons[2] || weapons[3]}}
				&nbsp;/&nbsp; 
				{{if weapons[2]}}<img src="{{:~urls[weapons[2]]}}" alt="{{:weapons[2]}}" title="{{:weapons[2]}}" class="icon">{{else}}<img src="{{:~urls['Question']}}" alt="Unknown" title="Unknown" class="icon">{{/if}}{{if weapons[3]}}{{if weapons[3] != '2Hand'}}<img src="{{:~urls[weapons[3]]}}" alt="{{:weapons[3]}}" title="{{:weapons[3]}}" class="icon">{{/if}}{{else}}<img src="{{:~urls['Question']}}" alt="Unknown" title="Unknown" class="icon">{{/if}}
				{{/if}}
			</div>
			<div class="shorten" title="{{attr:acc}}">
				{{:name}}
			</div>
		</td>
		{{/for}}
	</tr>
	{{/if}}
	{{/for}}
</tbody>
</table>