<table class="table table-sm table-striped table-hover" cellspacing="0">
	<thead>
		<tr>
			{{if ~playerMech}}
			<th width="30px">Sub</th>
			<th width="30px"></th>
			<th class="text-left">Player</th>
			{{else}}
			<th class="text-left">Enemy</th>
			{{/if}}
			{{for mechanics}}
			{{if playerMech == ~playerMech}}
				<th title="{{:description}}">{{:name}}</th>
			{{/if}}
			{{/for}}
		</tr>
	</thead>
	<tbody>
		{{for rows ~mechanics=mechanics}}
		<tr>
			{{if ~playerMech}}
			<td>{{:player.group}}</td>
			<td title="{{:player.profession}}"><img src="{{:player.icon}}" alt="{{:player.profession}}" class="icon"><span style="display:none">{{:player.profession}}</span></td>
			<td class="text-left">{{:player.name}}</td>
			{{else}}
			<td class="text-left">{{:player.name}}</td>
			{{/if}}
			{{for ~mechanics ~data=data}}
			{{if playerMech == ~playerMech}}
			{{if ~data[#getIndex()][0]}}
			<td{{if ~data[#getIndex()][0] != ~data[#getIndex()][1]}}title="{{:~data[#getIndex()][1]}} times (multi hits)"{{/if}}>{{:~data[#getIndex()][0]}}</td>
			{{else}}
			<td>-</td>
			{{/if}}
			{{/if}}
			{{/for}}
		</tr>
		{{/for}}
	</tbody>
</table>