
<div>
    <ul v-if="phaseTargets.length > 1" class=" nav nav-tabs">
        <li v-for="target in phaseTargets">
            <a class="nav-link" :class="{active: phase.focus === target}" @click="phase.focus = target">
                {{target.name}}
            </a>
        </li>
    </ul>
    <keep-alive>
        <target-tab-component  v-for="(target, targetid) in targets" :key="targetid" v-if="phase.focus === target":target="target" :targetindex="targetid"
                              :phaseindex="phaseindex" :phase="phase" :players="players" :boons="boons" :conditions="conditions"></target-tab-component>
    </keep-alive>
</div>