<div>
    <h3 class="text-center"><img :alt="player.profession" class="icon" :src="player.icon">{{player.name}}</h3>
    <ul class="nav nav-tabs">
        <li>
            <a class="nav-link" :class="{active: mode === 0}" @click="mode = 0">
                Damage
                Distribution
            </a>
        </li>
        <li>
            <a class="nav-link" :class="{active: mode === 1}" @click="mode = 1">
                Damage
                Taken
            </a>
        </li>
        <li>
            <a class="nav-link" :class="{active: mode === 2}" @click="mode = 2">Graph</a>
        </li>
        <li>
            <a class="nav-link" :class="{active: mode === 3}" @click="mode = 3">
                Simple
                Rotation
            </a>
        </li>
        <li v-if="player.details.deathRecap">
            <a class="nav-link" :class="{active: mode === 4}" @click="mode = 4">
                Death
                Recap
            </a>
        </li>
    </ul>
    <keep-alive>
        <dmgdist-player-component v-if="mode === 0" :player="player" :playerindex="playerindex" :phaseindex="phaseindex"
            :activetargets="activetargets" :phase="phase"></dmgdist-player-component>
        <dmgtaken-player-component v-if="mode ===1" :player="player" :playerindex="playerindex" :phaseindex="phaseindex"
        ></dmgtaken-player-component>
        <player-graph-tab-component v-for="(ph, id) in phases" v-if="mode === 2 && id === phaseindex" :key="id" :player="player" :playerindex="playerindex" 
                            :phase="ph" :phaseindex="id"
                            :activetargets="activetargets" :targets="targets" 
                            :graph="graphdata.phases[id]" ></player-graph-tab-component>
        <simplerotation-component v-if="mode === 3" :rotation="player.details.rotation[phaseindex]"></simplerotation-component>
        <deathrecap-component v-if="player.details.deathRecap" v-show="mode === 4" :playerindex="playerindex" :phase="phase"
            :recaps="player.details.deathRecap"></deathrecap-component>
    </keep-alive>

</div>