<table class="table table-sm table-striped table-hover" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th class="text-left">Skill</th>
			<th>Damage</th>
			<th>Percent</th>
			<th>Hits</th>
			<th>Min</th>
			<th>Avg</th>
			<th>Max</th>
			<th>Crit</th>
			<th>Flank</th>
			<th>Glance</th>
		</tr>
	</thead>
	<tbody>
		{{for rows ~totalDamage=totalDamage}}
		<tr class="{{if skill.condi}}condi{{else}}power{{/if}}">
			<td class="text-left" title="{{:skill.id}}">{{if skill.icon}}<img src="{{:skill.icon}}" class="icon icon-hover"> {{/if}}{{:skill.name}}</td>
			<td>{{:data[3] || '-'}}</td>
			<td>{{if data[3]}}{{dec:data[3]*100.0/~totalDamage}}%{{else}}-{{/if}}</td>
			<td>{{:data[7] || '-'}}</td>
			<td>{{:data[4] || '-'}}</td>
			<td>{{if data[7]}}{{round:data[3]/data[7]}}{{else}}-{{/if}}</td>
			<td>{{:data[5] || '-'}}</td>

			<td>{{if !skill.condi && data[8]}}{{round:data[8]*100/data[7]}}%{{else}}-{{/if}}</td>
			<td>{{if !skill.condi && data[9]}}{{round:data[9]*100/data[7]}}%{{else}}-{{/if}}</td>
			<td>{{if !skill.condi && data[10]}}{{round:data[10]*100/data[7]}}%{{else}}-{{/if}}</td>
		</tr>
		{{/for}}
	</tbody>
	<tfoot class="text-dark">
			<tr>
				<td class="text-left">Total</td>
				<td>{{:totalDamage}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
	</tfoot>
</table>