<table class="table table-sm table-striped table-hover" cellspacing="0">
	<tfoot>
		{{for sums ~boons=boons}}
        <tr>
            {{for ~boons ~data=data}}
            {{if ~data.val}}
            <td {{if ~data.val[#getIndex()][1]}}title="Uptime: {{:~data.val[#getIndex()][1]}}%"{{/if}}>{{dec:~data.val[#getIndex()][0]}}{{if !stacking}}%{{/if}}</td>
            {{else}}
            <td>{{dec:~data[#getIndex()]}}{{if !stacking}}%{{/if}}</td>
            {{/if}}
            {{/for}}
        </tr>
		{{/for}}
	</tfoot>
</table>