<template>
    <div class="mt-1 combat-actor-status-container scrollable-y">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div v-for="(status, id) in targets" v-if="alive(status)" class="target-data ml-1 mr-1">
                <combat-replay-target-stats-component :time="time" :targetindex="id" :buffstoshow="buffsToShow">
                </combat-replay-target-stats-component>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-targets-stats-component", {
        props: ["time"],
        template: `${template}`,
        data: function () {
            return {               
                buffsToShow: ["others", "boons", "conditions", "fightSpecifics"]
            }
        },
        methods: {
            alive: function (status) {
                return status.start <= this.time && status.end >= this.time;
            }
        },
        computed: {
            targets: function () {
                var res = [];
                for (var i = 0; i < logData.targets.length; i++) {
                    var target = logData.targets[i];
                    var crTarget = animator.targetData.get(target.combatReplayID);
                    if (crTarget) {
                        res.push({
                            start: crTarget.start,
                            end: crTarget.end
                        });
                    }
                }
                return res;
            },
        }
    });
</script>