<div class="d-flex flex-row flex-wrap justify-content-center align-items-start mb-2">
    <ul class="nav nav-pills d-flex flex-row justify-content-center mb-1 scale65">
        <li class="nav-item">
            <a class="nav-link" :class="{active: buffs}" @click="buffs = !buffs">Show Buffs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :class="{active: rotation}" @click="rotation = !rotation">Show Rotation</a>
        </li>
    </ul>
    <div class="d-flex flex-column combat-actor-status-container">
        <div v-for="(group,id) in groups" v-if="group" class="d-flex flex-row align-items-center ml-2 mt-2">
            <h6 style="width:40px" class="text-center">Group {{id}}</h6>
            <div class="d-flex flex-row flex-wrap align-items-center ml-1" style="max-width:525px;border: 2px solid #888;">
                <div v-for="player in group" class="player-data ml-1 mr-1" :class="{active: selectedplayerindex === player.id}">
                    <combat-replay-player-stats-component :time="time" :buffs="buffs" :rotation="rotation" :playerindex="player.id"></combat-replay-player-stats-component>
                </div>
            </div>
        </div>
    </div>
</div>
