<template>
    <div class="d-flex flex-column justify-content-end" :style="{'height': height}">
        <div v-if="buffsToShowSet.has('fightSpecifics')">
            <combat-replay-buff-display :buffarray="data.fightSpecifics"></combat-replay-buff-display>
        </div>
        <div v-if="buffsToShowSet.has('others')">
            <combat-replay-buff-display :buffarray="data.others"></combat-replay-buff-display>
        </div>
        <div v-if="buffsToShowSet.has('conditions')">
            <combat-replay-buff-display :buffarray="data.conditions"></combat-replay-buff-display>
        </div>      
        <div v-if="buffsToShowSet.has('shared')">
            <combat-replay-buff-display :buffarray="data.shared"></combat-replay-buff-display>
        </div>  
        <div v-if="buffsToShowSet.has('boons')">
            <combat-replay-buff-display :buffarray="data.boons"></combat-replay-buff-display>
        </div>
        <div v-if="buffsToShowSet.has('consumables')" >
            <combat-replay-buff-display :buffarray="data.consumables"></combat-replay-buff-display>
        </div>
    </div>
</template>

<script>
    var buffDisplayHeight = 18;
    Vue.component("combat-replay-buff-display", {     
        props: ["buffarray"],    
        template: `
        <div v-if="buffarray.length > 0" class="d-flex buff-display" :style="{'height': height}">
            <div v-for="buff in buffarray" class="buff-container">
                <img :src="buff.buff.icon" :title="buff.buff.name" :alt="buff.buff.name" class="icon-s" />
                <div v-if="buff.state > 1" class="buff-number">{{buff.state}}</div>
            </div>
        </div>
        `,      
        computed: {
            height: function() {
                return buffDisplayHeight+ "px";
            },
        },
    });
    Vue.component("combat-replay-actor-buffs-stats-component", {
        mixins: [timeRefreshComponent],
        props: ["actorindex", "enemy", "buffstoshow"],
        template: `${template}`,
        computed: {
            height: function() {
                return buffDisplayHeight * this.buffstoshow.length + "px";
            },
            buffsToShowSet: function() {
                return new Set(this.buffstoshow);
            },
            boons: function () {
                var hash = new Set();
                for (var i = 0; i < logData.boons.length; i++) {
                    hash.add(logData.boons[i]);
                }
                return hash;
            },
            offs: function () {
                var hash = new Set();
                for (var i = 0; i < logData.offBuffs.length; i++) {
                    hash.add(logData.offBuffs[i]);
                }
                return hash;
            },
            defs: function () {
                var hash = new Set();
                for (var i = 0; i < logData.defBuffs.length; i++) {
                    hash.add(logData.defBuffs[i]);
                }
                return hash;
            },
            conditions: function () {
                var hash = new Set();
                for (var i = 0; i < logData.conditions.length; i++) {
                    hash.add(logData.conditions[i]);
                }
                return hash;
            },
            actor: function () {
                return this.enemy ? logData.targets[this.actorindex] : logData.players[this.actorindex];
            },
            buffData: function () {
                return this.actor.details.boonGraph[0];
            },
            data: function () {
                var res = {
                    shared: [],
                    boons: [],
                    conditions: [],
                    fightSpecifics: [],
                    others: [],
                    consumables: []
                };
                for (var i = 0; i < this.buffData.length; i++) {
                    var data = this.buffData[i];
                    var id = data.id;
                    var arrayToFill = [];
                    var buff = findSkill(true, id);
                    if (buff.consumable) {
                        arrayToFill = res.consumables;
                        if (!this.buffsToShowSet.has("consumables")) {
                            continue;
                        }
                    } else if (buff.fightSpecific) {
                        arrayToFill = res.fightSpecifics;
                        if (!this.buffsToShowSet.has("fightSpecifics")) {
                            continue;
                        }
                    } else if (this.boons.has(id)) {
                        arrayToFill = res.boons;
                        if (!this.buffsToShowSet.has("boons")) {
                            continue;
                        }
                    } else if (this.offs.has(id)) {
                        arrayToFill = res.shared;
                        if (!this.buffsToShowSet.has("shared")) {
                            continue;
                        }
                    } else if (this.defs.has(id)) {
                        arrayToFill = res.shared;
                        if (!this.buffsToShowSet.has("shared")) {
                            continue;
                        }
                    } else if (this.conditions.has(id)) {
                        arrayToFill = res.conditions;
                        if (!this.buffsToShowSet.has("conditions")) {
                            continue;
                        }
                    } else {
                        arrayToFill = res.others;
                        if (!this.buffsToShowSet.has("others")) {
                            continue;
                        }
                    }
                    var t = this.timeToUse / 1000;
                    var val = findState(data.states, t, 0, data.states.length - 1);
                    if (val > 0) {
                        arrayToFill.push({
                            state: val,
                            buff: buff
                        });
                    }
                }
                return res;
            }
        }
    });
</script>
