<template>
    <div>
        <div class="d-flex flex-column">
            <div v-for="group in groups" class="d-flex flex-row mb-1 align-items-center">
                <div>
                    <ul class="scale85 nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" @click="selectGroup(group)">
                                Select
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-wrap max-wd-900">
                    <div v-for="player in group" class="player-cell d-flex flex-column align-items-center justify-content-center" :class="{active: player.targetActive}"
                        @click="select(player.id)">
                        <div>
                            <img :src="player.icon" :alt="player.profession" class="icon"
                                :data-original-title="player.profession">
                            <img v-if="player.health > 0" :src="UIIcons.VitalityChar" alt="Health"
                                class="icon" :data-original-title="'Health: ' + player.health">
                        </div>                      
                        <div v-for="(weaponSet, weaponSetIndex) in player.weaponSets">
                            <div v-show="showWeaponSet(weaponSetIndex, player.weaponSets, encounterPhase)">
                                <div v-if="weaponSet.l1Set.length > 0 || weaponSet.l2Set.length > 0">
                                    <img v-for="wep in weaponSet.l1Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                                    <span v-if="weaponSet.l1Set.length > 0 && weaponSet.l2Set.length > 0">/</span>
                                    <img v-for="wep in weaponSet.l2Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                                </div>
                                <div v-if="weaponSet.a1Set.length > 0 || weaponSet.a2Set.length > 0">
                                    <img v-for="wep in weaponSet.a1Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                                    <span v-if="weaponSet.a1Set.length > 0 && weaponSet.a2Set.length > 0">/</span>
                                    <img v-for="wep in weaponSet.a2Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <img v-if="player.isCommander"
                                :src="UIIcons.Commander" alt="Commander"
                                class="icon" :data-original-title="getCommanderTooltip(player)">
                            <span class="player-cell-shorten" :data-original-title="player.name + ' - ' + player.acc">
                                {{ player.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</template>


<script>
    Vue.component("player-target-component", {
        props: ["players", "phaseindex"],
        mixins: [encounterPhaseComponent, playerHeaderComponent],
        template: `${template}`,
        methods: {
            select: function (id) {
                this.players[id].targetActive = !this.players[id].targetActive;
            },
            selectGroup: function (group) {
                let enable = true;
                if (group.filter(x => x.targetActive).length === group.length) {
                    enable = false;
                }
                for(let  i = 0; i < group.length; i++) {
                    this.players[group[i].id].targetActive = enable;
                }
            }
        },
        computed: {
            groups: function () {
                const aux = [];
                const players = getActiveNonFakePlayersForPhase(this.encounterPhase);
                for (let i = 0; i < players.length; i++) {
                    const playerData = players[i];
                    if (!playerData) {
                        continue;
                    }
                    if (!aux[playerData.group]) {
                        aux[playerData.group] = [];
                    }
                    const toPush = {};
                    Object.assign(toPush, playerData);
                    toPush.targetActive = this.players[i].targetActive;
                    aux[playerData.group].push(toPush);
                }

                const noUndefinedGroups = [];
                for (let i = 0; i < aux.length; i++) {
                    if (aux[i]) {
                        noUndefinedGroups.push(aux[i]);
                    }
                }
                return noUndefinedGroups;
            },
        }
    });
</script>