<template>
    <div>
        <div v-if="player.minions.length > 0">
            <ul class="nav nav-tabs">
                <li>
                    <a class="nav-link" :class="{active: distmode === -1}" @click="distmode = -1">{{player.name}}</a>
                </li>
                <li v-for="(minion, mindex) in player.minions">
                    <a class="nav-link" :class="{active: distmode === mindex}"
                        @click="distmode = mindex">{{minion.name}}</a>
                </li>
            </ul>
        </div>
        <damagedist-table-component :dmgdist="dmgtaken" :tableid="'dmgtakendist-' + playerindex" 
            :actorindex="-1" :minionindex="distmode" :istarget="false" :player="true"
            :phaseindex="phaseindex">
        </damagedist-table-component>
    </div>
</template>

<script>
    Vue.component('dmgtakendist-player-component', {
        props: ['playerindex','phaseindex'],
        template: `${template}`,
        data: function () {
            return {
                distmode: -1
            };
        },
        computed: {
            player: function () {
                return logData.players[this.playerindex];
            },
            dmgtaken: function () {
                if (this.distmode === -1) {
                    return this.player.details.dmgDistributionsTaken[this.phaseindex];
                }
                return this.player.details.minions[this.distmode].dmgDistributionsTaken[this.phaseindex];
            }
        },
    });
</script>