<template>
    <div>
        <div v-for="group in groups">
            <div class="ei-player-list">
                <div class="ei-group-label">Group {{ group.num }}</div>
                <div v-for="player in group.players"
                     class="ei-player-row"
                     :class="{ off: !player.active }"
                     :data-original-title="player.name + ' · ' + player.acc + ' · ' + player.profession"
                     @click="select(player.id)">
                    <div class="ei-av" :class="{ on: player.active }">
                        <img :src="player.icon" :alt="player.profession">
                    </div>
                    <span class="ei-player-name">{{ player.name }}</span>
                    <div v-if="player.active" class="ei-player-dot"></div>
                    <img v-if="runningExtensions && runningExtensions[player.id]"
                         :src="UIIcons.GreenFlag" alt="Extensions"
                         class="icon-s" :data-original-title="computeExtensionTooltip(runningExtensions[player.id])">
                    <img v-if="player.isCommander"
                         :src="UIIcons.Commander" alt="Commander"
                         class="icon-s" :data-original-title="getCommanderTooltip(player)">
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    Vue.component("player-component", {
        props: ["players", "phaseindex"],
        mixins: [encounterPhaseComponent, playerHeaderComponent],
        template: `${template}`,
        methods: {
            select: function (id) {
                for (var i = 0; i < this.players.length; i++) {
                    if (id === i) {
                        reactiveLogdata.activeEncounterPhaseData[this.encounterPhase.encounterID].player = i;
                        this.players[i].active = true;
                    } else {
                        this.players[i].active = false;
                    }
                }
            },
            computeExtensionTooltip: function(data) {
                var str = "Player is running: <br>";
                for (var i = 0; i < data.length; i++) {
                    str += "- " + data[i] + " Extension";
                    if (i !== data.length - 1) { str += "<br>"; }
                }
                return str;
            }
        },
        computed: {
            UIIcons: function () { return UIIcons; },
            groups: function () {
                var auxMap = {};
                const players = getActiveNonFakePlayersForPhase(this.encounterPhase);
                for (var i = 0; i < players.length; i++) {
                    var playerData = players[i];
                    if (!playerData) { continue; }
                    var g = playerData.group;
                    if (!auxMap[g]) { auxMap[g] = { num: g, players: [] }; }
                    var toPush = {};
                    Object.assign(toPush, playerData);
                    toPush.active = this.players[i].active;
                    auxMap[g].players.push(toPush);
                }
                return Object.values(auxMap).sort(function(a, b) { return a.num - b.num; });
            },
            runningExtensions: function () {
                if (logData.usedExtensions) {
                    var res = [];
                    const players = getActiveNonFakePlayersForPhase(this.encounterPhase);
                    for (var i = 0; i < players.length; i++) {
                        var playerData = players[i];
                        if (!playerData) { res.push(null); continue; }
                        var subRes = [];
                        for (var j = 0; j < logData.usedExtensions.length; j++) {
                            var usedExtension = logData.usedExtensions[j];
                            var playersRunning = logData.playersRunningExtensions[j];
                            if (playersRunning.includes(playerData.name)) {
                                subRes.push(usedExtension.split(" - ")[0]);
                            }
                        }
                        res.push(subRes.length > 0 ? subRes : null);
                    }
                    return res;
                }
                return null;
            },
        }
    });
</script>
