<template>
    <div class="ei-phase-list">
        <div v-for="phase in normalPhases"
             class="ei-phase-item"
             :class="{ active: phase.active }"
             :data-original-title="getPhaseTooltip(phase.index)"
             @click="select(phase)">
            {{ getPhaseName(phase.index) }}
            <span class="ei-phase-pct">{{ getPhasePct(phase.index) }}</span>
        </div>
        <div v-if="hasBreakbarPhases">
            <div class="ei-group-label" style="padding-left:26px;margin-top:2px">Breakbar</div>
            <div v-for="data in breakbarPhasesPerTarget">
                <div v-for="(phase, id) in data.phases"
                     class="ei-phase-item child"
                     :class="{ active: phase.active }"
                     :data-original-title="getBreakbarPhaseTooltip(phase.index)"
                     @click="select(phase)">
                    {{ getTargetData(data.targetId).name }} #{{ id + 1 }}
                    <span class="ei-phase-pct">{{ getPhasePct(phase.index) }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component("phase-component", {
        props: ["phases"],
        mixins: [encounterPhaseComponent],
        template: `${template}`,
        computed: {
            phasesToUse: function() {
                return getPhasesForSelectedEncounter(this.phases, this.encounters);
            },
            normalPhases: function () {
                return this.phasesToUse.filter(function(phase) { return !logData.phases[phase.index].breakbarPhase; });
            },
            hasBreakbarPhases: function () {
                return this.breakbarPhasesPerTarget.length > 0;
            },
            breakbarPhasesPerTarget: function () {
                var res = [];
                for (var targetId = 0; targetId < logData.targets.length; targetId++) {
                    var brPhases = this.phasesToUse.filter(function(phase) {
                        const logPhase = logData.phases[phase.index];
                        return logPhase.breakbarPhase && logPhase.targets.indexOf(targetId) > -1;
                    });
                    if (brPhases.length > 0) {
                        res.push({ targetId: targetId, phases: brPhases });
                    }
                }
                return res;
            },
        },
        methods: {
            select: function (phase) {
                for (var i = 0; i < this.phases.length; i++) {
                    if (this.phases[i] === phase) {
                        reactiveLogdata.activeEncounterPhaseData[this.encounterPhase.encounterID].phase = i;
                        this.phases[i].active = true;
                    } else {
                        this.phases[i].active = false;
                    }
                }
            },
            getPhaseData: function (id) {
                return logData.phases[id];
            },
            getPhaseName: function (id) {
                const phase = this.getPhaseData(id);
                return phase === this.encounterPhase ? phase.nameNoMode : phase.name;
            },
            getPhasePct: function (id) {
                const phase = this.getPhaseData(id);
                const enc = this.encounterPhase;
                if (!enc || enc.duration === 0) return '';
                return Math.round(phase.duration / enc.duration * 100) + '%';
            },
            getTargetData: function (id) {
                return logData.targets[id];
            },
            getPhaseTooltip: function(id) {
                var phase = this.getPhaseData(id);
                return phase.durationS + ' seconds <br /> Start: ' + phase.start + '<br /> End: ' + phase.end;
            },
            getBreakbarPhaseTooltip: function(id) {
                var phase = this.getPhaseData(id);
                var target = this.getTargetData(phase.targets[0]);
                var breakbarTaken = target.details.dmgDistributionsTaken[id].contributedBreakbarDamage;
                return this.getPhaseTooltip(id) +
                    '<br /> Breakbar Active at: ' + phase.breakbarStart +
                    '<br /> Breakbar Damage: ' + breakbarTaken +
                    '<br /> Breakbar Recovered (Regeneration + Soft CC): ' + phase.breakbarRecovered;
            },
        }
    });
</script>
