<template>
    <div>
        <ul v-if="showNormalPhases" class="nav nav-pills d-flex flex-row justify-content-center">
            <li class="nav-item" v-for="phase in phasesToUse" v-show="!getPhaseData(phase.index).breakbarPhase"
                :data-original-title="getPhaseTooltip(phase.index)">
                <a class="nav-link" @click="select(phase)" :class="{active: phase.active}">{{getPhaseName(phase.index)}}</a>
            </li>
        </ul>
        <div v-if="hasBreakbarPhases" class="d-flex flex-row justify-content-center align-items-center">
            <span class="mr-1">Breakbar Phases: </span>
            <div style="max-width: 1200px;" class="d-flex flex-row align-items-center scrollable-x">
                <div v-for="data in breakbarPhasesPerTarget"
                class="d-flex flex-row flex-nowrap  align-items-center mr-1 ml-1">
                <img class="icon-sl mr-2" :src="getTargetData(data.targetId).icon"
                    :alt="getTargetData(data.targetId).name" :data-original-title="getTargetData(data.targetId).name"
                    >
                <ul class="nav nav-pills d-flex flex-row flex-nowrap">
                    <li class="nav-item" v-for="(phase, id) in data.phases"
                        v-show="getPhaseData(phase.index).breakbarPhase"
                        :data-original-title="getBreakbarPhaseTooltip(phase.index)">
                        <a class="nav-link" @click="select(phase)"
                            :class="{active: phase.active}">{{id + 1}}</a>
                    </li>
                </ul>
            </div>
            </div>

        </div>

    </div>
</template>

<script>
    Vue.component("phase-component", {
        props: ["phases"],
        mixins: [encounterPhaseComponent],
        template: `${template}`,
        computed: {
            phasesToUse: function() {
                return getPhasesForSelectedEncounter(this.phases, this.encounters);
            },
            showNormalPhases: function () {
                return this.normalPhases.length > 1 || this.hasBreakbarPhases;
            },
            normalPhases: function () {
                return this.phasesToUse.filter(phase => !phase.breakbarPhase);
            },
            hasBreakbarPhases: function () {
                return this.breakbarPhasesPerTarget.length > 0;
            },
            breakbarPhasesPerTarget: function () {
                var res = [];
                for (var targetId = 0; targetId < logData.targets.length; targetId++) {
                    var brPhases = this.phasesToUse.filter(phase => {
                        const logPhase = logData.phases[phase.index];
                        return logPhase.breakbarPhase && logPhase.targets.indexOf(targetId) > -1;
                    });
                    var phases = [];
                    for (var brPhaseId = 0; brPhaseId < brPhases.length; brPhaseId++) {
                        phases.push(brPhases[brPhaseId]);
                    }
                    if (phases.length > 0) {
                        res.push({ targetId: targetId, phases: phases });
                    }
                }
                return res;
            },
        },
        methods: {
            select: function (phase) {
                for (var i = 0; i < this.phases.length; i++) {
                    if (this.phases[i] === phase) {
                        reactiveLogdata.activeEncounterPhaseData[this.encounterPhase.encounterID].phase = i;
                        this.phases[i].active = true;
                    } else {
                        this.phases[i].active = false;
                    }
                }
            },
            getPhaseData: function (id) {
                return logData.phases[id];
            },
            getPhaseName: function (id) {
                const phase = this.getPhaseData(id);
                return phase === this.encounterPhase ? phase.nameNoMode : phase.name;
            },
            getTargetData: function (id) {
                return logData.targets[id];
            },
            getPhaseTooltip: function(id) {
                var phase = this.getPhaseData(id);
                return phase.durationS + ' seconds <br /> Start: ' + phase.start + '<br /> End: ' + phase.end;
            },
            getBreakbarPhaseTooltip: function(id) {
                var phase = this.getPhaseData(id);
                var target = this.getTargetData(phase.targets[0]);
                var breakbarTaken = target.details.dmgDistributionsTaken[id].contributedBreakbarDamage;
                return this.getPhaseTooltip(id) +
                    '<br /> Breakbar Active at: ' + phase.breakbarStart +
                    '<br /> Breakbar Damage: ' + breakbarTaken +
                    '<br /> Breakbar Recovered (Regeneration + Soft CC): ' + phase.breakbarRecovered;
            }
        }
    });
</script>
