<template>
    <div>
        <ul class="nav nav-tabs">
            <li>
                <a class="nav-link" :class="{active: tab === 0}" @click="tab = 0">Boons</a>
            </li>
            <li v-if="hasOffBuffs">
                <a class="nav-link" :class="{active: tab === 1}" @click="tab = 1">Offensive Buffs</a>
            </li>
            <li v-if="hasSupBuffs">
                <a class="nav-link" :class="{active: tab === 2}" @click="tab = 2">Support Buffs</a>
            </li>
            <li v-if="hasDefBuffs">
                <a class="nav-link" :class="{active: tab === 3}" @click="tab = 3">Defensive Buffs</a>
            </li>
            <li v-if="hasConditions">
                <a class="nav-link" :class="{active: tab === 5}" @click="tab = 5">Conditions</a>
            </li>
            <li v-if="hasGearBuffs">
                <a class="nav-link" :class="{active: tab === 4}" @click="tab = 4">Gear Buffs</a>
            </li>
            <li v-if="hasDebuffs">
                <a class="nav-link" :class="{active: tab === 7}" @click="tab = 7">Debuffs</a>
            </li>
            <li v-if="hasNourishments">
                <a class="nav-link" :class="{active: tab === 8}" @click="tab = 8">Nourishments</a>
            </li>
            <li v-if="hasEnhancements">
                <a class="nav-link" :class="{active: tab === 9}" @click="tab = 9">Enhancements</a>
            </li>
            <li v-if="hasOtherConsumables">
                <a class="nav-link" :class="{active: tab === 10}" @click="tab = 10">Other Consumables</a>
            </li>
            <li v-if="hasPersBuffs">
                <a class="nav-link" :class="{active: tab === 6}" @click="tab = 6">Personal Buffs</a>
            </li>
        </ul>
        <div :key="'activeduration'" class="d-flex flex-row justify-content-center mt-1 mb-1" v-if="showActiveDuration">
            <ul class="nav nav-pills d-flex flex-row justify-content-center scale85">
                <li class="nav-item">
                    <a class="nav-link" @click="activeduration = 0" :class="{active: activeduration === 0}">Phase
                        duration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="activeduration = 1" data-original-title="Removed dead time and dc time"
                        :class="{active: activeduration === 1 }">Phase active duration</a>
                </li>
            </ul>
        </div>
        <keep-alive>
            <buff-stats-component v-if="tab < 4" :key="'buffs'" :type="tab" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></buff-stats-component>
            <gear-buff-table-component v-if="tab === 4" :key="'gearbuffs'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></gear-buff-table-component>
            <nourishement-buff-table-component v-if="tab === 8" :key="'nourishments'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></nourishement-buff-table-component>
            <enhancement-buff-table-component v-if="tab === 9" :key="'enhancements'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></enhancement-buff-table-component>
            <otherconsumable-buff-table-component v-if="tab === 10" :key="'otherconsumables'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></otherconsumable-buff-table-component>
            <conditions-table-component v-if="tab === 5" :key="'conditions'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></conditions-table-component>
            <debuff-table-component v-if="tab === 7" :key="'debuffs'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></debuff-table-component>
            <personal-buff-table-component v-if="tab === 6" :key="'persbuffs'" :phaseindex="phaseindex"
                :playerindex="playerindex" :activeduration="activeduration"></personal-buff-table-component>
        </keep-alive>
    </div>

</template>

<script>
    function getDefaultBuffTableSubComponent() {
        if (validateStartPath("HealingStatistics/Buffs/Uptimes") || validateStartPath("Statistics/Buffs/Uptimes")) {
            const setting = EIUrlParams.get("startPage");
            const compo = setting.split('/')[3];
            switch (compo) {
                case "Boons":
                    return 0;
                case "OffensiveBuffs":
                    return hasOffBuffs() ? 1 : 0;
                case "SupportBuffs":
                    return hasSupBuffs() ? 2 : 0;
                case "DefensiveBuffs":
                    return hasDefBuffs() ? 3 : 0;
                case "Conditions":
                    return hasConditions() ? 5 : 0;
                case "GearBuffs":
                    return hasGearBuffs() ? 4 : 0;
                case "Debuffs":
                    return hasDebuffs() ? 7 : 0;
                case "Nourishments":
                    return hasNourishments() ? 8 : 0;
                case "Enhancements":
                    return hasEnhancements() ? 9 : 0;
                case "Other Consumables":
                    return hasOtherConsumables() ? 10 : 0;
                case "Personal Buffs":
                    return hasPersBuffs() ? 6 : 0;
            }
        }
        return 0;
    }
    Vue.component("buff-tables-component", {
        props: ["phaseindex", "playerindex"],
        template: `${template}`,
        data: function () {
            return {
                activeduration: 0,
                tab: getDefaultBuffTableSubComponent(),
            };
        },
        computed: {
            showActiveDuration: function () {
                return this.tab < 8 || this.tab > 10;
            },
            hasOffBuffs: function () {
                return hasOffBuffs();
            },
            hasDefBuffs: function () {
                return hasDefBuffs();
            },
            hasSupBuffs: function () {
                return hasSupBuffs();
            },
            hasGearBuffs: function () {
                return hasGearBuffs();
            },
            hasDebuffs: function () {
                return hasDebuffs();
            },
            hasConditions: function () {
                return hasConditions();
            },
            hasNourishments: function () {
                return hasNourishments();
            },
            hasEnhancements: function () {
                return hasEnhancements();
            },
            hasOtherConsumables: function () {
                return hasOtherConsumables();
            },
            hasPersBuffs: function () {
                return hasPersBuffs()
            },
        }
    });
</script>